{%
    set pageData = {
        couponId : data.couponId | default(''),
        startText : data.startText | default('Coming Soon'),
        getCouponText : data.getCouponText | default('Get now'),
        couponTitle : data.couponTitle | default('CRAZY COUPON'),
        countDown : data.countDown | default('1'),
        couponBtnMarginTop: data.couponBtnMarginTop|default(40),
        couponTimerMarginTop: data.couponTimerMarginTop|default(40),
    }
%}
{# start wrap #}
{{include ('@app/files/parts/ui/U000086/coupon1/style.twig')}} 
{# end wrap #}

<div data-key="U000086" id="box{{ pageInstanceId }}" data-id="{{ pageInstanceId }}" data-static-domain="{{staticDomain}}" data-gid="U000086" class="geshop-component-box component-drag gs-index-main wrap-U000086-1">
    <div data-module="U000086-1" data-box="coupon-{{ pageInstanceId }}-1">
        <input 
            class="hide-info-input"
            type="hidden"
            startIn="{{ get_component_trans(lang,'start_in') }}"
            endIn="{{ get_component_trans(lang,'end_in') }}"
            successText="{{ get_component_trans(lang,'success_text') }}"
            startText="{{ pageData.startText }}"
            getCouponText="{{ pageData.getCouponText }}"
            lang="{{ lang }}"
            serverTime="{{ serverTime }}"
            couponId="{{ pageData.couponId }}"
            countDown="{{ pageData.countDown }}"
            env="{{ data.isEditEnv }}"
            staticDomain="{{staticDomain}}"
            siteCode="{{siteCode}}"
        />
        <div class="over-box">
            <div class="over-box-table"><span>{{ get_component_trans(lang,'btn_ended') }}</span></div>
        </div>
        <div class="coupon-inset">
            
            <div class="coupon-body">
                <div class="coupon-layout coupon-top">
                    <div class="center-center">{{ pageData.couponTitle }}</div>
                </div>
                <div class="coupon-layout coupon-middle" style="{% if pageData.couponBtnMarginTop %}margin-top:{{pageData.couponBtnMarginTop}}px;{% endif %}">
                    <div class="center-center">
                    <div class="coupon-btn inline-box"></div>
                    </div>
                </div>
                <div class="coupon-layout coupon-bottom" style="{% if pageData.couponTimerMarginTop %}margin-top:{{pageData.couponTimerMarginTop}}px;{% endif %}">
                    <div class="center-center">
                    <div class="coupon-text"></div>
                    <div class="coupon-time-box">
                        <strong class="time-line"></strong><span>:</span><strong class="time-line"></strong><span>:</span><strong class="time-line"></strong><span>:</span><strong class="time-line"></strong> 
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
