<div class="geshop-col-4" style="text-align: left;">
    {% if data.img1Src %}
        <a href="{{ data.img1Href }}">
            <img alt="{{ data.img1Alt }}" src="{{ data.img1Src }}" style="display: block; vertical-align: top; width: 3.04rem;">
        </a>
    {% else %}
        <p style="border: 1px solid #dddddd; height: 64px; line-height: 64px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">图片一</p>
    {% endif %}
</div>

<div class="geshop-col-4" style="text-align: center;">
    {% if data.img2Src %}
        <a href="{{ data.img2Href }}">
            <img alt="{{ data.img2Alt }}" src="{{ data.img2Src }}" style="display: block; vertical-align: top; width: 3.04rem;">
        </a>
    {% else %}
        <p style="border: 1px solid #dddddd; height: 64px; line-height: 64px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">图片二</p>
  {% endif %}
</div>

<div class="geshop-col-4" style="text-align: right;">
    {% if data.img3Src %}
        <a href="{{ data.img3Href }}">
            <img alt="{{ data.img3Alt }}" src="{{ data.img3Src }}" style="display: block; vertical-align: top; width: 3.04rem;">
        </a>
    {% else %}
        <p style="border: 1px solid #dddddd; height: 64px; line-height: 64px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">图片三</p>
    {% endif %}
</div>