<h4 class="column-title"><i class="layui-icon back" id="js_advanced_baseConfig">&#xe603;</i>高级设置</h4>

<div class="layui-collapse">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">标题配置</h2>
        <div class="layui-colla-content layui-show">
            <div class="layui-form-item">
                <label class="form-item-label">标题文字大小(px)</label>
                <div class="layui-input-block">
                    <input type="text" name="titleFontSize" autocomplete="off" class="layui-input" value="{{ data.titleFontSize | default(40) }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="form-item-label">标题高度（px）</label>
                <div class="layui-input-block">
                    <input type="text" name="titleHeight" autocomplete="off" class="layui-input" value="{{ data.titleHeight | default(100) }}">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">商品整体配置</h2>
        <div class="layui-colla-content layui-show">
            <div class="layui-row layui-col-space20">
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        {{
                            include ('lib/ColorPicker2.twig', {
                                'cmpt_label': '鼠标滑过商品投影颜色',
                                'cmpt_name': 'goodsHoverShadow',
                                'cmpt_value': data.goodsHoverShadow,
                                'cmpt_default': '#cccccc'
                            })
                        }}
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        {{
                            include ('lib/ColorPicker2.twig', {
                                'cmpt_label': '鼠标滑过商品边框颜色',
                                'cmpt_name': 'goodsHoverBdColor',
                                'cmpt_value': data.goodsHoverBdColor,
                                'cmpt_default': '#999999'
                            })
                        }}
                    </div>
                </div>         
            </div>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">商品信息配置</h2>
        <div class="layui-colla-content layui-show">
            <div class="layui-form-item">
                {{
                    include ('lib/ColorPicker2.twig', {
                        'cmpt_label': '商品标题颜色',
                        'cmpt_name': 'goodsFontColor',
                        'cmpt_value': data.goodsFontColor,
                        'cmpt_default': '#333333'
                    })
                }}
            </div>
            <div class="layui-row layui-col-space20">
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        {{
                            include ('lib/Input.twig', {
                                'cmpt_label': '兑换按钮宽度（px）',
                                'cmpt_name': 'goodsBtnWidth',
                                'cmpt_value': data.goodsBtnWidth,
                                'cmpt_default': '251'
                            })
                        }}
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        {{
                            include ('lib/Input.twig', {
                                'cmpt_label': '兑换按钮高度（px）',
                                'cmpt_name': 'goodsBtnHeight',
                                'cmpt_value': data.goodsBtnHeight,
                                'cmpt_default': '40'
                            })
                        }}
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                {{
                    include ('lib/Input.twig', {
                        'cmpt_label': '兑换按钮圆角（px）',
                        'cmpt_name': 'goodsBtnRadius',
                        'cmpt_value': data.goodsBtnRadius,
                        'cmpt_default': '20'
                    })
                }}
            </div>
            <div class="layui-form-item">
                {{
                    include ('lib/Input.twig', {
                        'cmpt_label': '兑换按钮文本大小（px）',
                        'cmpt_name': 'goodsBtnFontSize',
                        'cmpt_value': data.goodsBtnFontSize,
                        'cmpt_default': '16'
                    })
                }}
            </div>
            <div class="layui-form-item">
                {{
                    include ('lib/ColorPicker2.twig', {
                        'cmpt_label': '鼠标滑过兑换按钮背景颜色',
                        'cmpt_name': 'goodsHoverBtnBgColor',
                        'cmpt_value': data.goodsHoverBtnBgColor,
                        'cmpt_default': '#000000'
                    })
                }}
            </div>
            <div class="layui-form-item">
                {{
                    include ('lib/ColorPicker2.twig', {
                        'cmpt_label': '鼠标滑过兑换按钮文本颜色',
                        'cmpt_name': 'goodsHoverBtnFontColor',
                        'cmpt_value': data.goodsHoverBtnFontColor,
                        'cmpt_default': '#f8f8f8'
                    })
                }}
            </div>
            <div class="layui-form-item">
                {{
                    include ('lib/Upload.twig', {
                        'cmpt_label': '兑换按钮背景图片',
                        'cmpt_name': 'goodsBtnImg',
                        'cmpt_value': data.goodsBtnImg,
                        'cmpt_default': ''
                    })
                }}
            </div>
            <div class="layui-form-item">
                {{
                    include ('lib/Upload.twig', {
                        'cmpt_label': '鼠标滑过兑换按钮背景图片',
                        'cmpt_name': 'goodsHoverBtnImg',
                        'cmpt_value': data.goodsHoverBtnImg,
                        'cmpt_default': ''
                    })
                }}
            </div>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">查看更多配置</h2>
        <div class="layui-colla-content layui-show">
            <div class="layui-form-item">
                <label class="form-item-label">View More是否显示</label>
                <div class="layui-input-block">
                    <input type="radio" value="1" name="viewmoreShow" title="是" {% if data.viewmoreShow is empty or data.viewmoreShow == 1 %} checked {% endif %}/>
                    <input type="radio" value="0" name="viewmoreShow" title="否" {% if data.viewmoreShow is not null and data.viewmoreShow == 0 %} checked {% endif %}/>
                </div>
            </div>
            <div class="layui-form-item">
                {{
                    include ('lib/Input.twig', {
                        'cmpt_label': '文案',
                        'cmpt_name': 'viewmoreText',
                        'cmpt_value': data.viewmoreText,
                        'cmpt_default': 'VIEW MORE'
                    })
                }}
            </div>
            <div class="layui-row layui-col-space20">
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        {{
                            include ('lib/Input.twig', {
                                'cmpt_label': '文本大小',
                                'cmpt_name': 'viewmoreFontSize',
                                'cmpt_value': data.viewmoreFontSize,
                                'cmpt_default': '16'
                            })
                        }}
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        {{
                            include ('lib/Input.twig', {
                                'cmpt_label': '按钮圆角（px）',
                                'cmpt_name': 'viewmoreRadius',
                                'cmpt_value': data.viewmoreRadius,
                                'cmpt_default': '20'
                            })
                        }}
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        {{
                            include ('lib/ColorPicker2.twig', {
                                'cmpt_label': '鼠标滑过文本颜色',
                                'cmpt_name': 'viewmoreHoverFontColor',
                                'cmpt_value': data.viewmoreHoverFontColor,
                                'cmpt_default': '#000000'
                            })
                        }}
                    </div>
                </div> 
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        {{
                            include ('lib/ColorPicker2.twig', {
                                'cmpt_label': '鼠标滑过背景颜色',
                                'cmpt_name': 'viewmoreHoverBgColor',
                                'cmpt_value': data.viewmoreHoverBgColor,
                                'cmpt_default': ''
                            })
                        }}
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                {{
                    include ('lib/ColorPicker2.twig', {
                        'cmpt_label': '鼠标滑过边框颜色',
                        'cmpt_name': 'viewmoreHoverBdColor',
                        'cmpt_value': data.viewmoreHoverBdColor,
                        'cmpt_default': '#000000'
                    })
                }}
            </div>
        </div>
    </div>
</div>
