<div class="ge-196d-dialog ge-196d-dialog-my-ranking">
    <div class="ge-196d-dialog-mask"></div>
    <div class="ge-196d-dialog-container">
        {# <div class="ge-196d-dialog-close js_close-dialog" data-tag="ge-196d-dialog-my-ranking">
            <img src="{{ data.default.u000187_default_close }}" alt="">
        </div> #}
        {# <h2 class="title">{{ languages.ruleBtn[lang] }}</h2> #}
        <h2 class="title site-bold-strict">{{ languages.rankingTitle[lang]|default(languages.rankingTitle.en) }}</h2>
        <div class="content">
            {# <p class="ranking-item">{{ languages.todayAmount[lang] }}</p>
            <p class="ranking-item">{{ languages.totalAmount[lang] }}</p>
            <p class="ranking-item">{{ languages.myRanking[lang] }}</p> #}
        </div>
        <div class="geshop-188d-dialog-footer">
            <button class="js_close-dialog" data-tag="ge-196d-dialog-my-ranking">OK</button>
        </div>
    </div>
</div>
