<style>
.layui-form-select .layui-edge{
	right:20px;
}
</style>

{%
	set pageData = {
		price_ft_weight:data.price_ft_weight|default(0),
		base_bg_shadow:data.base_bg_shadow|default(1),
		base_magin_top: data.base_magin_top|default(0),
		base_magin_bottom:data.base_magin_bottom|default(32),
		base_bgc:data.base_bgc is not null ? data.base_bgc:'#FFFFFF',
		base_bgImage:data.base_bgImage,
		discount_bgc:data.discount_bgc is not null ? data.discount_bgc:'#FF8A00',
		discount_ftc:data.discount_ftc is not null ? data.discount_ftc:'#FFFFFF',
		buy_ftc:data.buy_ftc is not null ? data.buy_ftc:'#FFFFFF',
		buy_bgc:data.buy_bgc is not null ? data.buy_bgc:'#FF8A00',
		buy_hover_bgc:data.buy_hover_bgc is not null ? data.buy_hover_bgc:'#FCC556',
		buy_hover_ftc:data.buy_hover_ftc is not null ? data.buy_hover_ftc:'#FFFFFF',
		buy_cart_bgc:data.buy_cart_bgc is not null ? data.buy_cart_bgc:'#CC0000',
		buy_cart_hover_bgc:data.buy_cart_hover_bgc is not null ? data.buy_cart_hover_bgc:'#E00101',

		price_fts:data.price_fts|default(22),
		price_color:data.price_color is not null ? data.price_color:'#f30240',
		discount_height:data.discount_height|default(50),
		discount_width:data.discount_width|default(50),
		discount_fts:data.discount_fts|default(16),
		discount_off_fts:data.discount_off_fts|default(12),
		discount_right:data.discount_right|default(10),
		discount_top:data.discount_top|default(10),
		discount_bgImage:data.discount_bgImage,
		buy_text:data.buy_text,
		buy_fts:data.buy_fts|default(18),

		down_bgc:data.down_bgc is not null ? data.down_bgc:'#333333',
		down_ftc:data.down_ftc is not null ? data.down_ftc:'#FFFFFF',
		limit_progress_bgc:data.limit_progress_bgc is not null ? data.limit_progress_bgc:'#FA8A02',
		limit_left_color:data.limit_left_color is not null ? data.limit_left_color:'#FA8A02',

		tab_bgc:data.tab_bgc is not null ? data.tab_bgc:'#333333',
		tab_active_bgc:data.tab_active_bgc is not null ? data.tab_active_bgc:'#FF8A00',
		tab_ftc:data.tab_ftc is not null ? data.tab_ftc:'#FFFFFF',
		tab_active_ftc:data.tab_active_ftc is not null ? data.tab_active_ftc:'#FFFFFF',
		tab_hover_bgc:data.tab_hover_bgc is not null ? data.tab_hover_bgc:'#FF8A00',
		tab_hover_ftc:data.tab_hover_ftc is not null ? data.tab_hover_ftc:'#FFFFFF',

		coming_soon_bgc:data.coming_soon_bgc is not null ? data.coming_soon_bgc:'#999999',
		coming_soon_ftc:data.coming_soon_ftc is not null ? data.coming_soon_ftc:'#FFFFFF',

		limit_active:data.limit_active|default(1),
		base_view_more_color: data.base_view_more_color is not null ? data.base_view_more_color:'#333333',
		base_view_more_hoveC: data.base_view_more_hoveC is not null ? data.base_view_more_hoveC:'#333333',
		base_view_more_fontS: data.base_view_more_fontS|default(20),
		base_view_more_fontW: data.base_view_more_fontW|default(1),	

		coming_soon_text:data.coming_soon_text,
		buy_now_text:data.buy_now_text,
		deals_ended_text:data.deals_ended_text,
		maxCount:data.maxCount|default(''),

		down_active:data.down_active|default(1),
		limit_stock_active: data.limit_stock_active|default(1),
		server_label_active: data.server_label_active|default(0)
	}
%}

<style>
.gs-lable-block{
	margin:0 0 5px 20px;
}
.gs-lable-block+.layui-input-block,.class-manage{
	margin-left:20px
}
#killTabWrap{
    margin: 15px 0 30px;
}

#goods_tab .tab-add-btn{
	    margin: 15px 0;
    height: 32px;
    line-height: 36px;
}

</style>
{{include ('@app/files/parts/temp/goods_manager.twig')}}

<div class='design-form design-form-component design-form-visible'>
  <h3 class='component-form-title'>多时段抢购(GB)组件设置
    <a href="javascript:;" class="design-form-close js_closeDesignForm gb-icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  <blockquote class="component-form-quote">切换模板后，无蓝色标识的配置数据将被重置</blockquote>
  <div class="component-form-setting-item component-form-configure-item activity-component-from-item">
		<div class="layui-tab" id="goods_tab">
			<ul class="layui-tab-title">
				<li class="layui-this">模板选择</li>
				<li>商品数据</li>
				<li>样式设置</li>
			</ul>
			<div class="layui-tab-content layui-tab-content-parent" data-goodsType="tab_new">
				{# 模板选择 #}
				<div class="layui-tab-item layui-show">
						<style> {{ include('@app/htdocs/resources/stylesheets/form-less-module/theme.css') }} </style>
						{{ include ('@app/files/parts/formTemplate/components/theme.twig') }}
				</div>
				{# 模板数据 #}
				<div class="layui-tab-item radio-tab-true">
					<div class="layui-table goods-form-table">
						<input type="hidden" name="goodsSKU"  data-public-tag="true" value='{{SKU_encode}}'>
						<input type="hidden" name="goodsSortSKU"  data-public-tag="true" data-skuvalid="true" value='{{SKU_sort_encode}}'>
						{# <input type="hidden" name="timeRange" data-public-tag='true' value='{{time_range}}'> #}
						<div class="goods-tab-item tab-template layui-hide">
							<div class="goods-tab-box">
									<div class="layui-form-item">
										<div class="gs-lable-block">抢购板块<span class="gs-tab-index"></span>设置</div>
										<div class="layui-input-block">
											{# <input class="layui-input down-timestamp Unwanted tab-item-label" type="text" value="" data-public-tag="true" placeholder="开始日期&amp;nbsp&amp;nbsp 至 &amp;nbsp&amp;nbsp结束日期"> #}
											{# <span class="down-timestamp">
												<input class="tab-item-label" type="text" placeholder="开始日期" data-public-tag="true" value="">
												<input class="tab-item-label" type="text" placeholder="结束日期" data-public-tag="true" value="">
											</span> #}
											<span class="down-timestamp layui-input goods-timestamp">
												<label for="time-tab-one"><i class="layui-icon">&#xe637;</i></label>
												<input id="time-tab-one" class="tab-item-label" type="text" placeholder="开始日期" data-public-tag="true" value="">
												<label for="time-tab-two"><span>至</span></label>
												<input id="time-tab-two" class="tab-item-label" type="text" placeholder="结束日期" data-public-tag="true" value="">
											</span>
										</div>
									</div>
									<div class="radio-tab-group-only">
											<input type="hidden" name="gsSelectLevel0" class="Unwanted">
											<input type="hidden" name="gsSelectLevel1" class="Unwanted">
											<input type="hidden" name="gsSelectLevel2" class="Unwanted">
											<div class="layui-form-item">
												<div class="layui-input-block" style="margin-left:0;">
													{# <input class="Unwanted tabItemRadio" type="radio" name="skuFrom_temp" value="2" title="选品系统"> #}
													<input class="Unwanted tabItemRadio" type="radio" name="skuFrom_temp" value="1" title="板块商品" checked="checked">
												</div>
											</div>
											<div class="goods-hide {% if tabItem.skuFrom|default('1') == '2' %}goods-visible{% endif %}" data-target="skuFrom-2">
												<div class="select-item">
													<label class="gs-block">一级活动信息</label>
													<select class="gs-select-box gs-select-level0" lay-ignore placeholder="请输入活动名称" data-searchplaceholder="搜索分类">
														<option value="00">请选择活动</option>
													</select>
												</div>
												<div class="select-item">
													<label class="gs-block">二级活动信息</label>
													<select class="gs-select-box gs-select-level1" lay-ignore placeholder="请输入活动名称">
														<option value="00">请选择活动</option>
													</select>
												</div>
												<div class="select-item">
													<label class="gs-block">三级活动信息</label>
													<select class="gs-select-box gs-select-level2" lay-ignore placeholder="请输入活动名称">
														<option value="00">请选择活动</option>
													</select>
												</div>
											</div>
											<div class="goods-hide {% if tabItem.skuFrom|default('1') == '1' %}goods-visible{% endif %}" data-target="skuFrom-1">
													<textarea class="layui-textarea Unwanted" name="goodsSKU" data-skuvalid="true" data-public-tag="true" placeholder="请输入商品SKU,每个SKU用英文逗号隔开.">{{tabItem.lists}}</textarea>
											</div>
											<div class="layui-form-item tab-add-btn">
												<span class="el-button el-button--primary el-button--small" id="gs_getList" style="float:right">商品管理</span>
											</div>
											<div class="view-more-input">
												<label class="gs-label-block">View more链接配置</label>
												<input type="text" placeholder="请输入URL" style="margin-top: 10px" name="viewMoreUrl" autocomplete="off" class="layui-input view-more-label" value="{{ tabItem.viewMoreUrl }}">
											</div>
									</div>
							</div>
							<div class="geshop-third-value">
								<span class="img-btn class-close">
									<i class='gb-icon-delete'></i>
									<b class="tips">删除</b>
								</span>
								<span class="img-btn class-add">
									<i class='gb-icon-add'></i>
									<b class="tips">新增</b>
								</span>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="gs-label-block">展示商品个数</label>
							<div class="layui-input-block">
								<input type="text" name="maxCount" autocomplete="off" class="layui-input" value="{{ pageData.maxCount }}" onkeyup="value = value.replace(/[^\\d{1,}\\d{1,}|\\d{1,}]/g,'')">
							</div>
						</div>
						<div class="goods-tab-lists radio-tab-true tab-lists-wrap">
							<input type="hidden" name='tab_num' value="">
							{% for key,tabItem in data.goodsSortSKU|default(0..1) %}
								<div class="goods-tab-item">
									<div class="goods-tab-box">
										<div class="layui-form-item">
											<div class="gs-lable-block">抢购板块<span class="gs-tab-index">{{key+1}}</span>设置</div>
											<div class="layui-input-block">
												{# <input class="layui-input down-timestamp Unwanted tab-item-label" type="text" value="{{tabItem.timeRange}}" data-public-tag="true" placeholder="开始日期&amp;nbsp&amp;nbsp 至 &amp;nbsp&amp;nbsp结束日期" data-start="{{tabItem.startTime}}" data-end="{{tabItem.endTime}}"> #}
												<span class="down-timestamp layui-input goods-timestamp">
													<label for="time-tab-one"><i class="layui-icon">&#xe637;</i></label>
													<input id="time-tab-one" class="tab-item-label" type="text" placeholder="开始日期" data-public-tag="true" data-datetime="{{tabItem.startTime}}" value="{{tabItem.timeStartRange}}">
													<label for="time-tab-two"><span>至</span></label>
													<input id="time-tab-two" class="tab-item-label" type="text" placeholder="结束日期" data-public-tag="true" data-datetime="{{tabItem.endTime}}" value="{{tabItem.timeEndRange}}">
												</span>
											</div>
										</div>
										<div class="radio-tab-group-only">
												<input type="hidden" name="gsSelectLevel0" value="{{tabItem.ips.gsSelectLevel0}}" class="Unwanted">
												<input type="hidden" name="gsSelectLevel1" value="{{tabItem.ips.gsSelectLevel1}}" class="Unwanted">
												<input type="hidden" name="gsSelectLevel2" value="{{tabItem.ips.gsSelectLevel2}}" class="Unwanted">
												<div class="layui-form-item">
													<div class="layui-input-block" style="margin-left:0;">
														{# <input class="Unwanted tabItemRadio" type="radio" name="skuFrom{{key}}" lay-filter="skuFrom{{key}}" value="2" title="选品系统" {% if tabItem.skuFrom == '2' %} checked="checked" {% endif %}> #}
														<input class="Unwanted tabItemRadio" type="radio" name="skuFrom{{key}}" lay-filter="skuFrom{{key}}" value="1" title="板块商品" {% if tabItem.skuFrom == '1' or tabItem.skuFrom is empty %} checked="checked" {% endif %}>
													</div>
												</div>
												<div class="goods-hide {% if tabItem.skuFrom|default('1') == '2' %}goods-visible{% endif %}" data-target="skuFrom-2">
													<div class="select-item">
														<label class="gs-block">一级活动信息</label>
														<select class="gs-select-box gs-select-level0" lay-ignore placeholder="请输入活动名称" data-searchplaceholder="搜索分类">
															<option value="00">请选择活动</option>
														</select>
													</div>
													<div class="select-item">
														<label class="gs-block">二级活动信息</label>
														<select class="gs-select-box gs-select-level1" lay-ignore placeholder="请输入活动名称">
															<option value="00">请选择活动</option>
														</select>
													</div>
													<div class="select-item">
														<label class="gs-block">三级活动信息</label>
														<select class="gs-select-box gs-select-level2" lay-ignore placeholder="请输入活动名称">
															<option value="00">请选择活动</option>
														</select>
													</div>
												</div>
												<div class="goods-hide {% if tabItem.skuFrom|default('1') == '1' %}goods-visible{% endif %}" data-target="skuFrom-1">
														<textarea class="layui-textarea Unwanted" name="goodsSKU" data-skuvalid="true" data-public-tag="true" placeholder="请输入商品SKU,每个SKU用英文逗号隔开.">{{tabItem.lists}}</textarea>
												</div>
												<div class="layui-form-item tab-add-btn">
													<span class="el-button el-button--primary el-button--small" id="gs_getList" style="float:right">商品管理</span>
												</div>
												<div class="view-more-input">
													<label class="gs-label-block">View more链接配置</label>
													<input type="text" placeholder="请输入URL" style="margin-top: 10px" name="viewMoreUrl" autocomplete="off" class="layui-input view-more-label" value="{{ tabItem.viewMoreUrl }}">
												</div>
										</div>
									</div>
									<div class="geshop-third-value">
										<span class="img-btn class-close">
											<i class='gb-icon-delete'></i>
											<b class="tips">删除</b>
										</span>
										<span class="img-btn class-add">
											<i class='gb-icon-add'></i>
											<b class="tips">新增</b>
										</span>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="layui-form-item tab-add-btn layui-hide" style="margin-left: 20px;">
							<span class="el-button el-button--primary el-button--small" id="gs_tab_add">新增</span>
						</div>
					</div>
				</div>
				{# 样式设置 #}
				<div class="layui-tab-item">
					<div class="layui-carousel" id="form_carousel">
						<div carousel-item>
							<div>
								{# 常用配置 #}
								<fieldset class="layui-elem-field">
									<legend>常用配置</legend>
									{# 剩余秒数,倒计时状态0,1,2 未开始,已开始,已结束 #}
										{# <input type="hidden" name="left_time" value="{{data.left_time}}">
										<input type="hidden" name="serverTime" value="{{serverTime}}" data-public-tag="true"> #}
										<input type="hidden" name="count_textStatus" value="{{data.count_textStatus}}" data-public-tag="true">
										<div class="layui-field-box">

											{# PO: 上边距 #}
											<div class="layui-form-item">
												<label class="gs-lable-block">上边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="base_magin_top" autocomplete="off" class="layui-input" value="{{ pageData.base_magin_top }}">
												</div>
											</div>

											<div class="layui-form-item">
											<label class="gs-lable-block">下边距(px)</label>
											<div class="layui-input-block">
												<input type="text" name="base_magin_bottom" autocomplete="off" class="layui-input" value="{{ pageData.base_magin_bottom }}">
											</div>
											{{include ('@app/files/parts/temp/gb/common/default_pc/imgDisposition.twig')}}


										</div>


									</div>
								</fieldset>


								{# 倒计时设置 #}
								<fieldset class="layui-elem-field">
									<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">倒计时设置</legend>
									<div class="layui-field-box">
										<div class="layui-form-item">
											<label class="gs-lable-block">倒计时是否显示</label>
											<div class="layui-input-block">
												<input type="radio" name="down_active" data-public-tag="true" value="1" title="是" {% if pageData.down_active == '1' or pageData.down_active is empty %} checked="checked" {% endif %}>
                                            	<input type="radio" name="down_active" data-public-tag="true" value="0" title="否" {% if pageData.down_active == '0' %} checked="checked" {% endif %}>
											</div>
										</div>
									</div>
								</fieldset>

								{# 库存设置 #}
								<fieldset class="layui-elem-field">
									<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">库存设置</legend>
									<div class="layui-field-box">
										<div class="layui-form-item">
											<label class="gs-lable-block">库存进度条是否显示</label>
											<div class="layui-input-block">
												<input type="radio" name="limit_stock_active" data-public-tag="true" value="1" title="是" {% if pageData.limit_stock_active == '1' or pageData.limit_stock_active is empty %} checked="checked" {% endif %}>
                                            	<input type="radio" name="limit_stock_active" data-public-tag="true" value="0" title="否" {% if pageData.limit_stock_active == '0' %} checked="checked" {% endif %}>
											</div>
										</div>
									</div>
								</fieldset>

								{# 服务标设置 #}
								<fieldset class="layui-elem-field">
									<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">服务标设置</legend>
									<div class="layui-field-box">
										<div class="layui-form-item">
											<label class="gs-lable-block">服务标是否显示</label>
											<div class="layui-input-block">
												<input type="radio" name="server_label_active" data-public-tag="true" value="1" title="是" {% if pageData.server_label_active == '1' %} checked="checked" {% endif %}>
                                            	<input type="radio" name="server_label_active" data-public-tag="true" value="0" title="否" {% if pageData.server_label_active == '0' or pageData.server_label_active is empty %} checked="checked" {% endif %}>
											</div>
										</div>
									</div>
								</fieldset>


								{# 秒杀相关内容设置 #}
								<fieldset class="layui-elem-field">
									<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">秒杀相关内容设置</legend>
									<div class="layui-field-box">
											<div class="layui-form-item">
												<label class="gs-lable-block">秒杀时间区背景颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="down_bgc">
															<div style="background-color: {{ pageData.down_bgc }};"></div>
														</div>
														<input type="text" class="layui-input" name="down_bgc" autocomplete="off" value="{{ pageData.down_bgc }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="gs-lable-block">秒杀时间颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="down_ftc">
															<div style="background-color: {{ pageData.down_ftc }};"></div>
														</div>
														<input type="text" class="layui-input" name="down_ftc" autocomplete="off" value="{{ pageData.down_ftc }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="gs-lable-block">已售库存条颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="limit_progress_bgc">
															<div style="background-color: {{ pageData.limit_progress_bgc }};"></div>
														</div>
														<input type="text" class="layui-input" name="limit_progress_bgc" autocomplete="off" value="{{ pageData.limit_progress_bgc }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="gs-lable-block">剩余库存数量颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="limit_left_color">
															<div style="background-color: {{ pageData.limit_left_color }};"></div>
														</div>
														<input type="text" class="layui-input" name="limit_left_color" autocomplete="off" value="{{ pageData.limit_left_color }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="gs-lable-block">秒杀库存数量显示方式</label>
												<div class="layui-input-block">
													<input type="radio" name="limit_type" data-public-tag="true" value="1" title="显示剩余数量" {% if data.limit_type == '1' or data.limit_type is empty %} checked="checked" {% endif %}>
													<input type="radio" name="limit_type" data-public-tag="true" value="0" title="显示剩余数量百分比" {% if data.limit_type == '0' %} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
									</fieldset>

								{# tab标签设置 #}
								<fieldset class="layui-elem-field">
									<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">tab标签设置</legend>
									<div class="layui-field-box">
											<div class="layui-form-item">
												<label class="gs-lable-block">文字颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="tab_ftc">
															<div style="background-color: {{ pageData.tab_ftc }};"></div>
														</div>
														<input type="text" class="layui-input" name="tab_ftc" autocomplete="off" value="{{ pageData.tab_ftc }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="gs-lable-block">背景颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="tab_bgc">
															<div style="background-color: {{ pageData.tab_bgc }};"></div>
														</div>
														<input type="text" class="layui-input" name="tab_bgc" autocomplete="off" value="{{ pageData.tab_bgc }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="gs-lable-block">鼠标滑过文字颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="tab_hover_ftc">
															<div style="background-color: {{ pageData.tab_hover_ftc }};"></div>
														</div>
														<input type="text" class="layui-input" name="tab_hover_ftc" autocomplete="off" value="{{ pageData.tab_hover_ftc }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="gs-lable-block">鼠标滑过背景颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="tab_hover_bgc">
															<div style="background-color: {{ pageData.tab_hover_bgc }};"></div>
														</div>
														<input type="text" class="layui-input" name="tab_hover_bgc" autocomplete="off" value="{{ pageData.tab_hover_bgc }}">
												</div>
											</div>
									</div>
								</fieldset>

								<fieldset class="layui-elem-field">
										<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">View more 配置</legend>
										<div class="layui-field-box">
										{# 限时配置 #}
{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣标右偏移(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_right" value="{{pageData.discount_right}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣标上偏移(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_top" value="{{pageData.discount_top}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣标高度(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_height" value="{{pageData.discount_height}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣标宽度(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_width" value="{{pageData.discount_width}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣标背景图</label>#}
													{#<div class="layui-input-block">#}
														{#<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>#}
														{#<input class="layui-input" type="text" name="discount_bgImage" value="{{data.discount_bgImage}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣字体大小(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_fts" value="{{pageData.discount_fts}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">off字体大小(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_off_fts" value="{{pageData.discount_off_fts}}">#}
													{#</div>#}
												{#</div>#}
												<div class="layui-form-item">
													<label class="gs-lable-block">文字是否加粗</label>
													<div class="layui-input-block">
														<input type="radio" name="base_view_more_fontW" data-public-tag="true" value="1" title="是" {% if data.base_view_more_fontW == '1' or data.base_view_more_fontW is empty %} checked="checked" {% endif %}>
														<input type="radio" name="base_view_more_fontW" data-public-tag="true" value="0" title="否" {% if data.base_view_more_fontW == '0' %} checked="checked" {% endif %}>
													</div>
												</div>
											</div>
										{# 购物车配置 end #}
									</fieldset>

								{# Comming Soon设置 #}
								{# <fieldset class="layui-elem-field">
									<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">Coming Soon设置</legend>
									<div class="layui-field-box">
										<div class="layui-form-item">
												<label class="gs-lable-block">文字颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="coming_soon_ftc">
															<div style="background-color: {{ pageData.coming_soon_ftc }};"></div>
														</div>
														<input type="text" class="layui-input" name="coming_soon_ftc" autocomplete="off" value="{{ pageData.coming_soon_ftc }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="gs-lable-block">背景颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="coming_soon_bgc">
															<div style="background-color: {{ pageData.coming_soon_bgc }};"></div>
														</div>
														<input type="text" class="layui-input" name="coming_soon_bgc" autocomplete="off" value="{{ pageData.coming_soon_bgc }}">
												</div>
											</div>
									</div>
								</fieldset> #}

								<div class="text-right">
									<button type="button" id="js_moreConfig" class="layui-btn layui-btn-normal layui-btn-sm">更多配置</button>
								</div>

							</div>

							<div>
									<div class="layui-tab layui-tab-vertical">
										<ul class="layui-tab-title">
											<li class="layui-this">商品信息设置</li>
											<li>折扣标内容设置</li>
											<li>购买按钮设置</li>
											<li>限时设置</li>
											<li>tab标签设置</li>
										</ul>
										<div class="layui-tab-content">
											<div class="layui-tab-item layui-show">
												{# 商品信息设置 start #}
												<div class="layui-form-item">
													<label class="gs-lable-block">本店售价是否显示</label>
													<div class="layui-input-block">
														<input type="radio" name="market_active" data-public-tag="true" value="1" title="是" {% if data.market_active == '1' or data.market_active is empty %} checked="checked" {% endif %}>
														<input type="radio" name="market_active" data-public-tag="true" value="0" title="否" {% if data.market_active == '0' %} checked="checked" {% endif %}>
													</div>
												</div>
												
												{# 基础商品信息设置 end #}
											</div>
											<div class="layui-tab-item">
												{# 折扣标内容设置 #}
												<div class="layui-form-item">
													<label class="gs-lable-block">折扣标是否显示</label>
													<div class="layui-input-block">
														<input type="radio" name="discount_active" data-public-tag="true" value="1" title="是" {% if data.discount_active == '1' or data.discount_active is empty %} checked="checked" {% endif %}>
														<input type="radio" name="discount_active" data-public-tag="true" value="0" title="否" {% if data.discount_active == '0' %} checked="checked" {% endif %}>
													</div>
												</div>
												{# 折扣标内容设置 end #}
											</div>
											<div class="layui-tab-item">
												{# 购买按钮设置 #}
												<div class="layui-form-item">
													<label class="gs-lable-block">购买文案</label>
													<div class="layui-input-block"><input class="layui-input" type="text" name="buy_text" value="{{pageData.buy_text}}">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="gs-lable-block">购买文案字体大小(px)</label>
													<div class="layui-input-block"><input class="layui-input" type="text" name="buy_fts" value="{{pageData.buy_fts}}">
													</div>
												</div>
												{# 购买按钮设置 end #}
											</div>
											<div class="layui-tab-item">
												<div class="layui-form-item">
													<label class="gs-lable-block">限时已经结束的商品是否显示</label>
													<div class="layui-input-block">
														<input type="radio" name="limit_active" data-public-tag="true" value="1" title="是" {% if data.limit_active == '1' or data.limit_active is empty %} checked="checked" {% endif %}>
														<input type="radio" name="limit_active" data-public-tag="true" value="0" title="否" {% if data.limit_active == '0' %} checked="checked" {% endif %}>
													</div>
												</div>
											</div>
											<div class="layui-tab-item">
												{# tab标签设置 #}
												<div class="layui-form-item">
													<label class="gs-lable-block">即将开始文案</label>
													<div class="layui-input-block"><input class="layui-input" type="text" name="coming_soon_text" value="{{pageData.coming_soon_text}}">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="gs-lable-block">进行时文案</label>
													<div class="layui-input-block"><input class="layui-input" type="text" name="buy_now_text" value="{{pageData.buy_now_text}}">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="gs-lable-block">结束时文案</label>
													<div class="layui-input-block"><input class="layui-input" type="text" name="deals_ended_text" value="{{pageData.deals_ended_text}}">
													</div>
												</div>
												{# tab标签设置end #}
											</div>
									</div>
									<div class="text-right">
										<button type="button" id="js_baseConfig" class="layui-btn layui-btn-normal layui-btn-sm">基础配置</button>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
  </div>
</div>

<div class="layui-form-item geshop-form-operation">
	<button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
		<span type="button" class="layui-btn layui-btn-normal" id="gs_submit">提交</span>
	<button type="button" class="layui-btn layui-btn-normal js_submitDesignForm layui-hide">提交</button>
</div>

<style>
	.goods-form-table .layui-icon{
		cursor: pointer;	display: inline-block; margin: 2px 8px 2px 0;
	}
	.layui-tab-item{
		position: relative;
	}
	#goods_tab .tab-add-btn{
		/*position: absolute;	bottom: -77px; */
		left: 20px;
	}

	#goods_layer_wrap + .layui-form{
		display:none !important;
	}

	#goods_layer .layui-icon{
		cursor: pointer; margin: 2px 5px; display: inline-block;
	}

	#goods_layer .layui-icon-prev,#goods_layer .layui-icon-next{
		transform:rotate(90deg); -webkit-transform:rotate(90deg);
	}
	.goods-tab-item .class-manage{
		margin-left:0;
	}
	.radio-tab-group-only{
			width: 90%;
			margin-left: 20px;
			margin-bottom: 20px;
	}
	.goods-tab-item{
		margin-bottom:20px;
	}
	.goods-tab-box{
		border:1px solid #e6e6e6;
		margin: 10px 15px 20px 20px;
		border-radius: 4px;
		width:90%;
	}
	.geshop-third-value{
		margin-right: 5px;
	}
	.class-add{
		display:none;
	}
	.goods-tab-lists .goods-tab-item:last-child .class-add{
		display:inline-block;
	}

	#goods_tab .select2-container{
			max-width: 100%;
	}

	.goods-timestamp.layui-input {
		padding-left: 5px;
		padding-right: 5px;
		width: 100%;

	}
	.goods-timestamp input {
		width: 37%;
		height: 34px;
		display: inline-block;
		border: none;
		margin: 0 3px;
	}
	.goods-timestamp i {
		height: 34px;
    	font-size: 23px;
    	margin: 0 !important;
    	position: relative;
    	top: 3px;
	}
	.goods-timestamp span {
		margin-right: 3px;
	}
	/*.goods-timestamp input:first-child {
		float: left;
	}
	.goods-timestamp input:last-child {
		float: right;
	}*/
</style>

<script>

/* 时间 */
function downDateInit (min, max) {
	var laydate = layui.laydate;
	var $tabTarget = $('#goods_tab');
	$('.tab-lists-wrap .down-timestamp input').each(function(){
		var _this = $(this);
		laydate.render({
			elem: this
			, type: 'datetime'
			, range: false
			, done: function (value) {
				var dataStartTime,
					dataEndTime;
				if (value) {
					dataStartTime = new Date(value).getTime();
					/* var serverTime = $('#gs_component_countdown').find('input[name=serverTime]').val() ||new Date().getTime(); */
					var serverTime = new Date().getTime();
					/*校验是否已存在时间
					var hasSameStartTime = false;
					$('.down-timestamp input').each(function(){
						var dataStartItem = $(this).attr('data-datetime');
						if(dataStartItem == dataStartTime ){
							hasSameStartTime = true;
							layer.msg('该开始时间已有抢购');
							setTimeout(function(){
							_this.val('');
							},500);
							return false
						}
					});
					if(hasSameStartTime){
						return false;
					}*/
					/*状态*/
					var status = 0,
						leftTime = 0,
						textCont = "",
						textArr = ['未开始', '已开始', '已结束'];
					if (dataStartTime > serverTime) {
						leftTime = dataStartTime - serverTime;
					} else if (dataStartTime <= serverTime && dataEndTime > serverTime) {
						status = 1;
						leftTime = dataEndTime - serverTime;
					} else if (dataEndTime < serverTime) {
						status = 2;
						leftTime = 0;
					}
					textCont = textArr[status];
					/*
					leftTime = Math.round(leftTime / 1000);
					$('#gs_component_countdown').find('input[name=left_time]').val(leftTime);
					*/
				
					/*校验时间*/
					var $next_item = _this.parents('.goods-tab-item').next('.goods-tab-item');
					var $start_time_item = _this.parents('.goods-tab-item').find('.tab-item-label').eq(0);
					var $end_time_item = _this.parents('.goods-tab-item').find('.tab-item-label').eq(1);
					if ( _this.index() == 3 && $next_item ) {
						_this.parents('.goods-tab-item').next('.goods-tab-item').find('.tab-item-label').eq(0).val(value);
						_this.parents('.goods-tab-item').next('.goods-tab-item').find('.tab-item-label').eq(0).attr("data-datetime", dataStartTime);
					}

					_this.attr("data-datetime",dataStartTime);
					/*$tabTarget.find('input[name=count_textStatus]').val(status); */
					if ( $start_time_item.attr('data-datetime') && $end_time_item.attr('data-datetime') && $start_time_item.attr('data-datetime') >= $end_time_item.attr('data-datetime') ) {
						layer.msg('结束时间要晚于开始时间');
							setTimeout(function(){
							_this.val('');
							_this.attr('data-datetime', '');
						},500);
						return false
					}else if ( $start_time_item.attr('data-datetime') && $end_time_item.attr('data-datetime') ) {
						_this.parents('.down-timestamp').attr('data-timerange', $start_time_item.attr('data-datetime') + $end_time_item.attr('data-datetime'))
					}
					
					
					$('.down-timestamp').not(_this.parents('.down-timestamp')).each( function() {
						if ( $(this).attr('data-timerange') && _this.parents('.down-timestamp').attr('data-timerange') && $(this).attr('data-timerange') == _this.parents('.down-timestamp').attr('data-timerange') ) {
							layer.msg('该时间段已经有抢购');
								setTimeout(function(){
								_this.val('');
								_this.attr('data-datetime', '');
								_this.parents('.down-timestamp').attr('data-timerange', '');
							},500);
						}
					});
					
					
					
				}
			}
		})
	})

};

downDateInit();


/*radio list render*/
function ipsRadioInit(){
	$('.goods-form-table .goods-tab-lists .radio-tab-group-only').each(function(index,element){
	var $radio = $(element).find('.tabItemRadio');
	var $radioName = 'skuFrom'+index;
	$radio.attr({'name':$radioName,'lay-filter':$radioName});
	if($('input[name='+$radioName+']:checked').length === 0){
		$('input[name='+$radioName+'][value=1]').prop('checked',true)
	}

	var $tr = $(element).closest('tr');
	var skuFrom = $('input[name='+$radioName+']:checked').val();
	if(skuFrom == '2'){
		$tr.find('.class-manage').addClass('layui-hide');
	}else{
		$tr.find('.class-manage').removeClass('layui-hide');
	}


	layui.form.render();
	layui.form.on('radio('+$radioName+')', function (data) {
		var value = Number(data.value);
		$(element).find("[data-target=skuFrom-" + value + "]").addClass('goods-visible').siblings().removeClass('goods-visible');
		if(value == '2'){
			$tr.find('.class-manage').addClass('layui-hide');
		}else{
			$tr.find('.class-manage').removeClass('layui-hide');
		}
	})
	});

}



function tabIndexInit(){

}

$(function(){
	ipsRadioInit();
/*
	GsSelect.initSelectFirstGroup();
*/
/*回填三级列表信息*/
	$('.radio-tab-true').find('.radio-tab-group-only').each(function(index,element){
		/*GsSelect.initSelectFirst($(element));*/

		$(".gs-select-box",$(element)).each(function(index){
			var val = $('input[name=gsSelectLevel'+ index +']',$(element)).val();
			if(val){
				$(this).val(val);
			}

		});
	});


	var $goodsTable = $('.goods-form-table');
	$("#component_form").off('click');

	function addOne(){
		var clone = $('.tab-template',$goodsTable).clone(true);
		clone.removeClass('tab-template layui-hide');
		$('.goods-tab-lists',$goodsTable).append(clone);
		ipsRadioInit();
		/*
		GsSelect.initSelect($('.radio-tab-true .goods-tab-item:last'));
		GsSelect.initSelectFirst($('.radio-tab-true .goods-tab-item:last'));
		*/

	}

	function initItemIndex(){
		$('.goods-tab-lists').find('.goods-tab-item').each(function(index){
			var $this = $(this);
			var listNum = index + 1;
			$this.find('.gs-tab-index').text(listNum);
			$this.find('.tab-item-img').attr('name','tabImg'+listNum+'');
		})
	}

	/*删除分类 */
	$("#component_form").on('click','.goods-form-table .class-close',function(){
		var $this = $('this');
		var $prev_item = $(this).parents('.goods-tab-item').prev('.goods-tab-item').find('.tab-item-label').eq(1);
		var $next_item = $(this).parents('.goods-tab-item').next('.goods-tab-item').find('.tab-item-label').eq(0);
		$tr = $(this).parents('.goods-tab-item:eq(0)'),
		layer.confirm('是否删除该分类?',{icon:3,title:'提示'},function(index){
			$tr.remove();
			initItemIndex();
			layer.close(index);
		});
		/*点击删除添加上一个tab的结束时间到下一个tab
		if ($next_item) {
			$next_item.val($prev_item.val());
			$next_item.attr('data-datetime', $prev_item.attr('data-datetime'));
		}*/
		
	});

	/*新增分类 */
	$("#component_form").on('click.addTab','.goods-tab-lists .class-add',function(e){
		var $item_node = $(this).parents('.goods-tab-item').find('.tab-item-label').eq(1);
		e.stopPropagation();
		addOne();
		initItemIndex();
		downDateInit();
		/*点击加号添加这个tab的结束时间到下一个tab*/
		if ( $item_node.val() ) {
			$(this).parents('.goods-tab-item').next('.goods-tab-item').find('.tab-item-label').eq(0).val($item_node.val());
			$(this).parents('.goods-tab-item').next('.goods-tab-item').find('.tab-item-label').eq(0).attr('data-datetime', $item_node.attr('data-datetime'));
		}
	});

	$('#gs_tab_add').on('click',function(){
		var clone = $('.tab-template',$goodsTable).clone(true);
		clone.removeClass('tab-template layui-hide');
		$('.goods-tab-lists',$goodsTable).append(clone);
		ipsRadioInit();
		GsSelect.initSelect($('.radio-tab-true tr:last'));
		GsSelect.initSelectFirst($('.radio-tab-true tr:last'));
	});
	/*移动分类 */
	$("#component_form").on('click','.goods-form-table .class-down',function(e){
		var $this = $('this'),
		$tr = $(this).parents('.goods-tab-item:eq(0)'),
		$trNext = $tr.next();
		if(0 != $trNext.length){
			$trNext.after($tr);
		}
		initItemIndex();

	});
	$("#component_form").on('click','.goods-form-table .class-up',function(e){
		var $this = $('this'),
		$tr = $(this).parents('.goods-tab-item:eq(0)'),
		$trPrev = $tr.prev();
		if(0 != $trPrev.length){
			$trPrev.before($tr);
		}
		initItemIndex();
	});

	/* 排序 */

	function get_time_srot(arra, event){

        var temp;

        for(var i=0;i<arra.length;i++){

            for(var j=0;j<arra.length-i-1;j++){

                if(arra[j][event]>arra[j+1][event]){
                    temp=arra[j];
                    arra[j]=arra[j+1];
                    arra[j+1]=temp;
                }
            }
        };
    return arra;
    }



	$('#gs_submit').on('click',function(){
		var goodsArr = [];
		var goodsSortArr = [];
		/*var timeArr = []; */
		$('.goods-form-table textarea[name=goodsSKU]').each(function(index,element){
			var $wrapper = $(element).closest('.radio-tab-group-only');
			var skuFromValue = $wrapper.find('.tabItemRadio:checked').val();

			var $val = $(this).val();
			var $timeStartRange = $(this).parents('.goods-tab-item:eq(0)').find('input.tab-item-label').eq(0).val();
			var $timeEndRange = $(this).parents('.goods-tab-item:eq(0)').find('input.tab-item-label').eq(1).val();
			var $startTime = $(this).parents('.goods-tab-item:eq(0)').find('input.tab-item-label').eq(0).attr('data-datetime');
			var $endTime = $(this).parents('.goods-tab-item:eq(0)').find('input.tab-item-label').eq(1).attr('data-datetime');
			var $viewMoreUrl = $(this).parents('.goods-tab-item:eq(0)').find('input.view-more-label').eq(0).val();

			
			if(skuFromValue == '2'){

				$(".gs-select-box",$wrapper).each(function(index){
					$('input[name=gsSelectLevel'+ index +']',$wrapper).val($(this).val());
				});
				var gsSelectLevel0 = $wrapper.find('input[name=gsSelectLevel0]').val(),
				gsSelectLevel1 = $wrapper.find('input[name=gsSelectLevel1]').val(),
				gsSelectLevel2 = $wrapper.find('input[name=gsSelectLevel2]').val();

				if($startTime && $endTime && gsSelectLevel2){
					goodsArr.push({
						"skuFrom":skuFromValue,
						"timeStartRange":$timeStartRange,
						"timeEndRange":$timeEndRange,
						"startTime":$startTime,
						"endTime":$endTime,
						"lists":$val,
						"ips":{"gsSelectLevel0":gsSelectLevel0,"gsSelectLevel1":gsSelectLevel1,"gsSelectLevel2":gsSelectLevel2,},
						"viewMoreUrl": $viewMoreUrl
					})
				}
			};

			if(skuFromValue == '1'){
				if($startTime && $endTime){
					goodsArr.push({
						"skuFrom":skuFromValue,
						"timeStartRange":$timeStartRange,
						"timeEndRange":$timeEndRange,
						"startTime":$startTime,
						"endTime":$endTime,
						"lists":$val,
						"ips":{},
						"viewMoreUrl": $viewMoreUrl
					});
					goodsSortArr = goodsArr.concat();
					goodsSortArr = get_time_srot(goodsSortArr, 'startTime');

				}
			};


		});
		if(goodsArr.length>0){
			$('input[name=tab_num]').val(goodsArr.length);
			$('.goods-form-table input[name=goodsSortSKU]').val(JSON.stringify(goodsArr));
			$('.goods-form-table input[name=goodsSKU]').val(JSON.stringify(goodsSortArr));
		}else{
			$('.goods-form-table input[name=goodsSKU]').val("");
			layui.layer.msg('请先填写抢购时间');
			return false
		}
		
	/*	$('.down-timestamp').each(function() {
			timeArr.push({
				"timeStart": $(this).attr('data-start'),
				"timeEnd": $(this).attr('data-end'),
			});
		});
		if(timeArr.length != 0) {
			timeArr.shift(0);
			for( var i = 0; i < timeArr.length; i ++ ) {
				if (timeArr[i].timeStart == '' && timeArr[i].timeEnd == '') {
					timeArr.splice(timeArr[i], 1);
				}
			}
			$('[name=timeRange]').val((JSON.stringify(timeArr)));
		} 		 */

		$(this).next('button').trigger('click');

		

	});


})



</script>
