{% set liCol = ['geshop-col-12','geshop-col-6','geshop-col-4','geshop-col-3','geshop-col-2','geshop-col-1']%}

{% if data.colNum == '1'%}
    {% set colClass = liCol[0] %}
{% elseif data.colNum == '2' %}
    {% set colClass = liCol[1] %}
{% elseif data.colNum == '3' %}
    {% set colClass = liCol[2] %}
{% elseif data.colNum == '4' %}
    {% set colClass = liCol[3] %}
{% elseif data.colNum == '5' %}
    {% set colClass = liCol[4] %}
{% else %}
    {% set colClass = liCol[3] %}
{% endif %}

{% set goodsData = {
	goodsBgc:data.goodsBgc is not null?data.goodsBgc:'#ffffff',
	goodsBdC:data.goodsBdC is not null?data.goodsBdC:'#FD9E62',
	goodsFtC:data.goodsFtC is not null?data.goodsFtC:'#333',
	buyHeight:data.buyHeight|default(40),
	buyRadius:data.buyRadius|default(20),
	buyFtS:data.buyFtS|default(16),
	buyBgC:data.buyBgC is not null?data.buyBgC:'#FD9E62',
	buyBorderC:data.buyBorderC is not null?data.buyBorderC:'#FD9E62',
	buyBorderW:data.buyBorderW|default('0'),
	buyText:get_component_trans(lang,'btn_buy_now'),
	priceC:data.priceC is not null?data.priceC:'#FD6462',
	priceFt:data.priceFt|default('20'),
	discountOffsetT:data.discountOffsetT|default('-10'),
	discountOffsetR:data.discountOffsetR|default('-10'),
	discountOffsetL:data.discountOffsetL|default('10'),
	discountRadius:data.discountRadius|default('50'),
	discountFtC:data.discountFtC,
	discountBgc:data.discountBgc is not null?data.discountBgc:'#FD6462',
	discountTop:data.discountTop|default(6),
	discountType:data.discountType|default(1),
	discountArea:data.discountArea|default(1),
	discountFtS:data.discountFtS|default(16),
	colNum:data.colNum|default('4')
} %}

{% set pageData = {
	tab_ingBgc:data.goodsLimitNumC|default('#FD9E62'),
	goodsLimitNumC:data.goodsLimitNumC|default('#FD9E62'),
	goodsLimitTextC:data.goodsLimitTextC|default('#333'),
}
%}


<div class="geshop-component-box component-drag clearfix geshop-goods-sync" data-gid="U000078_time" data-key="U000078" data-id="{{ pageInstanceId }}"
data-static-domain="{{staticDomain}}" data-editenv="{{data.isEditEnv}}" data-skus="{{data.goodsSKUSort}}" data-sitedomain="{{siteDomain}}">
    <!-- embed stylesheet begin -->
    <style type="text/css">
        [data-id="{{ pageInstanceId }}"] .component-self-goodWrap:hover, [data-id="{{ pageInstanceId }}"] .current {
            border-color:{{goodsData.goodsBdC|default('transparent')}} !important;
        }
				[data-gid="U000078_time"][data-id="{{ pageInstanceId }}"] .goods-limit-tips_left{
					color:{{pageData.goodsLimitTextC}}
				}
				{% if data.buyHoverC %}
				[data-id="{{ pageInstanceId }}"][data-gid="U000078_time"] .gs-btn-area a:hover{
					background-color: {{data.buyHoverC}} !important;
				}
				{% endif %}
    </style>
    <!-- embed stylesheet end -->

    <div class="geshop-col-12" style="
		{% if data.boxMarginTop %}margin-top: {{ data.boxMarginTop }}px;{% endif %}
		{% if data.boxMarginBottom %}margin-bottom: {{ data.boxMarginBottom }}px;{% endif %}
    ">
			{{include ('@app/htdocs/resources/template/pc/goodsList_sync/killTime/index.twig')}}
    </div>
</div>

