{{include ('@app/files/parts/temp/goods_manager.twig')}}
<div class='design-form design-form-component design-form-visible'>
  <h3 class='component-form-title'>商品列表设置
    <a href="javascript:;" class="design-form-close js_closeDesignForm icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  <blockquote class="component-form-quote">切换模板后，无蓝色标识的配置数据将被重置</blockquote>
  <div class="component-form-setting-item component-form-configure-item activity-component-from-item">
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this">模板选择</li>
				<li>商品数据</li>
				<li>样式设置</li>
			</ul>
			<div class="layui-tab-content layui-tab-content-parent">
				<div class="layui-tab-item layui-show">
						<style> {{ include('@app/htdocs/resources/stylesheets/form-less-module/theme.css') }} </style>
						{{ include ('@app/files/parts/formTemplate/components/theme.twig') }}
				</div>
				<div class="layui-tab-item radio-tab-true">
					{{include ('@app/files/parts/formModules/userGroupItem.twig')}}
					<div class="layui-form-item">
						<label class="gs-label-block">商品数据</label>
						<div class="layui-input-block">
							<input type="radio" name="goodsDataFrom" lay-filter="goodsDataFrom" value="2" title="选品系统" {% if data.goodsDataFrom == '2' %} checked="checked" {% endif %}>
							<input type="radio" name="goodsDataFrom" lay-filter="goodsDataFrom" value="1" title="商品SKU" {% if data.goodsDataFrom == '1' or data.goodsDataFrom is empty %} checked="checked" {% endif %}>
						</div>
					</div>
					<div class="radio-tab-group">
						<div class="goods-hide {% if data.goodsDataFrom|default('1') == '2' %}goods-visible{% endif %}" data-target="goodsDataFrom-2">
						{# 选品系统手动自动方式 start #}
							{% include '@app/files/parts/temp/choose_products_tpl.twig' with{'ipsMethodsArr':['1','2','3','4'],'ipsDefault':'2'} %}
						{# 选品系统手动自动方式 end #}
						</div>
						<div class="goods-hide {% if data.goodsDataFrom|default('1') == '1' %}goods-visible{% endif %}" data-target="goodsDataFrom-1">
							<div class="layui-form-item" >
								{# <label class="layui-form-label public-data">商品SKU</label> #}
								<label class="gs-label-block gs-label-blank"></label>
								<div class="layui-input-block">
									<textarea placeholder="请输入商品编号（SKU ID），编号与编号间用英文逗号隔开" class="layui-textarea" name="goodsSKU" data-public-tag="true">{{data.goodsSKU}}</textarea>
								</div>
								<span style="margin: 10px 0 10px 110px; display: block; color: #bbb;">"商品SKU"不可重复</span>
							</div>
							<div class="layui-form-item tab-add-btn">
								<span class="el-button el-button--primary el-button--small" id="gs_getList" style="float:right">商品管理</span>
							</div>

						</div>

					</div>
				</div>
				<div class="layui-tab-item">
					<div class="layui-carousel" id="form_carousel">
						<div carousel-item>
							<div>
								<fieldset class="layui-elem-field">
									<legend>常用配置</legend>
									<div class="layui-field-box">
										<div class="layui-form-item">
											<label class="layui-form-label">折扣标显示方式</label>
											<div class="layui-input-block">
												<input type="radio" name="discountType" data-public-tag="true" value="1" title="***%OFF" {% if data.discountType == '1' or data.discountType is empty %} checked="checked" {% endif %}>
												<input type="radio" name="discountType" data-public-tag="true" value="0" title="-***%" {% if data.discountType == '0' %} checked="checked" {% endif %}>
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">折扣背景图片</label>
											<div class="layui-input-block">
												<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
												<input class="layui-input" type="text" name="discountBgImg" value="{{data.discountBgImg}}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label public-data">折扣宽度(px)</label>
											<div class="layui-input-block"><input class="layui-input" type="text" name="discountWidth" value="{{data.discountWidth|default('40')}}" data-public-tag="true">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label public-data">折扣高度(px)</label>
											<div class="layui-input-block"><input class="layui-input" type="text" name="discountHeight" value="{{data.discountHeight|default('40')}}" data-public-tag="true">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label public-data">折扣文字颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="discountFtC">
													<div style="background-color: {{ data.discountFtC }};"></div>
												</div>
												<input type="text" class="layui-input" name="discountFtC" autocomplete="off" value="{{ data.discountFtC }}" data-public-tag="true">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">折扣背景颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="discountBgc">
													<div style="background-color: {{ data.discountBgc|default('#e33194') }};"></div>
												</div>
													<input type="text" class="layui-input" name="discountBgc" autocomplete="off" value="{{ data.discountBgc|default('#e33194') }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">标题颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="goodsFtC">
													<div style="background-color: {{ data.goodsFtC }};"></div>
												</div>
												<input type="text" class="layui-input" name="goodsFtC" autocomplete="off" value="{{ data.goodsFtC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">市场价颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="marketPriceC">
													<div style="background-color: {{ data.marketPriceC }};"></div>
												</div>
													<input type="text" class="layui-input" name="marketPriceC" autocomplete="off" value="{{ data.marketPriceC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">销售价颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="priceC">
													<div style="background-color: {{ data.priceC }};"></div>
												</div>
												<input type="text" class="layui-input" name="priceC" autocomplete="off" value="{{ data.priceC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label public-data">按钮文案</label>
											<div class="layui-input-block"><input class="layui-input" type="text" name="buyText" value="{{data.buyText|default('BUY NOW')}}" data-public-tag="true">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">按钮字体颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="buyFtC">
													<div style="background-color: {{ data.buyFtC }};"></div>
												</div>
												<input type="text" class="layui-input" name="buyFtC" autocomplete="off" value="{{ data.buyFtC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">按钮背景颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="buyBgC">
													<div style="background-color: {{ data.buyBgC }};"></div>
												</div>
												<input type="text" class="layui-input" name="buyBgC" autocomplete="off" value="{{ data.buyBgC }}">
											</div>
										</div>
									</div>
								</fieldset>
								<div class="text-right">
									<button type="button" id="js_moreConfig" class="layui-btn layui-btn-normal layui-btn-sm">更多配置</button>
								</div>
							</div>
							<div>
								<div class="layui-tab layui-tab-vertical">
									<ul class="layui-tab-title">
										<li class="layui-this">基础设置</li>
										<li>折扣标</li>
										<li>商品名称</li>
										<li>市场价</li>
										<li>销售价</li>
										<li>购买按钮</li>
										{# <li>库存管理</li> #}
									</ul>
									<div class="layui-tab-content">
										<div class="layui-tab-item layui-show">
											<div class="layui-form-item">
												<label class="layui-form-label">上边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="boxMarginTop" autocomplete="off" class="layui-input" value="{{ data.boxMarginTop | default(0) }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">下边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="boxMarginBottom" autocomplete="off" class="layui-input" value="{{ data.boxMarginBottom | default(0) }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">宽度(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="baseWith" value="{{data.baseWith}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">整体背景颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="baseBgC">
														<div style="background-color: {{ data.baseBgC }};"></div>
													</div>
													<input type="text" class="layui-input" name="baseBgC" autocomplete="off" value="{{ data.baseBgC }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">每栏颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="goodsBgc">
														<div style="background-color: {{ data.goodsBgc }};"></div>
													</div>
													<input type="text" class="layui-input" name="goodsBgc" autocomplete="off" value="{{ data.goodsBgc }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">商品左右间距(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="gsPadding" value="{{data.gsPadding|default(5)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">商品上下间距(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="gsMarginBottom" value="{{data.gsMarginBottom|default(5)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">商品内间距(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="gsInnerPadding" value="{{data.gsInnerPadding|default(5)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">商品圆角(10px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="gsRadius" value="{{data.gsRadius}}">
												</div>
											</div>
										</div>
									<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">上偏移(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="discountOffsetT" value="{{data.discountOffsetT}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">右偏移(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="discountOffsetR" value="{{data.discountOffsetR}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">文字上间距(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="discountTopNew" value="{{data.discountTopNew|default('-4')}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">圆角(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="discountRadius" value="{{data.discountRadius|default('50')}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">后缀文字(OFF)</label>
												<div class="layui-input-block"><input class="layui-input layui-disabled" disabled type="text" name="discountTextSuffix" value="{{get_component_trans(lang,'off')}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">后缀(OFF)</label>
												<div class="layui-input-block">
													<input type="radio" name="discountSuffix" value="1" title="是" {% if data.discountSuffix == '1' or data.discountSuffix is empty %} checked="checked" {% endif %}>
													<input type="radio" name="discountSuffix" value="0" title="否" {% if data.discountSuffix == '0' %} checked="checked" {% endif %}>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="discountActive" value="1" title="是" {% if data.discountActive == '1' or data.discountActive is empty %} checked="checked" {% endif %}>
													<input type="radio" name="discountActive" value="0" title="否" {% if data.discountActive == '0' %} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">字体大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="goodsFtS" value="{{data.goodsFtS|default(12)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="goodsActive" value="1" title="是" {% if data.goodsActive == '1'  or data.goodsActive is empty %} checked="checked" {% endif %}>
													<input type="radio" name="goodsActive" value="0" title="否" {% if data.goodsActive == '0'%} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">字体大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="marketPriceFt" value="{{data.marketPriceFt|default(12)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="marketActive" value="1" title="是" {% if data.marketActive == '1' or data.marketActive is empty %} checked="checked" {% endif %}>
													<input type="radio" name="marketActive" value="0" title="否" {% if data.marketActive == '0'%} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">字体大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="priceFt" value="{{data.priceFt|default(14)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">字体粗细</label>
												<div class="layui-input-block">
													<input type="radio" name="goodsFtW" value="bold" title="加粗"{% if data.goodsFtW|default('bold') == 'bold' %} checked{% endif %}>
													<input type="radio" name="goodsFtW" value="normal" title="正常"{% if data.goodsFtW|default('bold') != 'bold' %} checked{% endif %}>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="priceActive" value="1" title="是" {% if data.priceActive == '1' or data.priceActive is empty %} checked="checked" {% endif %}>
													<input type="radio" name="priceActive" value="0" title="否" {% if data.priceActive == '0'%} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">字体大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyFtS" value="{{data.buyFtS}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">宽度(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyWidth" value="{{data.buyWidth|default(80)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">高度(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyHeight" value="{{data.buyHeight|default(34)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">圆角大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyRadius" value="{{data.buyRadius}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">背景图片</label>
												<div class="layui-input-block">
													<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
													<input class="layui-input" type="text" name="buyBgImg" value="{{data.buyBgImg}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="buyActive" value="1" title="是" {% if data.buyActive == '1' %} checked="checked" {% endif %}>
													<input type="radio" name="buyActive" value="0" title="否" {% if data.buyActive == '0' or data.buyActive is empty %} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
										{# <div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="goodsLimitActive" value="1" title="是" {% if data.goodsLimitActive == '1' %} checked="checked" {% endif %}>
													<input type="radio" name="goodsLimitActive" value="0" title="否" {% if data.goodsLimitActive == '0' or data.goodsLimitActive is empty %} checked="checked" {% endif %}>
												</div>
											</div>
										</div> #}
									</div>
								</div>
								<div class="text-right">
									<button type="button" id="js_baseConfig" class="layui-btn layui-btn-normal layui-btn-sm">基础配置</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
<div class="layui-form-item geshop-form-operation">
	<button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
		<span type="button" class="layui-btn layui-btn-normal" id="gs_submit">提交</span>
	<button type="button" class="layui-btn layui-btn-normal js_submitDesignForm layui-hide">提交</button>
</div>
{# <script>
$('#gs_submit').on('click',function(){

	$(".gs-select-box").each(function(index){
		$('input[name=gsSelectLevel'+ index +']').val($(this).val());
	});

	var goodsDataFrom = $('input[name=goodsDataFrom]:checked').val();
	var gsSelectLevel2 = $('input[name=gsSelectLevel2]').val();
	if(goodsDataFrom == '2' && (!gsSelectLevel2 || gsSelectLevel2 == '00')){
		layer.msg('请选择三级活动信息');
		return false;
	}

	$(this).next('button').trigger('click');
});


$(function(){
		$(".gs-select-box").each(function(index){
			var val = $('input[name=gsSelectLevel'+ index +']').val();
			$(this).val(val);
	});
})
</script> #}
{{include ('@app/files/parts/temp/choose_products_form_js.twig')}}
