{%
	set pageData = {
		soldout:languages.SOLDOUT[lang],
		shopnow:languages.SHOPNOW[lang]
	}
%}
<div class="geshop-component-box component-drag geshop-U000182-model1 geshop-U000182-model1-{{ pageInstanceId }}" data-key="U000182" data-id="{{ pageInstanceId }}">
    {{ include('style.twig') }}
    <input type="hidden" name="editEnv" value="{{data.isEditEnv}}" />
    <input type="hidden" name="platform" value=""/>
    <ul class="goods-list clearfix">
        {% for key,item in data.goodsInfo|default(0..3) %}
            <li>
                <div class="goods-item js_logsss_browser js_logsss_event_ps"
                    data-logsss-browser-value="{ 'pm':'mp','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','sku':'{{ item.goods_sn }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }"
                    data-logsss-event-value="{ 'pm':'mp','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','sku':'{{ item.goods_sn }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'},'skuinfo':{'sku':'{{ item.goods_sn }}','pam':'0','pc':'{{ item.catid }}','k':'{{ item.warecode }}'} }">
                    {{ include ('@app/files/parts/twigs/indexs/basics/goods-discount.twig',
                        { options: { 
                                value: item.discount | default(20),
                                isShow: data.isDiscountVis | default(1),
                                isDiscountStyle: data.isDiscountStyle | default(1)
                            }
                        })
                    }}
                    {{ include ('@app/files/parts/twigs/indexs/basics/goods-picture.twig',
                        { options: { 
                                goodsImg: item.goods_img|default(data.default.good),
                                urlTitle: item.url_title,
                                goodsSku: item.goods_sn,
                                goodsNum: item.goods_number | default(1),
                                isOnSale: item.is_on_sale | default(1),
                                lang:{
                                    soldout: pageData.soldout,
                                    shopnow: pageData.shopnow
                                }
                            }
                        })
                    }}

                    {{ include ('@app/files/parts/twigs/indexs/basics/goods-title.twig',
                        { options: { 
                                goodsTitle: item.goods_title | default('Plus Size Mesh Panel Snowflak…'),
                                urlTitle: item.url_title
                            }
                        })
                    }}
                    <p class="geshop-item-price-layer">
                        {% if siteCode == 'dl-app' %}
                            {% set goodsPrice = item.app_price | default(item.shop_price) %}
                        {% else %}
                            {% set goodsPrice = item.shop_price %}
                        {% endif %}
                        {{ include ('@app/files/parts/twigs/indexs/basics/goods-sale-price.twig', { options: { 
                            value: goodsPrice | default('0.00')
                        }})}}
                        {{ include ('@app/files/parts/twigs/indexs/basics/goods-market-price.twig',
                            { options: { 
                                    value: item.market_price | default('0.00'),
                                    isVis: data.isOriginalPriceVis | default(1)
                                }
                            })
                        }}
                        {{ include ('@app/files/parts/twigs/indexs/basics/goods-promotions.twig',
                            { options: { 
                                    value: item.promotions
                                }
                            })
                        }}
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
