{%
	set pageData = {
		bg_color:data.bg_color|default('#0e91d1'),
		hover_color:data.hover_color is not null?data.hover_color:'#ffffff',
		font_color:data.font_color is not null?data.font_color:'#666666',
		font_size:data.font_size is not null?data.font_size:28,
		hover_font_color:data.hover_font_color is not null?data.hover_font_color:'#fd6462',
		nav_h:data.nav_h is not null?data.nav_h:88,
		nav_gap:data.nav_gap is not null?data.nav_gap:24,
	}
%}
{% set userGroupClass = "geshop_user_"~data.userGroupSelect|default(0)%}
<div class="geshop-component-box component-drag u000030 {{ userGroupClass }}" data-static-domain="{{staticDomain}}"
style="overflow:hidden; height: {% if data.nav_h %}{{ (data.nav_h / 75) | number_format(3, '.') }}{% else %}{{ (88 / 75) | number_format(3, '.') }}{% endif %}rem;" data-key="U000030" data-id="{{ pageInstanceId }}">
  <!-- embed stylesheet begin -->
  <style type="text/css">
    .u000030 .m-current{
      border-bottom: 2px solid {{ data.hover_font_color | default('#fd6462') }};
      background-color: {{ pageData.hover_color|default('transparent') }}!important;
    }
    .u000030 .m-current strong {
      color: {{ pageData.hover_font_color|default('transparent') }}!important;
    }
  </style>
  <!-- embed stylesheet end -->
	
  <nav class="component-m-nav" id="js_topNav" style="padding-bottom: 2px; height: {% if data.nav_h %}{{ (data.nav_h / 75) | number_format(3, '.') }}{% else %}{{ (88 / 75) | number_format(3, '.') }}{% endif %}rem;background-color:{{ pageData.bg_color }}">
    <ul class="component-m-nav-ul  swiper-wrapper" id="nav-m-ul" data-isedit="{{ data.isEditEnv }}" style="background-color:{{ pageData.bg_color }}">
      {% if data.navData %}
        {% for id,item in data.navData %}
          {% if id in data.nav_menu %}
            <li class="component-m-nav-item swiper-slide" data-id="{{ id }}" style="padding: 0 {% if data.nav_gap %}{{ (data.nav_gap / 75) | number_format(3, '.') }}{% else %}{{ (24 / 75) | number_format(3, '.') }}{% endif %}rem;">
              <strong style="
								{% if pageData.font_color %} color: {{ pageData.font_color}};{% endif %}
                font-size: {% if data.font_size %}{{ (data.font_size / 75) | number_format(3, '.') }}{% else %}{{ (28 / 75) | number_format(3, '.') }}{% endif %}rem;
                height: {% if data.nav_h %}{{ (data.nav_h / 75) | number_format(3, '.') }}{% else %}{{ (88 / 75) | number_format(3, '.') }}{% endif %}rem;
                line-height: {% if data.nav_h %}{{ (data.nav_h / 75) | number_format(3, '.') }}{% else %}{{ (88 / 75) | number_format(3, '.') }}{% endif %}rem;
              ">{{ item }}</strong>
            </li>
          {% endif %}
        {% endfor %}
      {% else %}
        <li class="component-m-nav-item" style="padding: 0 {% if data.nav_gap %}{{ (data.nav_gap / 75) | number_format(3, '.') }}{% else %}{{ (24 / 75) | number_format(3, '.') }}{% endif %}rem;">
          <strong style="
						{% if pageData.font_color %} color: {{ pageData.font_color}};{% endif %}
            font-size: {% if data.font_size %}{{ (data.font_size / 75) | number_format(3, '.') }}{% else %}{{ (28 / 75) | number_format(3, '.') }}{% endif %}rem;
            height: {% if data.nav_h %}{{ (data.nav_h / 75) | number_format(3, '.') }}{% else %}{{ (88 / 75) | number_format(3, '.') }}{% endif %}rem;
            line-height: {% if data.nav_h %}{{ (data.nav_h / 75) | number_format(3, '.') }}{% else %}{{ (88 / 75) | number_format(3, '.') }}{% endif %}rem;
          ">请配置数据</strong>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
