
<div class='design-form design-form-component design-form-visible'>
  <h3 class='component-form-title'>video 组件
    <a href="javascript:;" class="design-form-close js_closeDesignForm icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  <blockquote class="component-form-quote">切换模板后，无蓝色标识的配置数据将被重置</blockquote>
  <div class="component-form-setting-item component-form-configure-item activity-component-from-item">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">模板选择</li>
        <li>视频设置</li>
      </ul>
      <div class="layui-tab-content layui-tab-content-parent">
        <div class="layui-tab-item layui-show">
						<style> {{ include('@app/htdocs/resources/stylesheets/form-less-module/theme.css') }} </style>
						{{ include ('@app/files/parts/formTemplate/components/theme.twig') }}
				</div>
        <div class="layui-tab-item">
          <div class="layui-collapse" lay-accordion>
            <div class="layui-colla-item">
              <h2 class="layui-colla-title">内容设置</h2>
              <div class="layui-colla-content layui-show">
                <div class="layui-form-item">
                  <label class="layui-form-label">上边距(px)</label>
                  <div class="layui-input-block">
                    <input type="text" name="paddingTop" autocomplete="off" class="layui-input" value="{{ data.paddingTop | default(0) }}">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">下边距(px)</label>
                  <div class="layui-input-block">
                    <input type="text" name="paddingBottom" autocomplete="off" class="layui-input" value="{{ data.paddingBottom | default(0) }}">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label public-data">播放器宽度(px)</label>
                  <div class="layui-input-block">
                    <input type="text" name="videoWidth" autocomplete="off" class="layui-input" value="{{ data.videoWidth | default(640) }}" data-public-tag="true">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label public-data">播放器高度(px)</label>
                  <div class="layui-input-block">
                    <input type="text" name="videoHeight" autocomplete="off" class="layui-input" value="{{ data.videoHeight | default(360) }}" data-public-tag="true">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label public-data">视频编号</label>
                  <div class="layui-input-block">
                    <input type="text" name="videoCode" autocomplete="off" class="layui-input" value="{{ data.videoCode }}" data-public-tag="true">
                  </div>
                </div>     
                <div class="layui-form-item">
                  <label class="layui-form-label">是否循环播放</label>
                  <div class="layui-input-block" >
                      <input type="radio" name="loop" value="0" title="否" {% if data.loop | default(0) == 0 %} checked{% endif %}>
                      <input type="radio" name="loop" value="1" title="是" {% if data.loop  == 1 %} checked{% endif %}>
                  </div>
                </div> 
                <div class="layui-form-item">
                  <label class="layui-form-label">是否自动播放</label>
                  <div class="layui-input-block">
                      <input type="radio" name="autoPlay" value="0" title="否" {% if data.autoPlay | default(0)== 0 %} checked{% endif %}>
                      <input type="radio" name="autoPlay" value="1" title="是" {% if data.autoPlay == 1 %} checked{% endif %}>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="layui-form-item geshop-form-operation">
  <button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
  <button type="button" class="layui-btn layui-btn-normal js_submitDesignForm">提交</button>
</div>
