{%
    set pageData = {
        boxWidth : (data.boxWidth | default('100%')),
        boxHeight : (data.boxHeight | default(270)),
        boxMarginBottom : (data.boxMarginBottom | default(0)),
        boxBackgroundColor : data.boxBackgroundColor | default('#EDEDED'),
        boxBackgroundImage : data.boxBackgroundImage | default(''),
        discountTextSize : (data.discountTextSize | default(64)),
        discountTextColor : data.discountTextColor | default('#333333'),
        discountTermTextSize : (data.discountTermTextSize | default(28)),
        discountTermTextColor : data.discountTermTextColor | default('#333333'),
        validTextSize : (data.validTextSize | default(24)),
        validTextColor : data.validTextColor | default('#333333'),
        validTextMarginBottom : (data.validTextMarginBottom | default(10)),
        btnRadius : (data.btnRadius | default(24)),
        btnSize :  (data.btnSize | default(24)),
        btnUnreceivedBgColor : data.btnUnreceivedBgColor | default('#333333'),
        btnUnreceivedTextColor : data.btnUnreceivedTextColor | default('#ffffff'),
        btnUnreceivedTextBorderColor : data.btnUnreceivedTextBorderColor | default('transparent'),
        btnReceivedBgColor : data.btnReceivedBgColor | default('#dddddd'),
        btnReceivedTextColor : data.btnReceivedTextColor | default('#ffffff'),
        btnReceivedTextBorderColor : data.btnReceivedTextBorderColor | default('transparent'),
        btnFailedBgColor : data.btnFailedBgColor | default('#dddddd'),
        btnFailedTextColor : data.btnFailedTextColor | default('#ffffff'),
        btnFailedTextBorderColor : data.btnFailedTextBorderColor | default('transparent')
    }
%}
{% set alginType = {
  _name : 'alignType',
  _value : data.alignType | default(2),
  _label : '组件对齐方式',
  _type : 3,
  _subs : [
    {value : 1,label : '左',},
    {value : 2,label : '中',},
    {value : 3,label : '右',},
  ]
} %}
<div class='design-form design-form-component design-form-visible' id="from{{ pageInstanceId }}">
  <h3 class='component-form-title'>优惠券组件设置
    <a href="javascript:;" class="design-form-close js_closeDesignForm icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  <blockquote class="component-form-quote">切换模板后，无蓝色标识的配置数据将被重置</blockquote>
  <input type="hidden" name="couponData">
  <input type="hidden" name="couponSortedData">
  <div class="component-form-setting-item component-form-configure-item activity-component-from-item">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">模板选择</li>
        <li>商品设置</li>
        <li>样式设置</li>
      </ul>
      <div class="layui-tab-content layui-tab-content-parent">
        <div class="layui-tab-item layui-show">
						<style> {{ include('@app/htdocs/resources/stylesheets/form-less-module/theme.css') }} </style>
						{{ include ('@app/files/parts/formTemplate/components/theme.twig') }}
				</div>
        <div class="layui-tab-item coupon-from-idmsg">
            <legend style="margin: 0 0 20px 0;">优惠券数据输入配置</legend>
            {% for coupon in data.couponData | default(0..0) %}
          <div class="coupon-item">
            <div class="layui-form-item">
              <div class="gs-lable-block"style="margin-bottom:10px;">优惠券ID</div>
              <div class="layui-input-block" style="margin-left:0;">
                <input type="text" name="couponId" autocomplete="off" class="layui-input Unwanted" value="{{ coupon.id }}">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="gs-lable-block"style="margin-bottom:10px;">优惠券领取时段文案</div>
              <div class="layui-input-block" style="margin-left:0;">
                <input type="text" name="couponText" autocomplete="off" class="layui-input Unwanted" value="{{ coupon.text | default('Validity：Nov.23-Nov.25') }}">
              </div>
            </div>

            <div class="layui-form-item time-line" style="color: #9E9E9E;">
              <div class="gs-lable-block"style="margin-bottom:10px;">优惠券领取时段</div>
              <div class="layui-input-block" style="margin-left:0;">
                <div style="background:#E6E6E6;border-radius:4px;line-height:40px;height:40px;width: 345px;box-sizing: border-box;padding: 0 10px;text-align: center;">
                    <span class="time-start" style="float: left;">
                      {{ coupon.startTime }}
                    </span>
                    <span style="padding:0 10px;">至</span>
                    <span class="time-end" style="float: right;">
                      {{ coupon.endTime }}
                    </span>
                </div>
                <input type="hidden" name="couponStartTimestamp" autocomplete="off" class="layui-input Unwanted" value="{{ coupon.startTimestamp }}">
                <input type="hidden" name="couponStartTime" autocomplete="off" class="layui-input Unwanted" value="{{ coupon.startTime }}">
                <input type="hidden" name="couponEndTimestamp" autocomplete="off" class="layui-input Unwanted" value="{{ coupon.endTimestamp }}">
                <input type="hidden" name="couponEndTime" autocomplete="off" class="layui-input Unwanted" value="{{ coupon.endTime }}">
              </div>
            </div>
            <div class="layui-form-item couponDiscount-line" style="color: #9E9E9E;">
              <div class="gs-lable-block"style="margin-bottom:10px;">优惠券折扣</div>
              <div class="layui-input-block" style="margin-left:0;">
                <div class="text" style="background:#E6E6E6;border-radius:4px;line-height:40px;height:40px;width: 345px;box-sizing: border-box;padding: 0 10px;">{{ coupon.discount }}</div>
                <input type="hidden" name="couponDiscount" autocomplete="off" class="layui-input Unwanted" value="{{ coupon.discount }}">
              </div>
            </div>
            <div class="layui-form-item couponDiscountText-line" style="color: #9E9E9E;">
              <div class="gs-lable-block"style="margin-bottom:10px;">优惠券折扣条件</div>
              <div class="layui-input-block" style="margin-left:0;">
                <div class="text" style="background:#E6E6E6;border-radius:4px;line-height:40px;height:40px;width: 345px;box-sizing: border-box;padding: 0 10px;">{{ coupon.condition }}</div>
                <input type="hidden" name="couponDiscountText" autocomplete="off" class="layui-input Unwanted" value="{{ coupon.condition }}">
              </div>
            </div>
            {% if loop.index != 1 %}
            <div class="layui-form-item" style="text-align: right;">
              <span class="img-btn btn-delete" style="font-size: 12px; color: #000000;">
                <i class="icon-delete"></i><b class="tips">删除</b>
              </span>
            </div>
            {% endif %}
          </div>
          {% endfor %}
          <div class="layui-form-item tab-add-btn" style="margin-top: 20px;">
            <span class="el-button el-button--primary el-button--small" id="gs_add_coupon">+ 新增时段</span>
          </div>
        </div>
        <div class="layui-tab-item">
          <div class="layui-carousel" id="form_carousel">
            <div carousel-item>
              <div>
                <fieldset class="layui-elem-field">
                  <legend>常用配置</legend>
                  <div class="layui-field-box">
                    <div class="layui-form-item">
                      <label class="layui-form-label">组件下边距(px)</label>
                      <div class="layui-input-block">
                        <input type="text" name="boxMarginBottom" autocomplete="off" class="layui-input" value="{{ pageData.boxMarginBottom }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">宽度(px)</label>
                      <div class="layui-input-block">
                        <input type="text" name="boxWidth" autocomplete="off" class="layui-input" value="{{ pageData.boxWidth }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">高度(px)</label>
                      <div class="layui-input-block">
                        <input type="text" name="boxHeight" autocomplete="off" class="layui-input" value="{{ pageData.boxHeight }}">
                      </div>
                    </div>
                    {% include '@app/files/parts/temp/from/cell-from.twig' with alginType %} 
                  </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>优惠券内容配置</legend>
                    <div class="layui-form-item">
                      <label class="layui-form-label">背景颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="boxBackgroundColor"><div style="background-color: {{ pageData.boxBackgroundColor }};"></div></div>
                        <input type="text" class="layui-input" name="boxBackgroundColor" autocomplete="off" value="{{ pageData.boxBackgroundColor }}">
                      </div>
                    </div>  
                    <div class="layui-form-item">
                      <label class="layui-form-label">背景图片</label>
                      <div class="layui-input-block">
                        <a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
                        <input type="text" name="boxBackgroundImage" autocomplete="off" class="layui-input" value="{{ pageData.boxBackgroundImage }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">折扣值文字大小(PX)</label>
                      <div class="layui-input-block">
                        <input type="text" name="discountTextSize" autocomplete="off" placeholder="" class="layui-input" value="{{ pageData.discountTextSize}}">
                      </div>  
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">折扣值文字颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="discountTextColor"><div style="background-color: {{ pageData.discountTextColor }};"></div></div>
                        <input type="text" class="layui-input" name="discountTextColor" autocomplete="off" value="{{ pageData.discountTextColor }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">折扣标标题区域下边距(PX)</label>
                      <div class="layui-input-block">
                        <input type="text" name="discountTextMarginBottom" autocomplete="off" placeholder="" class="layui-input" value="{{ data.discountTextMarginBottom | default(0) }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">折扣标标题上边距(PX)</label>
                      <div class="layui-input-block">
                        <input type="text" name="discountTextMarginTop" autocomplete="off" placeholder="" class="layui-input" value="{{ data.discountTextMarginTop | default(40) }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">折扣标标题左边距(PX)</label>
                      <div class="layui-input-block">
                        <input type="text" name="discountTextMarginLeft" autocomplete="off" placeholder="" class="layui-input" value="{{ data.discountTextMarginLeft | default(56) }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">折扣条件文字大小(PX)</label>
                      <div class="layui-input-block">
                        <input type="text" name="discountTermTextSize" autocomplete="off" placeholder="" class="layui-input" value="{{ pageData.discountTermTextSize}}">
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">折扣条件文字颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="discountTermTextColor"><div style="background-color: {{ pageData.discountTermTextColor }};"></div></div>
                        <input type="text" class="layui-input" name="discountTermTextColor" autocomplete="off" value="{{ pageData.discountTermTextColor }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">有效时间文字大小(PX)</label>
                      <div class="layui-input-block">
                        <input type="text" name="validTextSize" autocomplete="off" placeholder="" class="layui-input" value="{{ pageData.validTextSize}}">
                      </div>   
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">有效时间文字颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="validTextColor"><div style="background-color: {{ pageData.validTextColor }};"></div></div>
                        <input type="text" class="layui-input" name="validTextColor" autocomplete="off" value="{{ pageData.validTextColor }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">有效时间下边距(PX)</label>
                      <div class="layui-input-block">
                        <input type="text" name="validTextMarginBottom" autocomplete="off" placeholder="" class="layui-input" value="{{ pageData.validTextMarginBottom}}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">有效时间左边距(PX)</label>
                      <div class="layui-input-block">
                        <input type="text" name="validTextMarginLeft" autocomplete="off" placeholder="" class="layui-input" value="{{ data.validTextMarginLeft | default(56) }}">
                      </div>
                    </div>
                </fieldset>
                 <fieldset class="layui-elem-field">
                    <legend>按钮配置</legend>
                    <div class="layui-form-item">
                      <label class="layui-form-label">圆角大小(PX)</label>
                      <div class="layui-input-block">
                        <input type="text" name="btnRadius" autocomplete="off" placeholder="" class="layui-input" value="{{ pageData.btnRadius}}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">文字大小(PX)</label>
                      <div class="layui-input-block">
                        <input type="text" name="btnSize" autocomplete="off" placeholder="" class="layui-input" value="{{ pageData.btnSize}}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">未领取背景颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="btnUnreceivedBgColor"><div style="background-color: {{ pageData.btnUnreceivedBgColor }};"></div></div>
                        <input type="text" class="layui-input" name="btnUnreceivedBgColor" autocomplete="off" value="{{ pageData.btnUnreceivedBgColor }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">未领取字体颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="btnUnreceivedTextColor"><div style="background-color: {{ pageData.btnUnreceivedTextColor }};"></div></div>
                        <input type="text" class="layui-input" name="btnUnreceivedTextColor" autocomplete="off" value="{{ pageData.btnUnreceivedTextColor }}">
                      </div>
                    </div> 
                    <div class="layui-form-item">
                      <label class="layui-form-label">未领取边框颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="btnUnreceivedTextBorderColor"><div style="background-color: {{ pageData.btnUnreceivedTextBorderColor }};"></div></div>
                        <input type="text" class="layui-input" name="btnUnreceivedTextBorderColor" autocomplete="off" value="{{ pageData.btnUnreceivedTextBorderColor }}">
                      </div>
                    </div> 
                    <div class="layui-form-item">
                      <label class="layui-form-label">已领取背景颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="btnReceivedBgColor"><div style="background-color: {{ pageData.btnReceivedBgColor }};"></div></div>
                        <input type="text" class="layui-input" name="btnReceivedBgColor" autocomplete="off" value="{{ pageData.btnReceivedBgColor }}">
                      </div>
                    </div> 
                    <div class="layui-form-item">
                      <label class="layui-form-label">已领取字体颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="btnReceivedTextColor"><div style="background-color: {{ pageData.btnReceivedTextColor }};"></div></div>
                        <input type="text" class="layui-input" name="btnReceivedTextColor" autocomplete="off" value="{{ pageData.btnReceivedTextColor }}">
                      </div>
                    </div> 
                    <div class="layui-form-item">
                      <label class="layui-form-label">已领取边框颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="btnReceivedTextBorderColor"><div style="background-color: {{ pageData.btnReceivedTextBorderColor }};"></div></div>
                        <input type="text" class="layui-input" name="btnReceivedTextBorderColor" autocomplete="off" value="{{ pageData.btnReceivedTextBorderColor }}">
                      </div>
                    </div> 
                    <div class="layui-form-item">
                      <label class="layui-form-label">已失效背景颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="btnFailedBgColor"><div style="background-color: {{ pageData.btnFailedBgColor }};"></div></div>
                        <input type="text" class="layui-input" name="btnFailedBgColor" autocomplete="off" value="{{ pageData.btnFailedBgColor }}">
                      </div>
                    </div> 
                    <div class="layui-form-item">
                      <label class="layui-form-label">已失效字体颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="btnFailedTextColor"><div style="background-color: {{ pageData.btnFailedTextColor }};"></div></div>
                        <input type="text" class="layui-input" name="btnFailedTextColor" autocomplete="off" value="{{ pageData.btnFailedTextColor }}">
                      </div>
                    </div> 
                    <div class="layui-form-item">
                      <label class="layui-form-label">已失效边框颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="btnFailedTextBorderColor"><div style="background-color: {{ pageData.btnFailedTextBorderColor }};"></div></div>
                        <input type="text" class="layui-input" name="btnFailedTextBorderColor" autocomplete="off" value="{{ pageData.btnFailedTextBorderColor }}">
                      </div>
                    </div>  
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="siteCode" value="{{ siteCode|split('-')[0] }}" />

<div class="layui-form-item geshop-form-operation">
  <button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
  <span type="button" class="layui-btn layui-btn-normal" id="gs_submit">提交</span>
  <button type="button" class="layui-btn layui-btn-normal js_submitDesignForm" style="display: none;">提交</button>
</div>

<script id="component_template" type="text/template">
  <div class="coupon-item">
    <div class="layui-form-item">
      <div class="gs-lable-block"style="margin-bottom:10px;">优惠券ID</div>
      <div class="layui-input-block" style="margin-left:0;">
        <input type="text" name="couponId" autocomplete="off" class="layui-input Unwanted" value="">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="gs-lable-block"style="margin-bottom:10px;">优惠券领取时段文案</div>
      <div class="layui-input-block" style="margin-left:0;">
        <input type="text" name="couponText" autocomplete="off" class="layui-input Unwanted" value="Validity：Nov.23-Nov.25">
      </div>
    </div>
    <div class="layui-form-item time-line" style="color: #9E9E9E;">
      <div class="gs-lable-block"style="margin-bottom:10px;">优惠券领取时段</div>
      <div class="layui-input-block" style="margin-left:0;">
        <div style="background:#E6E6E6;border-radius:4px;line-height:40px;height:40px;width: 345px;box-sizing: border-box;padding: 0 10px;text-align: center;">
            <span class="time-start" style="float: left;"></span>
            <span style="padding:0 10px;">至</span>
            <span class="time-end" style="float: right;"></span>
        </div>
        <input type="hidden" name="couponStartTimestamp" autocomplete="off" class="layui-input Unwanted" value="">
        <input type="hidden" name="couponStartTime" autocomplete="off" class="layui-input Unwanted" value="">
        <input type="hidden" name="couponEndTimestamp" autocomplete="off" class="layui-input Unwanted" value="">
        <input type="hidden" name="couponEndTime" autocomplete="off" class="layui-input Unwanted" value="">
      </div>
    </div>
    <div class="layui-form-item couponDiscount-line" style="color: #9E9E9E;">
      <div class="gs-lable-block"style="margin-bottom:10px;">优惠券折扣</div>
      <div class="layui-input-block" style="margin-left:0;">
        <div class="text" style="background:#E6E6E6;border-radius:4px;line-height:40px;height:40px;width: 345px;box-sizing: border-box;padding: 0 10px;"></div>
        <input type="hidden" name="couponDiscount" autocomplete="off" class="layui-input Unwanted" value="">
      </div>
    </div>
    <div class="layui-form-item couponDiscountText-line" style="color: #9E9E9E;">
      <div class="gs-lable-block"style="margin-bottom:10px;">优惠券折扣条件</div>
      <div class="layui-input-block" style="margin-left:0;">
        <div class="text" style="background:#E6E6E6;border-radius:4px;line-height:40px;height:40px;width: 345px;box-sizing: border-box;padding: 0 10px;"></div>
        <input type="hidden" name="couponDiscountText" autocomplete="off" class="layui-input Unwanted" value="">
      </div>
    </div>
    <div class="layui-form-item" style="text-align: right;">
			<span class="img-btn btn-delete" style="font-size: 12px; color: #000000;">
			  <i class="icon-delete"></i><b class="tips">删除</b>
			</span>
    </div>
  </div>
</script>

<script>
  (function(){
    $('.design-form').off('blur', 'input[name="couponId"]');
    $('.design-form').off('click', '.btn-delete');
    $('#gs_add_coupon').off('click');
    $('#gs_submit').off('click');

    var $box = $('#from{{ pageInstanceId }}');
    {# 转换时间 #}
    var _formatDate = function(_d){
      return [
        _d.getFullYear(),
        '-',
        fillZero(_d.getMonth() + 1),
        '-',
        fillZero(_d.getDate()),
        ' ',
        fillZero(_d.getHours()),
        ':',
        fillZero(_d.getMinutes()),
        ':',
        fillZero(_d.getSeconds()),
      ].join('')
    };
    var _inputFirm = function _inputFirm(element, text){
        var _index = layer.confirm(text || '优惠券ID错误，请正确填写优惠券ID', {
              btn: ['取消', '确定'],
              area: '420px',
              icon: 3,
              skin: 'element-ui-dialog-class'
        },function(){
            element.find('[name="couponId"]').focus();
            layer.close(_index);
        },function(){
            element.find('[name="couponId"]').focus();
        });
    };
    var _jsonp = function _jsonp(param){
            param = param || {};
            return $.ajax($.extend({
                dataType: "jsonp",
                jsonp: 'callback',
            },param));
        };
    var fillZero = function fillZero(n){
            return n < 10 ? '0' + n : n ;
        };    
    var getCouponDetail = function getCouponDetail(element, _value){
      var _url = GESHOP_INTERFACE.coupondetail.url;
      var siteCode = $('#siteCode').val();
      return _jsonp({
        url: _url,
        data: {
            content : JSON.stringify({
                lang : '{{ lang }}',
                couponid : _value,
                pipeline: (typeof GESHOP_PIPELINE != 'undefined' ? GESHOP_PIPELINE : '')
            })
        },
        success: function (res) {
          if (res.code === 0) {
            var couponInfo = res.data.couponInfo || {};
            if (couponInfo.id) {
              if (siteCode == 'rg') {
                var startTime = parseInt(couponInfo.getStartTime) * 1000;
                var endTime = parseInt(couponInfo.getEndTime) * 1000;
              } else {
                var startTime = parseInt(couponInfo.enableStartTime) * 1000;
                var endTime = parseInt(couponInfo.enableEndTime) * 1000;
              }

              var startIsTheSame = false;
              $box.find('.coupon-item').each(function () {
                var target = $(this);

                if (couponInfo.id != target.find('[name="couponId"]').val() &&
                  startTime == $(this).find('[name="couponStartTimestamp"]').val()) {
                  layer.msg('不可以设置两个相同的开始时间的优惠券，请重新检查优惠券');
                  startIsTheSame = true;
                }
              });

              if (startIsTheSame) {
                _clearFrom(element);
              } else {
                if (startTime === 0) {
                  _setTime(element);
                } else {
                  _setTime(element, {
                    startTimestamp: startTime,
                    start : _formatDate(new Date(startTime)),
                    endTimestamp: endTime,
                    end : _formatDate(new Date(endTime)),
                  });

                  if (parseInt(couponInfo.type) === 1) {
                    _setDiscount(element, couponInfo.offerAmount + '%');
                  } else if(parseInt(couponInfo.type) === 2) {
                    _setDiscount(element, '$' + couponInfo.offerAmount);
                  }
                  _setDiscountText(element, '$' + couponInfo.thresholdAmount);
                }
              }
            } else {
              _inputFirm(element);
              _clearFrom(element);
            }
          } else {
            {# 获取优惠券信息错误 #}
            _inputFirm(element);
            _clearFrom(element);
          }
        }
      });
    };
    var _setCouponId = function (element, value) {
      element.find('[name="couponId"]').val(value || '');
    };
    {# 设置时间 #}
    var _setTime = function _setTime(element, param){
      param = param || {};
      element.find('.time-start').html(param.start || '');
      element.find('[name="couponStartTimestamp"]').val(param.startTimestamp || '');
      element.find('[name="couponStartTime"]').val(param.start || '');
      element.find('.time-end').html(param.end || '');
      element.find('[name="couponEndTimestamp"]').val(param.endTimestamp || '');
      element.find('[name="couponEndTime"]').val(param.end || '');
    };
    {# 设置折扣 #}
    var _setDiscount = function _setDiscount(element, text){
      element.find('.couponDiscount-line .text').html(text || '');
      element.find('.couponDiscount-line input').val(text || '');
    };
    {# 设置折扣文案 #}
    var _setDiscountText = function _setDiscountText(element, text){
      element.find('.couponDiscountText-line .text').html(text || '');
      element.find('.couponDiscountText-line input').val(text || '');
    };
    {# 清楚表单信息 #}
    var _clearFrom = function clearFrom(element){
        _setTime(element, {});
        _setDiscount(element, '');
        _setDiscountText(element, '');
        _setCouponId(element, '');
    };

    $('.design-form')
    .on('blur', 'input[name="couponId"]', function() {
      var $this = $(this);
      var _value = $this.val().replace(/^\s|\s$/g, '');
      var closestTarget = $this.closest('.coupon-item');

      if (!_value) {
        _clearFrom(closestTarget);
      } else {
        var isTheSameId = false;

        closestTarget.siblings().each(function () {
          if ($(this).find('[name=couponId]').val() == _value) {
            layer.msg('不可以设置两个相同的优惠券，请重新输入');
            _clearFrom(closestTarget);
            
            if (isTheSameId === false) {
              isTheSameId = true;
            }
          }
        });

        if (!isTheSameId) {
          getCouponDetail(closestTarget, _value);
        }
      }
    })
    .on('click', '.btn-delete', function () {
      var closestTarget = $(this).closest('.coupon-item');
      var couponId = $.trim(closestTarget.find('[name="couponId"]').val());
      
      if (couponId) {
        layer.confirm('数据删除将无法恢复，是否删除内容?', function(index){
          closestTarget.remove();
          layer.close(index);
        });
      } else {
        closestTarget.remove();
      }
    });

    $('#gs_add_coupon').click(function () {
      $(this).parent().before($('#component_template').html())
    });

    $('#gs_submit').click(function () {
      var data = [];
      var sortedData = [];

      $box.find('.coupon-item').each(function () {
        var target = $(this);

        if (Number(target.find('[name="couponId"]').val())) {
          data.push({
            id: target.find('[name="couponId"]').val(),
            text: target.find('[name="couponText"]').val(),
            startTimestamp: target.find('[name="couponStartTimestamp"]').val(),
            startTime: target.find('[name="couponStartTime"]').val(),
            endTimestamp: target.find('[name="couponEndTimestamp"]').val(),
            endTime: target.find('[name="couponEndTime"]').val(),
            discount: target.find('[name="couponDiscount"]').val(),
            condition: target.find('[name="couponDiscountText"]').val()
          });

          sortedData.push({
            id: target.find('[name="couponId"]').val(),
            text: target.find('[name="couponText"]').val(),
            startTimestamp: target.find('[name="couponStartTimestamp"]').val(),
            startTime: target.find('[name="couponStartTime"]').val(),
            endTimestamp: target.find('[name="couponEndTimestamp"]').val(),
            endTime: target.find('[name="couponEndTime"]').val(),
            discount: target.find('[name="couponDiscount"]').val(),
            condition: target.find('[name="couponDiscountText"]').val()
          });
        }
      });
      
      $('[name="couponData"]').val(JSON.stringify(data));
      
      sortedData.sort(function (a, b) {
        return (a.startTimestamp - b.startTimestamp);
      });

      $('[name="couponSortedData"]').val(JSON.stringify(sortedData));

      $(this).next('button').trigger('click');
    })
  }());
</script>