<div class="layui-form-item {{ componentData.extendClass }}">
    <label class="layui-form-label {% if componentData.public %} public-data {% endif %}">
        {{ componentData.label }}
        <span>{{ componentData.desc }}</span>
    </label>
    <div class="layui-input-block">
    <a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
    <input 
        type="text" 
        name="{{ componentData.name }}" 
        autocomplete="off" 
        class="layui-input" 
        value="{{ componentData.value | default(componentData.defaultValue) }}" 
        data-public-tag="{{ componentData.public }}" 
        data-width="{{ componentData.data_width | default(0) }}" 
        data-height="{{ componentData.data_height | default(0) }}" >
    </div>
</div>