
{# tab分类id 首页推荐分类数据配置 #}
<style>
    .layui-elem-field > h3 {
        display: inline-block;
        float: left;
    }

    .goods__tab--wrap fieldset.layui-elem-field.tab-fid {
        text-align: right;
        margin: 16px 0;
    }

    .second-list .list-group-item {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 0 16px 13px;
        margin: 13px auto;
        height: auto;
        background: rgba(254, 254, 254, 1);
        border-radius: 4px;
        border: 1px solid rgba(230, 230, 230, 1);
    }

    .second-list .list-group-item .select-item {
        margin-left: 0px !important;
    }

    .second-list .list-group-item .gs-tab-title .layui-form-radio {
        margin-right: 0px !important;

    }

    .goods__tab--wrap .layui-form-item {
        margin: 16px auto;
    }

    .goods__tab--wrap .layui-form-item .layui-form-radio {
        margin-right: 0px !important;
        padding-right: 0px !important;
    }

    .wrap-config.hide {
        display: none;
    }

    .second-list .layui-form-item > .layui-form-label span {
        color: #000 !important;
    }
</style>

<section class="goods__tab--wrap">

    <input type="hidden" class="Unwanted" name="sku_selector_parent" value=".radio-tab-group">
    {# 当前商品tab类型 [0,1] [商品sku+选品，分类id]#}
    <input type="hidden" name="goods_tab_from" value="{{ data.goods_tab_from|default(0) }}">
    {# tab 数据#}
    <input type="hidden" name="navList" value='{{ json_encode_no_unicode(data.navList | default({})) }}'>

    {#    <input type="hidden"#}
    {#           class="nav-list-arr"#}
    {#           name="navList"#}
    {#           value='{{ json_encode_no_unicode(data.navList | default({})) }}' data-public-tag="true">#}

    {% if data.navList %}
        {% set list =  data.navList %}
    {% else %}
        {% set list = [{ "catId": "","catNum":""}] %}
    {% endif %}

    <div class="nav-form-wrap">
        {% for i,item in list %}
            <div class="wrap-config">
                <div class="second-list">
                    <div class="list-group-item">

                        <!--ID-->
                        <div class="layui-form-item">
                            <label class="layui-form-label tab-hd">分类ID<span>{{ i + 1 }}</span></label>
                            <div class="layui-input-block">
                                <input type="text"
                                       name="catId"
                                       autocomplete="off"
                                       class="layui-input js-valid-cateIds Unwanted"
                                       value="{{ item.catId }}"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label tab-hd">数量</label>
                            <div class="layui-input-block">
                                <input type="text"
                                       name="catNum"
                                       autocomplete="off"
                                       class="layui-input Unwanted"
                                       value="{{ item.catNum }}"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!--操作按钮-->
                <fieldset class="layui-elem-field tab-fid">
                    <span class="img-btn f-delete">
                          <i class='icon-delete'></i>
                          <b class="tips">删除</b>
                    </span>
                    <span class="img-btn f-up class-close">
                          <i class='icon-up'></i>
                          <b class="tips">上移</b>
                    </span>

                    <span class="img-btn f-down class-close">
                          <i class='icon-down'></i>
                          <b class="tips">下移</b>
                    </span>
                    <span class="img-btn f-add class-close">
                          <i class='icon-add'></i>
                        <b class="tips">新增</b>
                    </span>
                </fieldset>

            </div>
        {% endfor %}
    </div>

</section>

<!--拷贝-->
<div class="wrap-config hide">
    <div class="second-list">
        <div class="list-group-item">
            <!--ID-->
            <div class="layui-form-item">
                <label class="layui-form-label tab-hd">分类ID<span>1</span></label>
                <div class="layui-input-block">
                    <input type="text"
                           name="catId"
                           autocomplete="off"
                           class="layui-input js-valid-cateIds Unwanted"
                           value="{{ item.catId }}"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label tab-hd">数量</label>
                <div class="layui-input-block">
                    <input type="text"
                           name="catNum"
                           autocomplete="off"
                           class="layui-input Unwanted"
                           value="{{ item.catNum }}"/>
                </div>
            </div>
        </div>
    </div>

    <!--操作按钮-->
    <fieldset class="layui-elem-field tab-fid">
        <span class="img-btn f-delete">
              <i class='icon-delete'></i>
              <b class="tips">删除</b>
        </span>
        <span class="img-btn f-up class-close">
              <i class='icon-up'></i>
              <b class="tips">上移</b>
        </span>

        <span class="img-btn f-down class-close">
              <i class='icon-down'></i>
              <b class="tips">下移</b>
        </span>
        <span class="img-btn f-add class-close">
              <i class='icon-add'></i>
            <b class="tips">新增</b>
        </span>
    </fieldset>

</div>


<script>
/* 初始化删除等标签的显示和隐藏 */
var $wrap = $('{{ formID }}').find('.nav-form-wrap');
var $hdWrap = $('{{ formID }}').find('.goods__tab--wrap');
/*限制tab个数*/
var limitNum = {{ componentData.limitNum }} ||
null;
var limitTip = '{{ componentData.limitTip }}' || '';

/* 组件初始化 */
$(function () {
    var $id = $('{{ formID }}');
    var $tab = $('.goods__tab--wrap', $id).parents('.layui-tab:eq(0)');
    var goods_tab_from = $id.find('input[name=goods_tab_from]').val();
    $tab.find('.layui-tab-title li:eq(' + goods_tab_from + ')').trigger('click');

    /*选中分类id 强制不选中选品*/
    $tab.find('.layui-tab-title li').on('click', function () {
        $('input[name=goodsDataFrom][value="1"]').next().trigger('click');
    });
});

/*一级图标的显示隐藏*/
function showIcon () {
    upNum();

    /*一级图标操作容器个数*/
    var len = $wrap.find('.tab-fid').length;
    if (len > 1) {
        $wrap.find('.tab-fid').each(function (index) {
            if (index == 0) {
                $(this).find('.img-btn').hide();
                $(this).find('.f-down').show();
                $(this).find('.f-add').show();
                $(this).find('.f-delete').show();
            } else {
                $(this).find('.img-btn').show();
                if (index == len - 1) {
                    $(this).find('.f-down').hide();
                }
            }
        });
    } else {
        $wrap.find('.tab-fid').find('.img-btn').hide();
        $wrap.find('.tab-fid').find('.f-add').show();
    }
}


/*更新一级导航的数字 tab{x}*/
function upNum () {
    $wrap.find('.tab-hd span').each(function (index) {
        $(this).text(index + 1);
    });
}

/*更新Tab数量*/
function updateNavNum (value) {
    $hdWrap.find('input[name="tab_num"]').val(value);
}

/* 新增一级分类 */
function addOne () {
    var clone = $('.wrap-config.hide').clone(true);
    $wrap.append(clone);
    $wrap.find('.wrap-config.hide').removeClass('hide');
    showIcon();
    updateNavNum($wrap.find('.wrap-config').length);
}

/*一级图标的显示隐藏*/
showIcon();

/* 新增一级分类 */
$wrap.on('click', '.f-add', function (e) {
    e.stopPropagation();
    /*限制增加数量*/
    if (limitNum && $('.wrap-config', $wrap).length >= limitNum) {
        layui.layer.msg(limitTip);
        return false;
    }
    addOne();
});

/* 下移分类 */
$wrap.on('click', '.f-down,.s-down', function (e) {
    e.stopPropagation();
    var $tr = "";
    if ($(this).hasClass('f-down')) {
        $tr = $(this).parents('.wrap-config:eq(0)');
    } else {
        $tr = $(this).parents('.list-group-item:eq(0)');
    }
    var $trNext = $tr.next();
    if (0 != $trNext.length) {
        $trNext.after($tr);
        showIcon();
    }
});

/* 上移分类 */
$wrap.on('click', '.f-up,.s-up', function (e) {
    e.stopPropagation();
    var $tr = "";
    if ($(this).hasClass('f-up')) {
        $tr = $(this).parents('.wrap-config:eq(0)');
    } else {
        $tr = $(this).parents('.list-group-item:eq(0)');
    }
    var $trPrev = $tr.prev();
    if (0 != $trPrev.length) {
        $trPrev.before($tr);
        showIcon();
    }
});

/* 删除分类 */
$wrap.on('click', '.f-delete,.s-delete', function (e) {
    var $tr = "";
    if ($(this).hasClass('f-delete')) {
        $tr = $(this).parents('.wrap-config:eq(0)');
    } else {
        $tr = $(this).parents('.list-group-item:eq(0)');
    }
    layer.confirm('是否删除该分类?', {
        title: '提示',
        btn: ['否', '是'],
        area: '420px',
        icon: 3,
        skin: 'element-ui-dialog-class'
    }, function (index) {
        layer.close(index);
    }, function (index) {
        $tr.remove();
        layer.close(index);
        showIcon();
        updateNavNum($wrap.find('.wrap-config').length);
    });

});

catIdValid();

function getTabInfo () {
    var result = [];
    $('.list-group-item', $wrap).each(function (index, element) {
        var catId = $(element).find('input[name=catId]').val();
        if (catId) {
            result.push({
                catId: $(element).find('input[name=catId]').val(),
                catNum: $(element).find('input[name=catNum]').val() || 100
            });
        }

    });
    return result;
}

/**
 * 获取tab数组对象
 * @param callback
 */
function saveTabInfo (callback) {
    var $id = $('{{ formID }}');
    var result = getTabInfo();
    $hdWrap.find('input[name=navList]').val(JSON.stringify(result));

    /*清空sku数据*/
    $('[name=goodsSKU]', $id).val('');
    $('input[name=gsSelectLevel0]', $id).val('');
    $('input[name=gsSelectLevel1]', $id).val('');
    $('input[name=gsSelectLevel2]', $id).val('');
    $('input[name=gsSelectLevel3]', $id).val('');
    $('input[name=gsSelectLevel4]', $id).val('');
    $('input[name=gsSelectLevel5]', $id).val('');
    $('input[name=gsSelectLevel6]', $id).val('');
    $('input[name=gsSelectLevel1]', $id).val('');
    $('input[name=ipsInfo]', $id).val('');
    $('input[name=ipsSkus]', $id).val('');
    $('input[name=ipsGoodsSKU]', $id).val('');
    $('input[name=ipsAutoInfo]', $id).val('');
    $('input[name=ipsFilterInfo]', $id).val('');
    callback && callback();
}

/**
 * 效验catId 为大于等于1的正整数,追加支持填0
 */
function catIdValid () {
    $wrap.on('blur','[name=catId]', function (e) {
        var $this = $(this);
        var val = $this.val();
        val = val.length === 1 && val == '0' ? parseInt(val) : val;
        if (val && val !== 0 && (!/^([1-9][0-9]*)$/.test(val) || val < 1)) {
            layui.layer.msg('商品分类ID,字符输入不正确');
            $this.val('');
            /*GS_GOODS_UTILS && GS_GOODS_UTILS.showConfirm('商品分类ID,字符输入不正确', function () {
                $this.val('');
            });*/
        }
    });
}


if (!tabCatIdFn) {
    var tabCatIdFn = (function (my) {

        /**
         * 获取tab数据
         * @type {saveTabInfo}
         */
        my.saveTabInfo = saveTabInfo;
        /**
         * 数量1-100限制
         * @param element
         * @param goods_limit_num
         * @returns {boolean}
         */
        my.validNum = function (element, goods_limit_num) {
            var result = true;
            if (goods_limit_num && (!/^([1-9][0-9]*)$/.test(goods_limit_num) || goods_limit_num < 1 || goods_limit_num > 100)) {
                layer.msg('数量最多支持100');
                $('input[name=catNum]', $(element)).val('');
                result = false;
            }
            ;
            return result;
        };

        /**
         * 数量0-100限制
         * @param element
         * @param goods_limit_num
         * @returns {boolean}
         */
        my.validNum_0 = function (element, goods_limit_num) {
            var result = true;
            goods_limit_num = goods_limit_num.length === 1 && goods_limit_num == '0' ? parseInt(goods_limit_num) : goods_limit_num;
            if (goods_limit_num && goods_limit_num !== 0 && (!/^([1-9][0-9]*)$/.test(goods_limit_num) || goods_limit_num < 1 || goods_limit_num > 100)) {
                layer.msg('数量最多支持100');
                $('input[name=catNum]', $(element)).val('');
                validStatus = false;
                result = false;
            }
            return result;
        };
        return my;
    }({}));
}

</script>
