{% set buyBorderSArr = [
	{name:'无',value:'none'},
	{name:'实线',value:'solid'},
	{name:'虚线',value:'dashed'},
	{name:'点状',value:'dotted'},
	{name:'双线',value:'double'},
	{name:'继承上级',value:'inherit'},
]%}

{% set viewBorderSArr = [
	{name:'无',value:'none'},
	{name:'实线',value:'solid'},
	{name:'虚线',value:'dashed'},
	{name:'点状',value:'dotted'},
	{name:'双线',value:'double'},
	{name:'继承上级',value:'inherit'},
]%}
{# title属性 #}
{%
	set titleData = {
		title_height:data.title_height is not null?data.title_height:100,
		title_titleWidth:data.title_titleWidth is not null?data.title_titleWidth:400,
		title_titleHeight:data.title_titleHeight is not null?data.title_titleHeight:60,
		title_viewBorderC:data.title_viewBorderC is not null?data.title_viewBorderC:'#FD9E62',
		title_titleFont:data.title_titleFont|default(16)
	}
%}

{%
	set pageData = {
		goodsBgc:data.goodsBgc is not null?data.goodsBgc:'#ffffff',
		goodsBdC:data.goodsBdC is not null?data.goodsBdC:'#FD9E62',
		goodsFtC:data.goodsFtC is not null?data.goodsFtC:'#333',
		goodsFtS:data.goodsFtS|default(14),
		discountBgc:data.discountBgc is not null?data.discountBgc:'#FD6462',
		priceC:data.priceC is not null?data.priceC:'#FD6462',
		priceFt:data.priceFt|default(20),
		buyBgC:data.buyBgC is not null?data.buyBgC:'#fdcf65',
		buyBorderC:data.buyBorderC is not null?data.buyBorderC:'#fdcf65',
		buyHoverBgc:data.buyHoverBgc|default('#ff4933'),
		marketPriceC:data.marketPriceC is not null?data.marketPriceC:'#999999',
		marketPriceFt:data.marketPriceFt|default(13),
		discountWidth:data.discountWidth|default(60),
		discountHeight:data.discountHeight|default(60),
		discountBgImg:data.discountBgImg,
		discountFtC:data.discountFtC|default('#ffffff'),

		buyText:data.buyText|default('BUY NOW'),
		buyFtC:data.buyFtC is not null?data.buyFtC:'#ffffff',
		buyFtS:data.buyFtS|default(20),
		buyWidth:data.buyWidth|default(200),
		buyHeight:data.buyHeight|default(40),
		buyRadius:data.buyRadius|default(0),
		buyBorderW:data.buyBorderW|default(0),

		boxMarginTop:data.boxMarginTop|default(20),
		boxMarginBottom:data.boxMarginBottom|default(0),
		baseWith:data.baseWith|default(1200),
		gsPadding:data.gsPadding|default(10),
		gsMarginBottom:data.gsMarginBottom|default(10),
		gsInnerPadding:data.gsInnerPadding|default(20),
		discountOffsetT:data.discountOffsetT|default('-10'),
		discountOffsetR:data.discountOffsetR|default('-10'),
		discountTop:data.discountTop|default(6),
		discountLeft:data.discountLeft|default('6'),
		discountRadius:data.discountRadius|default('50'),

		AdAreaClassText:data.AdAreaClassText|default('CLASS'),
		AdAreaClassC:data.AdAreaClassC is not null?data.AdAreaClassC:'#666',
		AdAreaText:data.AdAreaText|default('UP TO'),
		AdAreaDisccount:data.AdAreaDisccount|default(55),
		AdAreaC:data.AdAreaC is not null?data.AdAreaC:'#000',
		AdAreaDisccountC:data.AdAreaDisccountC is not null?data.AdAreaDisccountC:'#000',
		AdAreaViewFtC:data.AdAreaViewFtC is not null?data.AdAreaViewFtC:'#ffffff',
		AdAreaViewBgc:data.AdAreaViewBgc is not null?data.AdAreaViewBgc:'#333333',
	}
%}


{{include ('@app/files/parts/temp/goods_manager.twig')}}
<div class='design-form design-form-component design-form-visible'>
  <h3 class='component-form-title'>商品列表设置
    <a href="javascript:;" class="design-form-close js_closeDesignForm icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  <blockquote class="component-form-quote">切换模板后，无蓝色标识的配置数据将被重置</blockquote>
  <div class="component-form-setting-item component-form-configure-item activity-component-from-item">
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this">模板选择</li>
				<li>商品数据</li>
				<li>样式设置</li>
			</ul>
			<div class="layui-tab-content layui-tab-content-parent">
				<div class="layui-tab-item layui-show">
						<style> {{ include('@app/htdocs/resources/stylesheets/form-less-module/theme.css') }} </style>
						{{ include ('@app/files/parts/formTemplate/components/theme.twig') }}
				</div>
				<div class="layui-tab-item">
					<div class="layui-form-item">
						<label class="layui-form-label public-data">商品SKU</label>
						<div class="layui-input-block">
							<textarea placeholder="此组件的商品数据请在【商品数据管理】菜单下的【新增商品数据】里进行添加" class="layui-textarea layui-disabled" name="goodsSKU" data-public-tag="true" disabled>{{data.goodsSKU}}</textarea>
						</div>
						<span style="margin: 10px 0 10px 110px; display: block; color: #bbb;">"商品SKU"不可重复</span>
					</div>
					{# <div class="layui-form-item tab-add-btn layui-hide">
						<span class="el-button el-button--primary el-button--small" id="gs_getList" style="float:right">商品管理</span>
					</div> #}
				</div>
				<div class="layui-tab-item">
					<div class="layui-carousel" id="form_carousel">
						<div carousel-item>
							<div>
								<fieldset class="layui-elem-field">
									<legend>常用配置</legend>
									<div class="layui-field-box">
									{# 标题共有属性 #}
										<div class="layui-form-item">
											<label class="layui-form-label public-data">标题文案</label>
											<div class="layui-input-block">
												<input type="text" name="titleText" autocomplete="off" class="layui-input layui-disabled" value="{{ data.titleText }}" data-public-tag="true" disabled>
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label public-data">链接URL</label>
											<div class="layui-input-block">
												<input type="text" name="viewHref" autocomplete="off" class="layui-input layui-disabled" value="{{ data.viewHref }}" data-public-tag="true" disabled>
											</div>
										</div>
										{# 标题基础配置 #}
											<div class="layui-form-item">
												<label class="layui-form-label">标题背景颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="title_bgColor"><div style="background-color: {{ data.title_bgColor }};"></div></div>
													<input type="text" class="layui-input" name="title_bgColor" autocomplete="off" value="{{ data.title_bgColor }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">标题标题颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="title_titleColor"><div style="background-color: {{ data.title_titleColor | default('#333333') }};"></div></div>
													<input type="text" class="layui-input" name="title_titleColor" autocomplete="off" value="{{ data.title_titleColor | default('#333333') }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">标题链接颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="title_viewColor"><div style="background-color: {{ data.title_viewColor | default('#333333') }};"></div></div>
													<input type="text" class="layui-input" name="title_viewColor" autocomplete="off" value="{{ data.title_viewColor | default('#333333') }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">标题链接边框颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="title_viewBorderC">
														<div style="background-color: {{ titleData.title_viewBorderC }};"></div>
													</div>
													<input type="text" class="layui-input" name="title_viewBorderC" autocomplete="off" value="{{ titleData.title_viewBorderC }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">标题链接文案</label>
												<div class="layui-input-block">
													<input type="text" name="title_viewText" autocomplete="off" class="layui-input" value="{{ data.title_viewText|default('View More') }}">
												</div>
											</div>
										{# 商品共用配置 #}
									{# ads area #}
										<div class="layui-form-item">
											<label class="layui-form-label">广告图</label>
											<div class="layui-input-block">
												<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
												<input class="layui-input" type="text" name="AdAreaImg" value="{{data.AdAreaImg}}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">广告跳转链接</label>
											<div class="layui-input-block"><input class="layui-input" type="text" name="AdAreaLink" value="{{data.AdAreaLink}}">
											</div>
										</div>
											<div class="layui-form-item">
												<label class="layui-form-label">促销区域开启</label>
												<div class="layui-input-block">
													<input type="radio" name="AdAreaTextActive" value="1" title="是" {% if data.AdAreaTextActive == '1' or data.AdAreaTextActive is empty %} checked="checked" {% endif %}>
													<input type="radio" name="AdAreaTextActive" value="0" title="否" {% if data.AdAreaTextActive == '0'%} checked="checked" {% endif %}>
												</div>
											</div>
										<div class="layui-form-item">
											<label class="layui-form-label">促销商品分类文案</label>
											<div class="layui-input-block"><input class="layui-input" type="text" name="AdAreaClassText" value="{{pageData.AdAreaClassText}}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">促销分类文案框色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="AdAreaClassC">
													<div style="background-color: {{ pageData.AdAreaClassC }};"></div>
												</div>
												<input type="text" class="layui-input" name="AdAreaClassC" autocomplete="off" value="{{ pageData.AdAreaClassC }}">
											</div>
										</div>

										<div class="layui-form-item">
											<label class="layui-form-label">促销信息文案</label>
											<div class="layui-input-block"><input class="layui-input" type="text" name="AdAreaText" value="{{pageData.AdAreaText}}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">促销文案颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="AdAreaC">
													<div style="background-color: {{ pageData.AdAreaC }};"></div>
												</div>
												<input type="text" class="layui-input" name="AdAreaC" autocomplete="off" value="{{ pageData.AdAreaC }}">
											</div>
										</div>

										<div class="layui-form-item">
											<label class="layui-form-label">促销折扣文案(%)</label>
											<div class="layui-input-block"><input class="layui-input" type="text" name="AdAreaDisccount" value="{{pageData.AdAreaDisccount}}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">促销折扣颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="AdAreaDisccountC">
													<div style="background-color: {{ pageData.AdAreaDisccountC }};"></div>
												</div>
												<input type="text" class="layui-input" name="AdAreaDisccountC" autocomplete="off" value="{{ pageData.AdAreaDisccountC }}">
											</div>
										</div>

										<div class="layui-form-item">
											<label class="layui-form-label">View All颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="AdAreaViewFtC">
													<div style="background-color: {{ pageData.AdAreaViewFtC }};"></div>
												</div>
												<input type="text" class="layui-input" name="AdAreaViewFtC" autocomplete="off" value="{{ pageData.AdAreaViewFtC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">View All背景颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="AdAreaViewBgc">
													<div style="background-color: {{ pageData.AdAreaViewBgc }};"></div>
												</div>
												<input type="text" class="layui-input" name="AdAreaViewBgc" autocomplete="off" value="{{ pageData.AdAreaViewBgc }}">
											</div>
										</div>

										{# basic settings #}
										<div class="layui-form-item">
											<label class="layui-form-label">商品选中边框色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="goodsBdC">
													<div style="background-color: {{ pageData.goodsBdC }};"></div>
												</div>
												<input type="text" class="layui-input" name="goodsBdC" autocomplete="off" value="{{ pageData.goodsBdC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">折扣标显示方式</label>
											<div class="layui-input-block">
												<input type="radio" name="discountType" data-public-tag="true" value="1" title="***%OFF" {% if data.discountType == '1' or data.discountType is empty %} checked="checked" {% endif %}>
												<input type="radio" name="discountType" data-public-tag="true" value="0" title="-***%" {% if data.discountType == '0' %} checked="checked" {% endif %}>
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">折扣宽度(px)</label>
											<div class="layui-input-block"><input class="layui-input" type="text" name="discountWidth" value="{{pageData.discountWidth}}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">折扣高度(px)</label>
											<div class="layui-input-block"><input class="layui-input" type="text" name="discountHeight" value="{{pageData.discountHeight}}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">折扣背景图片</label>
											<div class="layui-input-block">
												<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
												<input class="layui-input" type="text" name="discountBgImg" value="{{pageData.discountBgImg}}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">折扣文字颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="discountFtC">
													<div style="background-color: {{ data.discountFtC }};"></div>
												</div>
												<input type="text" class="layui-input" name="discountFtC" autocomplete="off" value="{{ pageData.discountFtC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">折扣背景颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="discountBgc">
													<div style="background-color: {{ pageData.discountBgc }};"></div>
												</div>
												<input type="text" class="layui-input" name="discountBgc" autocomplete="off" value="{{ pageData.discountBgc }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">商品字体颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="goodsFtC">
													<div style="background-color: {{ pageData.goodsFtC }};"></div>
												</div>
												<input type="text" class="layui-input" name="goodsFtC" autocomplete="off" value="{{ pageData.goodsFtC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">市场价颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="marketPriceC">
													<div style="background-color: {{ pageData.marketPriceC }};"></div>
												</div>
												<input type="text" class="layui-input" name="marketPriceC" autocomplete="off" value="{{ pageData.marketPriceC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">销售价颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="priceC">
													<div style="background-color: {{ pageData.priceC }};"></div>
												</div>
												<input type="text" class="layui-input" name="priceC" autocomplete="off" value="{{ pageData.priceC }}" >
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label public-data">购买按钮文案</label>
											<div class="layui-input-block"><input class="layui-input" type="text" name="buyText" value="{{pageData.buyText}}" data-public-tag="true">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">购买按钮字体颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="buyFtC">
													<div style="background-color: {{ pageData.buyFtC }};"></div>
												</div>
												<input type="text" class="layui-input" name="buyFtC" autocomplete="off" value="{{ pageData.buyFtC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">购买按钮背景颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="buyBgC">
													<div style="background-color: {{ pageData.buyBgC }};"></div>
												</div>
												<input type="text" class="layui-input" name="buyBgC" autocomplete="off" value="{{ pageData.buyBgC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">购买按钮边框颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="buyBorderC">
													<div style="background-color: {{ pageData.buyBorderC }};"></div>
												</div>
												<input type="text" class="layui-input" name="buyBorderC" autocomplete="off" value="{{ pageData.buyBorderC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">购买按钮选中颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="buyHoverBgc">
													<div style="background-color: {{ pageData.buyHoverBgc }};"></div>
												</div>
												<input type="text" class="layui-input" name="buyHoverBgc" autocomplete="off" value="{{ pageData.buyHoverBgc }}">
											</div>
										</div>

									</div>
								</fieldset>
								<div class="text-right">
									<button type="button" id="js_moreConfig" class="layui-btn layui-btn-normal layui-btn-sm">更多配置</button>
								</div>
							</div>
							<div>
								<div class="layui-tab layui-tab-vertical">
									<ul class="layui-tab-title">
										{# <li class="layui-this">标题常用配置</li> #}
										<li class="layui-this">标题基础设置</li>
										<li>标题</li>
										<li>链接</li>
										<li>基础设置</li>
										<li>折扣标</li>
										<li>商品名称</li>
										<li>市场价</li>
										<li>销售价</li>
										<li>购买按钮</li>
										{# <li>库存管理</li> #}
									</ul>
									<div class="layui-tab-content">
										{# 标题设置 #}
										{# <div class="layui-tab-item layui-show">

										</div> #}
										<div class="layui-tab-item layui-show">
											<div class="layui-form-item">
												<label class="layui-form-label">上外边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_boxMarginTop" autocomplete="off" class="layui-input" value="{{ data.title_boxMarginTop }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">下外边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_boxMarginBottom" autocomplete="off" class="layui-input" value="{{ data.title_boxMarginBottom }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">上内边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_boxPaddingTop" autocomplete="off" class="layui-input" value="{{ data.title_boxPaddingTop }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">下内边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_boxPaddingBottom" autocomplete="off" class="layui-input" value="{{ data.title_boxPaddingBottom }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">高度(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_height" autocomplete="off" class="layui-input" value="{{ titleData.title_height}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">背景图片</label>
												<div class="layui-input-block">
													<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
													<input type="text" name="title_imgSrc" autocomplete="off" class="layui-input" value="{{ data.title_imgSrc }}">
												</div>
											</div>
											{# <div class="layui-form-item">
												<label class="layui-form-label">使用透明背景</label>
												<div class="layui-input-block">
													<input type="radio" name="applyTransparent" value="1" title="是"{% if data.title_applyTransparent == 1 %} checked{% endif %}>
													<input type="radio" name="applyTransparent" value="0" title="否"{% if data.title_applyTransparent == 0 %} checked{% endif %}>
												</div>
											</div> #}
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">宽度(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_titleWidth" autocomplete="off" class="layui-input" value="{{ titleData.title_titleWidth}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">高度(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_titleHeight" autocomplete="off" class="layui-input" value="{{ titleData.title_titleHeight}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">大小(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_titleFont" autocomplete="off" class="layui-input" value="{{ titleData.title_titleFont }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">粗细</label>
												<div class="layui-input-block">
													<input type="radio" name="title_titleWeight" value="bold" title="加粗"{% if data.title_titleWeight|default('bold') == 'bold' %} checked{% endif %}>
													<input type="radio" name="title_titleWeight" value="normal" title="正常"{% if data.title_titleWeight|default('bold') != 'bold' %} checked{% endif %}>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">背景图片</label>
												<div class="layui-input-block">
													<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
													<input type="text" name="title_titleBgI" autocomplete="off" class="layui-input" value="{{ data.title_titleBgI }}">
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">大小(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_viewFont" autocomplete="off" class="layui-input" value="{{ data.title_viewFont }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">粗细</label>
												<div class="layui-input-block">
													<input type="radio" name="title_viewWeight" value="bold" title="加粗"{% if data.title_viewWeight == 'bold' %} checked{% endif %}>
													<input type="radio" name="title_viewWeight" value="normal" title="正常"{% if data.title_viewWeight != 'bold' %} checked{% endif %}>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">背景色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="title_viewBgColor"><div style="background-color: {{ data.title_viewBgColor }};"></div></div>
													<input type="text" class="layui-input" name="title_viewBgColor" autocomplete="off" value="{{ data.title_viewBgColor }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">圆角(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_viewRadius" autocomplete="off" class="layui-input" value="{{ data.title_viewRadius }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">上边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_viewMarginT" autocomplete="off" class="layui-input" value="{{ data.title_viewMarginT }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">上下内边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_viewPaddingTB" autocomplete="off" class="layui-input" value="{{ data.title_viewPaddingTB }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">左右内边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="title_viewPaddingLR" autocomplete="off" class="layui-input" value="{{ data.title_viewPaddingLR }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">边框大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="title_viewBorderW" value="{{data.title_viewBorderW|default(0)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">边框类型</label>
												<div class="layui-input-block">
													<select name="title_viewBorderS" lay-verify="required" value="{{data.title_viewBorderS|default('solid')}}">
													{% for item in viewBorderSArr%}
														<option value="{{item.value}}" {% if item.value == data.title_viewBorderS|default('solid')%}selected{% endif %}>{{item.name}}</option>
													{% endfor %}
													</select>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">是否显示</label>
												<div class="layui-input-block">
														<input type="radio" name="title_isShow" value="1" title="是"{% if data.title_isShow == '1' or data.title_isShow is empty %} checked="checked"{% endif %}>
														<input type="radio" name="title_isShow" value="0" title="否"{% if data.title_isShow == '0' %} checked="checked" {% endif %}>
												</div>
											</div>
										</div>

										{# 商品设置 #}
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">上边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="boxMarginTop" autocomplete="off" class="layui-input" value="{{ pageData.boxMarginTop }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">下边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="boxMarginBottom" autocomplete="off" class="layui-input" value="{{ pageData.boxMarginBottom }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">宽度(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="baseWith" value="{{pageData.baseWith}}">
												</div>
											</div>
											{# <div class="layui-form-item">
												<label class="layui-form-label">每列商品数量</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="colNum" value="{{data.colNum|default(3)}}">
												</div>
											</div> #}
											<div class="layui-form-item">
												<label class="layui-form-label">整体背景颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="baseBgC">
														<div style="background-color: {{ data.baseBgC }};"></div>
													</div>
													<input type="text" class="layui-input" name="baseBgC" autocomplete="off" value="{{ data.baseBgC }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">每栏颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="goodsBgc">
														<div style="background-color: {{ pageData.goodsBgc }};"></div>
													</div>
													<input type="text" class="layui-input" name="goodsBgc" autocomplete="off" value="{{ pageData.goodsBgc }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">商品左右间距(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="gsPadding" value="{{pageData.gsPadding}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">商品上下间距(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="gsMarginBottom" value="{{pageData.gsMarginBottom}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">商品内间距(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="gsInnerPadding" value="{{pageData.gsInnerPadding}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">商品圆角(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="gsRadius" value="{{data.gsRadius}}">
												</div>
											</div>
											{# <div class="layui-form-item">
												<label class="layui-form-label">商品倒计时</label>
												<div class="layui-input-block">
													<input type="radio" name="goodsTimeActive" value="1" title="是" {% if data.goodsTimeActive == '1' %} checked="checked" {% endif %}>
													<input type="radio" name="goodsTimeActive" value="0" title="否" {% if data.goodsTimeActive == '0' or data.goodsTimeActive is empty %} checked="checked" {% endif %}>
												</div>
											</div> #}
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">上偏移(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="discountOffsetT" value="{{pageData.discountOffsetT}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">右偏移(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="discountOffsetR" value="{{pageData.discountOffsetR}}">
												</div>
											</div>
											{# <div class="layui-form-item">
												<label class="layui-form-label">背景颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="discountBgc">
														<div style="background-color: {{ data.discountBgc }};"></div>
													</div>
													<input type="text" class="layui-input" name="discountBgc" autocomplete="off" value="{{ data.discountBgc }}">
												</div>
											</div> #}
											<div class="layui-form-item">
												<label class="layui-form-label">文字上间距(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="discountTop" value="{{pageData.discountTop}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">文字左间距(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="discountLeft" value="{{pageData.discountLeft}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">圆角(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="discountRadius" value="{{pageData.discountRadius}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">后缀(OFF)</label>
												<div class="layui-input-block">
													<input type="radio" name="discountSuffix" value="1" title="是" {% if data.discountSuffix == '1' or data.discountSuffix is empty %} checked="checked" {% endif %}>
													<input type="radio" name="discountSuffix" value="0" title="否" {% if data.discountSuffix == '0' %} checked="checked" {% endif %}>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">后缀文字(OFF)</label>
												<div class="layui-input-block"><input class="layui-input layui-disabled" disabled type="text" name="discountTextSuffix" value="{{get_component_trans(lang,'off')}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="discountActive" value="1" title="是" {% if data.discountActive == '1' or data.discountActive is empty %} checked="checked" {% endif %}>
													<input type="radio" name="discountActive" value="0" title="否" {% if data.discountActive == '0'%} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">字体大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="goodsFtS" value="{{pageData.goodsFtS}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="goodsActive" value="1" title="是" {% if data.goodsActive == '1'  or data.goodsActive is empty %} checked="checked" {% endif %}>
													<input type="radio" name="goodsActive" value="0" title="否" {% if data.goodsActive == '0'%} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">字体大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="marketPriceFt" value="{{pageData.marketPriceFt}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="marketActive" value="1" title="是" {% if data.marketActive == '1' or data.marketActive is empty %} checked="checked" {% endif %}>
													<input type="radio" name="marketActive" value="0" title="否" {% if data.marketActive == '0'%} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">字体大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="priceFt" value="{{pageData.priceFt}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="priceActive" value="1" title="是" {% if data.priceActive == '1' or data.priceActive is empty %} checked="checked" {% endif %}>
													<input type="radio" name="priceActive" value="0" title="否" {% if data.priceActive == '0'%} checked="checked" {% endif %}>
												</div>
											</div>

											{# 销售前字段 #}
											{# <div class="layui-form-item">
												<label class="layui-form-label">销售前缀是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="priceBeforeActive" value="1" title="是" {% if data.priceBeforeActive == '1' or data.priceBeforeActive is empty %} checked="checked" {% endif %}>
													<input type="radio" name="priceBeforeActive" value="0" title="否" {% if data.priceBeforeActive == '0'%} checked="checked" {% endif %}>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">销售前缀文案(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="priceBeforeText" value="{{data.priceBeforeText|default('EXCLUSIVE:')}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">销售前缀字体大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="priceBeforeFtS" value="{{data.priceBeforeFtS|default(14)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">折扣文字颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="priceBeforeFtC">
														<div style="background-color: {{ data.priceBeforeFtC|default('#e1679d') }};"></div>
													</div>
													<input type="text" class="layui-input" name="priceBeforeFtC" autocomplete="off" value="{{ data.priceBeforeFtC|default('#e1679d') }}">
												</div>
											</div> #}

										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">字体大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyFtS" value="{{pageData.buyFtS}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">宽度(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyWidth" value="{{pageData.buyWidth}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">高度(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyHeight" value="{{pageData.buyHeight}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">圆角大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyRadius" value="{{pageData.buyRadius}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">边框大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyBorderW" value="{{pageData.buyBorderW}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">边框类型</label>
												<div class="layui-input-block">
													<select name="buyBorderS" lay-verify="required" value="{{data.buyBorderS|default('solid')}}">
													{% for item in buyBorderSArr%}
														<option value="{{item.value}}" {% if item.value == data.buyBorderS|default('solid')%}selected{% endif %}>{{item.name}}</option>
													{% endfor %}
													</select>
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">背景图片</label>
												<div class="layui-input-block">
													<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
													<input class="layui-input" type="text" name="buyBgImg" value="{{data.buyBgImg}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="buyActive" value="1" title="是" {% if data.buyActive == '1' or data.buyActive is empty %} checked="checked" {% endif %}>
													<input type="radio" name="buyActive" value="0" title="否" {% if data.buyActive == '0'%} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
										{# <div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">是否开启</label>
												<div class="layui-input-block">
													<input type="radio" name="goodsLimitActive" value="1" title="是" {% if data.goodsLimitActive == '1' %} checked="checked" {% endif %}>
													<input type="radio" name="goodsLimitActive" value="0" title="否" {% if data.goodsLimitActive == '0' or data.goodsLimitActive is empty %} checked="checked" {% endif %}>
												</div>
											</div>
										</div> #}
										{# 商品end #}
									</div>
								</div>
								<div class="text-right">
									<button type="button" id="js_baseConfig" class="layui-btn layui-btn-normal layui-btn-sm">基础配置</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>

<div class="layui-form-item geshop-form-operation">
	<button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
	<button type="button" class="layui-btn layui-btn-normal js_submitDesignForm">提交</button>
</div>
