<div class="geshop-col-4" style="text-align: left;">
  {% if data.img1Src %}
  <a href="{{ data.img1Href }}" class="logsss_event" style="display: block; width: {{ data.img1Width }}px; height: {{ data.img1Height }}px;"
    {% if data.isOpenNew == 1 %}target="_blank"{% endif %}
    data-logsss-event-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ data.img1Src }}','cporder':'{{ layoutIndex }}','rank':'1'} }"
  >
    <img style="display: block; vertical-align: top;" alt="{{ data.img1Alt }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAPHx8QAAACwAAAAAAQABAAACAkQBADs=" data-original="{{ data.img1Src }}" width="{{ data.img1Width }}" height="{{ data.img1Height }}" class="js_gdexp_lazy js-geshopImg-lazyload js_gbexp_lazy"
      data-logsss-browser-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ data.img1Src }}','cporder':'{{ layoutIndex }}','rank':'1'} }"
    >
  </a>
  {% else %}
  <p style="border: 1px solid #dddddd; height: 64px; line-height: 64px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">
    图一(图片宽度限为386px)
  </p>
  {% endif %}
</div>
<div class="geshop-col-4" style="text-align: center;">
  {% if data.img2Src %}
  <a href="{{ data.img2Href }}" class="logsss_event" style="display: block; width: {{ data.img2Width }}px; height: {{ data.img2Height }}px;"
    {% if data.isOpenNew == 1 %}target="_blank"{% endif %}
    data-logsss-event-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ data.img2Src }}','cporder':'{{ layoutIndex }}','rank':'2'} }"
  >
    <img style="display: block; vertical-align: top;" alt="{{ data.img2Alt }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAPHx8QAAACwAAAAAAQABAAACAkQBADs=" data-original="{{ data.img2Src }}" width="{{ data.img2Width }}" height="{{ data.img2Height }}" class="js_gdexp_lazy js-geshopImg-lazyload js_gbexp_lazy"
      data-logsss-browser-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ data.img2Src }}','cporder':'{{ layoutIndex }}','rank':'2'} }"
    >
  </a>
  {% else %}
  <p style="border: 1px solid #dddddd; height: 64px; line-height: 64px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">
    图二(图片宽度限为386px)
  </p>
  {% endif %}
</div>
<div class="geshop-col-4" style="text-align: right;">
  {% if data.img3Src %}
  <a href="{{ data.img3Href }}" class="logsss_event" style="display: block; width: {{ data.img3Width }}px; height: {{ data.img3Height }}px;"
    {% if data.isOpenNew == 1 %}target="_blank"{% endif %}
    data-logsss-event-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ data.img3Src }}','cporder':'{{ layoutIndex }}','rank':'3'} }"
  >
    <img style="display: block; vertical-align: top;" alt="{{ data.img3Alt }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAPHx8QAAACwAAAAAAQABAAACAkQBADs=" data-original="{{ data.img3Src }}" width="{{ data.img3Width }}" height="{{ data.img3Height }}" class="js_gdexp_lazy js-geshopImg-lazyload js_gbexp_lazy"
      data-logsss-browser-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ data.img3Src }}','cporder':'{{ layoutIndex }}','rank':'3'} }"
    >
  </a>
  {% else %}
  <p style="border: 1px solid #dddddd; height: 64px; line-height: 64px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">
    图三(图片宽度限为386px)
  </p>
  {% endif %}
</div>
