{% set viewBorderSArr = [
	{name:'无',value:'none'},
	{name:'实线',value:'solid'},
	{name:'虚线',value:'dashed'},
	{name:'点状',value:'dotted'},
	{name:'双线',value:'double'},
	{name:'继承上级',value:'inherit'},
]%}

{%
	set pageData = {
		height:data.height is not null?data.height:100,
		titleWidth:data.titleWidth is not null?data.titleWidth:375,
		titleHeight:data.titleHeight is not null?data.titleHeight:60,
		viewBorderC:data.viewBorderC is not null?data.viewBorderC:'#FD9E62',
	}
%}

<h3 class='component-form-title'>标题组件设置
  <a href="javascript:;" class="design-form-close js_closeDesignForm icon-close">
    <i class="el-icon-close"></i>
  </a>
</h3>

{{include ('@app/htdocs/resources/template/pc/templateList/index.twig')}}

<div class="component-form-setting-item component-form-advanced-item">
  <h4 class="title"><i class="layui-icon back" id="js_advanced_baseConfig">&#xe603;</i>高级设置</h4>
  <div class="layui-collapse advanced-setting-container">
    <div class="layui-colla-item">
      <h2 class="layui-colla-title">基础设置</h2>
      <div class="layui-colla-content layui-show">
        <div class="layui-form-item">
          <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 上外边距(px)</label>
          <div class="layui-input-block">
            <input type="text" name="boxMarginTop" autocomplete="off" class="layui-input" value="{{ data.boxMarginTop }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 下外边距(px)</label>
          <div class="layui-input-block">
            <input type="text" name="boxMarginBottom" autocomplete="off" class="layui-input" value="{{ data.boxMarginBottom }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 上内边距(px)</label>
          <div class="layui-input-block">
            <input type="text" name="boxPaddingTop" autocomplete="off" class="layui-input" value="{{ data.boxPaddingTop }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 下内边距(px)</label>
          <div class="layui-input-block">
            <input type="text" name="boxPaddingBottom" autocomplete="off" class="layui-input" value="{{ data.boxPaddingBottom }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 高度(px)</label>
          <div class="layui-input-block">
            <input type="text" name="height" autocomplete="off" class="layui-input" value="{{ data.height }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 背景图片</label>
          <div class="layui-input-block">
            <a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
            <input type="text" name="imgSrc" autocomplete="off" class="layui-input" value="{{ data.imgSrc }}">
          </div>
        </div>
      </div>
    </div>
    <div class="layui-colla-item">
      <h2 class="layui-colla-title">标题</h2>
      <div class="layui-colla-content">
        <div class="layui-form-item">
          <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 宽度(px)</label>
          <div class="layui-input-block">
            <input type="text" name="titleWidth" autocomplete="off" class="layui-input" value="{{ pageData.titleWidth}}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 大小(px)</label>
          <div class="layui-input-block">
            <input type="text" name="titleFont" autocomplete="off" class="layui-input" value="{{ data.titleFont }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 粗细</label>
          <div class="layui-input-block">
            <input type="radio" name="titleWeight" value="bold" title="加粗"{% if data.titleWeight|default('bold') == 'bold' %} checked{% endif %}>
            <input type="radio" name="titleWeight" value="normal" title="正常"{% if data.titleWeight|default('bold') != 'bold' %} checked{% endif %}>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 背景图片</label>
          <div class="layui-input-block">
            <a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
            <input type="text" name="titleBgI" autocomplete="off" class="layui-input" value="{{ data.titleBgI }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="component-form-setting-item component-form-configure-item">
  <h4 class="title">常用配置</h4>
  <div class="layui-field-box">
		{{include ('@app/files/parts/formModules/userGroupItem.twig')}}
    <div class="layui-form-item">
      <label class="form-item-label public-data"><span class="layui-badge-dot layui-bg-orange"></span> 链接URL</label>
      <div class="layui-input-block">
        <input type="text" name="viewHref" autocomplete="off" class="layui-input" value="{{ data.viewHref }}" data-public-tag="true">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 背景颜色</label>
      <div class="layui-input-block">
        <div class="color-picker-selector" data-hidden-name="bgColor"><div style="background-color: {{ data.bgColor }};"></div></div>
        <input type="text" class="layui-input" name="bgColor" autocomplete="off" value="{{ data.bgColor }}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="form-item-label public-data"><span class="layui-badge-dot layui-bg-orange"></span> 文案</label>
      <div class="layui-input-block">
        <input type="text" name="titleText" autocomplete="off" class="layui-input" value="{{ data.titleText }}" data-public-tag="true">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="form-item-label public-data"><span class="layui-badge-dot layui-bg-orange"></span> 标题文案导航命名</label>
      <div class="layui-input-block">
        <input type="text" name="titleNavText" autocomplete="off" class="layui-input" value="{{ data.titleNavText }}" data-public-tag="true">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="form-item-label"><span class="layui-badge-dot layui-bg-orange"></span> 颜色</label>
      <div class="layui-input-block">
        <div class="color-picker-selector" data-hidden-name="titleColor"><div style="background-color: {{ data.titleColor }};"></div></div>
        <input type="text" class="layui-input" name="titleColor" autocomplete="off" value="{{ data.titleColor }}">
      </div>
    </div>
  </div>
  <div class="clearfix">
    <a href="javascript:;" id="js_moreConfig" style="color:#1E9FFF">高级设置</a>
  </div>
</div>

<div class="layui-form-item geshop-form-operation">
  <button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
  <button type="button" class="layui-btn layui-btn-normal js_submitDesignForm">提交</button>
</div>

<script>
  $('#current_template_name').text($('input[name="tpl_id"]').attr('title'));
</script>
