 {% set remUnit = 37.5 %}
<div data-key="U000065" data-id="{{ pageInstanceId }}" data-static-domain="{{staticDomain}}" data-gid="U000065_mobile"
	class="geshop-component-box component-drag warp_U000065_mobile warp-{{ pageInstanceId }}">
	<!-- embed stylesheet begin -->
	<style type="text/css">
			.warp-{{ pageInstanceId }}{
				min-height: 60px;
				width: {% if data.isEditEnv %}100%{% else %}{{ (data.ImgWidth | default(750) / 75) | number_format(3, '.') }}rem{% endif %};
				{% if data.ImgHeight %}
					height: {{ (data.ImgHeight / 75) | number_format(3, '.') }}rem;
				{% else %}
					min-height:{{(400/75)| number_format(3, '.')}}rem;
				{% endif %}
				margin-left: auto;
				margin-right: auto;
				margin-top: {{ ((data.marginTop | default(0)) / 75) | number_format(3, '.') }}rem;
				margin-bottom: {{ ((data.marginBottom | default(0)) / 75) | number_format(3, '.') }}rem;
				overflow: hidden;
			}
			.warp-{{ pageInstanceId}} .swiper-pagination-bullet {
				position: relative;
				margin: 0 .16rem!important;
				vertical-align: top;
				border-radius: 0;
				background-color: rgba(255,255,255,.5);
				width: .853rem;
				height: .053rem;
			}

			.warp-{{ pageInstanceId }} .swiper-pagination-bullet:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: .053rem;
				background-color: #fff;
			}

			.warp-{{ pageInstanceId }} .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
				width: .853rem;
				-webkit-transition: width linear .3s;
				-moz-transition: width linear .3s;
				transition: width linear .3s;
			}
	</style>
	<!-- embed stylesheet end -->
	<div class="swiper-container geshop-index-banner" style="height: 100%;">
		<div class="swiper-wrapper">
		
			{% if data.isEditEnv == 1 %}
				{% include 'edit.twig' with{"data":data}%}
			{% else %}
				{% include 'product.twig' with{"data":data} %}
			{% endif %}
		</div>
		<div class="swiper-pagination"></div>
 </div>
</div>
