{% set liCol = ['geshop-col-12','geshop-col-6','geshop-col-4','geshop-col-3','geshop-col-2','geshop-col-1']%}
{% set remUnit = 37.5 %}
{% set scale = 	(data.default.lazyWidth/data.default.lazyHeight)|default(1) %}
{# default value #}
{% set pageData = {
	boxMarginTop:data.boxMarginTop/remUnit,
	boxMarginBottom:data.boxMarginBottom/remUnit,
	gsPadding:data.gsPadding|default(5),
	gsMarginBottom:(data.gsMarginBottom|default(5))/remUnit,
	gsInnerPadding:(data.gsInnerPadding|default(5))/remUnit,
	goodsFtW:data.goodsFtW|default('bold'),
	goodsFtS:(data.goodsFtS|default('12'))/remUnit,
	discountWidth:(data.discountWidth|default(40))/remUnit,
	discountHeight:(data.discountHeight|default(40))/remUnit,
	discountRadius:data.discountRadius|default('50'),
	discountBgc:data.discountBgc|default('#e33194'),
	discountTop:(data.discountTop|default(-4))/remUnit,
	priceC:data.priceC|default('#333'),
	priceFt:(data.priceFt|default(14))/remUnit,
	marketPriceFt:(data.marketPriceFt|default(12))/remUnit,
	buyWidth:(data.buyWidth|default(80))/remUnit,
	buyHeight:(data.buyHeight|default(34))/remUnit,
	scale:(data.default.lazyWidth/data.default.lazyHeight)|default(1),
	goodScaleHeight:((178/scale)/remUnit)|slice(0,5),
} %}

<div class="geshop-component-box component-drag clearfix" data-gid="U000056_default" data-key="U000056" data-unique="true" data-id="{{ pageInstanceId }}" attr="nav_flag">
			{{include ('@app/htdocs/resources/template/m/navTitle/default/index.twig')}}
    <div class="geshop-col-12" style="
        {% if pageData.boxMarginTop %}margin-top: {{ pageData.boxMarginTop }}rem;{% endif %}
        {% if pageData.boxMarginBottom %}margin-bottom: {{ pageData.boxMarginBottom }}rem;{% endif %}
    ">

		{{include ('@app/htdocs/resources/template/m/goodsList/default/index.twig')}}
    </div>
</div>
