{% if length > 1 %}
<a href="{{item.url}}" class="logsss_event"
  data-logsss-event-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ item.img }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }">
  <img class="swiper-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAPHx8QAAACwAAAAAAQABAAACAkQBADs=" data-src="{{item.img}}" data-original="{{item.img}}" style="border: 0; width: {% if data.isEditEnv %}100%{% else %}{{ (data.ImgWidth / 75) | number_format(3, '.') }}rem{% endif %}; height: {{ (data.ImgHeight / 75) | number_format(3, '.') }}rem;"
    data-logsss-browser-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ item.img }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }">
</a>

{% else %}
<a href="{{item.url}}" class="logsss_event"
  data-logsss-event-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ item.img }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }">
  <img class="js_gdexp_lazy js-geshopImg-lazyload js_gbexp_lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAPHx8QAAACwAAAAAAQABAAACAkQBADs=" data-original="{{item.img}}" style="border: 0; width: {% if data.isEditEnv %}100%{% else %}{{ (data.ImgWidth / 75) | number_format(3, '.') }}rem{% endif %}; height: {{ (data.ImgHeight / 75) | number_format(3, '.') }}rem;"
    data-logsss-browser-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ item.img }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }">
</a>
{% endif %}
