{% set pageData = {
	viewText:data.viewText is not null?data.viewText:'VIEW IT',
	textColor:data.textColor is not null?data.textColor:'#ffffff',
	marginTop:data.marginTop is not null?data.marginTop:'30',
	marginBottom:data.marginBottom is not null?data.marginBottom:'30'
}%}

<div class="geshop-component-box component-drag" data-gid="U000063_link" data-key="U000063" data-static-domain="{{staticDomain}}" data-id="{{ pageInstanceId }}" attr="nav_flag">
	<div class="buyer-show js_buyer_show" style="margin-bottom:{{ data.marginBottom | default(0) }}px">
		{% if data.isEditEnv == 1 %}
			{{ include('edit.twig') }}
		{% else %}
			{{ include('product.twig') }}
		{% endif %}
	</div>
</div>
