	{# 专题页/落地页 埋点 pagePoint #}

	{% if pageData.page_point_type|default('activityPage') ==  'activityPage' %}
		{% set pagePoint = {
			wrapLink: 'track-goodsItem',
			goodLink: 'track-goodsLink',
			prodLink:''
		}%}

	{% elseif pageData.page_point_type ==  'landPage' %}
			{% set pagePoint = {
			wrapLink: 'subjectGoodItem',
			goodLink: 'js-link',
			prodLink:'showProd'
		}%}
	{% else %}
		{% set pagePoint = {
			wrapLink: 'track-goodsItem',
			goodLink: 'track-goodsLink',
			prodLink:''
		}%}

	{% endif %}

					{# 商品购买配置 #}
					<div class="gs-goods-buy--m">
						<a href="{% if comming_soon_status or deal_ended_status %}javascript:;{% else %}{{item.url_title}}{% endif %}" class="buyLink gs-gooditem-btn {{pagePoint.goodLink}} {% if comming_soon_status or deal_ended_status %}comming-or-ended-status{% endif %}" target="_special">
							{% if left_number == 0 and data.goodsInfo and pageData.limit_active != '1' %}
								{{ pageData.sold_out_text|default(gb_component_trans(lang , 'sold_out' )) }}
							{% elseif comming_soon_status and data.goodsInfo %}
								{{ pageData.comming_soon_text|default(gb_component_trans(lang , 'coming_soon')) }}
							{% elseif deal_ended_status and data.goodsInfo %}
								{{ pageData.end_text|default(gb_component_trans(lang , 'deals_ended')) }}
							{% else %}
								{{ pageData.buy_text|default(gb_component_trans(lang , 'buy_now' ))}}
							{% endif %}
						</a>
					</div>
					<a href="javascript:;" class="gs-gooditem-addCard js-addCart" data-sku="{{item.goods_sku}}" data-warehousecode="{{item.wh_code}}" data-qty="1" >
						<i class="icon-cart"></i>
					</a>
					<a href="{{item.url_title}}" class="pmGoodsItem_link {{pagePoint.goodLink}}" data-app="product" data-app-sku="{{item.web_goods_sn}}" data-app-wcode="{{item.wh_code}}"></a>
