<style>
.layui-form-select .layui-edge{
	right:20px;
}
</style>

{% set buyBorderSArr = [
	{name:'无',value:'none'},
	{name:'实线',value:'solid'},
	{name:'虚线',value:'dashed'},
	{name:'点状',value:'dotted'},
	{name:'双线',value:'double'},
	{name:'继承上级',value:'inherit'},
]%}

{% set fontFamily = [
	{name:'OpenSans-Semibold (zaful)',value:'OpenSans-Semibold'},
  {name:'OpenSans-Bold (zaful)',value:'OpenSans-Bold'},
  {name:'OpenSans-Regular (zaful)',value:'OpenSans-Regular'},
  {name:'Trebuchet MS (RG)',value:'Trebuchet MS'},
  {name:'Tahoma (RW)',value:'Tahoma'},
  {name:'Arial (RW)',value:'Arial'},
  {name:'Helvetica (RW)',value:'Helvetica'},
  {name:'sans-serif (RW)',value:'sans-serif'},
  {name:'AvenirLTStd_Book (RW)',value:'AvenirLTStd_Book'},
  {name:'Georgia (RW)',value:'Georgia'},
  {name:'Times New Roman (RW)',value:'Times New Roman'},
  {name:'Verdana (RW)',value:'Verdana'},
]%}

{% set siteCodeOp = {
	baseWidthDefault: siteCode == 'zf-pc'?1260:1200,

}%}

{%
	set pageData = {
				price_ft_weight:data.price_ft_weight|default(0),
			base_bg_shadow:data.base_bg_shadow|default(1),
		base_magin_top:data.base_magin_top|default(0),
			base_magin_bottom:data.base_magin_bottom|default(32),
			base_bgc:data.base_bgc is not null ? data.base_bgc:'#F8F8F8',
			base_bgImage:data.base_bgImage,
			base_bg_shadow_color:data.base_bg_shadow_color is not null ? data.base_bg_shadow_color:'#CCCCCC',
			discount_bgc:data.discount_bgc is not null ? data.discount_bgc:'#FF8A00',
			discount_ftc:data.discount_ftc is not null ? data.discount_ftc:'#FFFFFF',
			buy_ftc:data.buy_ftc is not null ? data.buy_ftc:'#FFFFFF',
			buy_bgc:data.buy_bgc is not null ? data.buy_bgc:'#FF8A00',
			buy_hover_bgc:data.buy_hover_bgc is not null ? data.buy_hover_bgc:'#FCC556',
			buy_hover_ftc:data.buy_hover_ftc is not null ? data.buy_hover_ftc:'#FFFFFF',
			buy_cart_bgc:data.buy_cart_bgc is not null ? data.buy_cart_bgc:'#CC0000',
			buy_cart_hover_bgc:data.buy_cart_hover_bgc is not null ? data.buy_cart_hover_bgc:'#E00101',
			price_fts:data.price_fts|default(22),
			price_color:data.price_color is not null ? data.price_color:'#f30240',
			discount_height:data.discount_height|default(50),
			discount_width:data.discount_width|default(50),
			discount_fts:data.discount_fts|default(16),
			discount_off_fts:data.discount_off_fts|default(12),
			discount_right:data.discount_right|default(10),
			discount_top:data.discount_top|default(10),
			discount_bgImage:data.discount_bgImage,
			buy_text:data.buy_text,
			buy_fts:data.buy_fts|default(18),
			down_bgc:data.down_bgc is not null ? data.down_bgc:'#333333',
			down_ftc:data.down_ftc is not null ? data.down_ftc:'#FFFFFF',
			limit_progress_bgc:data.limit_progress_bgc is not null ? data.limit_progress_bgc:'#FF8A00',
			limit_left_color:data.limit_left_color is not null ? data.limit_left_color:'#FF8A00',
			maxCount:data.maxCount|default(''),
			base_view_more_url:data.base_view_more_url is not null ? data.base_view_more_url:'',
			base_view_more_color: data.base_view_more_color is not null ? data.base_view_more_color:'#333333',
			base_view_more_hoveC: data.base_view_more_hoveC is not null ? data.base_view_more_hoveC:'#333333',
			base_view_more_fontS: data.base_view_more_fontS|default(20),
			base_view_more_fontW: data.base_view_more_fontW|default(1),

			limit_active: data.limit_active|default(1),
			limit_stock_active: data.limit_stock_active|default(1),
			down_active: data.down_active|default(1),
			server_label_active: data.server_label_active|default(0)
	}
%}

<style>
.gs-lable-block{
	margin:0 0 5px 20px;
}
.gs-lable-block+.layui-input-block,.class-manage{
	margin-left:20px
}
#killTabWrap{
    margin: 15px 0 30px;
}

#goods_tab .tab-add-btn{
	    margin: 15px 0;
    height: 32px;
    line-height: 36px;
}

</style>
{{include ('@app/files/parts/temp/goods_manager.twig')}}

<div class='design-form design-form-component design-form-visible'>
  <h3 class='component-form-title'>抢购商品组件配置
    <a href="javascript:;" class="design-form-close js_closeDesignForm gb-icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  <blockquote class="component-form-quote">切换模板后，无蓝色标识的配置数据将被重置</blockquote>
  <div class="component-form-setting-item component-form-configure-item activity-component-from-item">
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this">模板选择</li>
				<li>商品数据</li>
				<li>样式配置</li>
			</ul>
			<div class="layui-tab-content layui-tab-content-parent" data-goodsType="">
				<div class="layui-tab-item layui-show">
						<style> {{ include('@app/htdocs/resources/stylesheets/form-less-module/theme.css') }} </style>
						{{ include ('@app/files/parts/formTemplate/components/theme.twig') }}
				</div>
				<div class="layui-tab-item radio-tab-true">
					<div class="layui-form-item">
						<label class="gs-label-block">展示商品个数</label>
						<div class="layui-input-block">
							<input type="text" name="maxCount" autocomplete="off" class="layui-input" value="{{ pageData.maxCount }}" onkeyup="value = value.replace(/[^\\d{1,}\\d{1,}|\\d{1,}]/g,'')">
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="gs-label-block">商品数据</label>
						<div class="layui-input-block">
							<input type="radio" name="goodsDataFrom" lay-filter="goodsDataFrom" value="3" title="OBS系统" {% if data.goodsDataFrom == '3' %} checked="checked" {% endif %}>
							{# <input type="radio" name="goodsDataFrom" lay-filter="goodsDataFrom" value="2" title="选品系统" {% if data.goodsDataFrom == '2' %} checked="checked" {% endif %}> #}
							<input type="radio" name="goodsDataFrom" lay-filter="goodsDataFrom" value="1" title="商品SKU" {% if data.goodsDataFrom == '1' or data.goodsDataFrom is empty %} checked="checked" {% endif %}>
						</div>
					</div>
					{# 商品管理 #}
					<div class1="radio-tab-group" class="goods-data-wrapper obs-box" data-from="obs">
						<div class="goods-box-item goods-hide {% if data.goodsDataFrom|default('1') == '3' %}goods-visible{% endif %}" data-target="goodsDataFrom-3">
							<div class="layui-form-item">
							{# <input type="hidden" name="gsSelectLevel0" value="{{data.gsSelectLevel0}}">
							<input type="hidden" name="gsSelectLevel1" value="{{data.gsSelectLevel1}}">
							<input type="hidden" name="gsSelectLevel2" value="{{data.gsSelectLevel2}}"> #}
							<input type="hidden" name="obsId" value="{{themeList.section_id}}">
							<input type="hidden" name="obsName" value="{{themeList.section_name}}">
							<input type="hidden" class="Unwanted" name="theme_id" value="{{themeList.theme_id}}">
							<input type="hidden" class="Unwanted" name="page_id" value="{{themeList.page_id}}">
							<input type="hidden" class="Unwanted" name="obs_skus" value="{{data.goodsSKU}}">
								<div class="select-item">
									<label class="gs-block">OBS专题</label>
									<input type="text" class="layui-input layui-disabled Unwanted" disabled placeholder="请选择专题" value="{{themeList.theme_name}}">
								</div>
								<div class="select-item">
									<label class="gs-block">OBS页面</label>
									<input type="text" class="layui-input layui-disabled Unwanted" disabled placeholder="请选择页面" value="{{themeList.page_name}}">
								</div>
								<div class="select-item">
									<label class="gs-block">OBS板块</label>
									<select class="gs-select-item gs-obs-item gs-select-level2" lay-ignore placeholder="请选择板块">
										<option value="00">请选择活动</option>
									</select>
								</div>
							</div>
							{# <div class="layui-form-item layui-hide">
								<label class="layui-form-label public-data">商品SKU</label>
								<label class="gs-label-block gs-label-blank"></label>
								<div class="layui-input-block">
									<textarea placeholder="请输入商品编号（SKU ID），编号与编号间用英文逗号隔开" class="layui-textarea layui-disabled {% if data.goodsDataFrom|default('1') != '3' %}Unwanted{% endif %}" disabled name="goodsSKU" data-skuvalid="true" data-public-tag="true"></textarea>
								</div>
								<span style="margin: 10px 0 10px 110px; display: block; color: #bbb;">"商品SKU"不可重复</span>
							</div> #}
							<div class="layui-form-item tab-add-btn layui-hide">
								<span class="el-button el-button--primary el-button--small" id="gs_getList" style="float:right">商品管理</span>
							</div>
						</div>
						<div class="goods-hide {% if data.goodsDataFrom|default('1') == '2' %}goods-visible{% endif %}" data-target="goodsDataFrom-2">
							<div class="layui-form-item">
							<input type="hidden" name="gsSelectLevel0" class="Unwanted" value="{{data.gsSelectLevel0}}">
							<input type="hidden" name="gsSelectLevel1" class="Unwanted" value="{{data.gsSelectLevel1}}">
							<input type="hidden" name="gsSelectLevel2" class="Unwanted" value="{{data.gsSelectLevel2}}">
								<div class="select-item">
									<label class="gs-block">一级活动信息</label>
									<select class="gs-select-box gs-select-level0 Unwanted" lay-ignore placeholder="请输入活动名称" data-searchplaceholder="搜索分类">
										<option value="00">请选择活动</option>
									</select>
								</div>
								<div class="select-item layui-hide">
									<label class="gs-block">二级活动信息</label>
									<select class="gs-select-box gs-select-level1 Unwanted" lay-ignore placeholder="请输入活动名称">
										<option value="00">请选择活动</option>
									</select>
								</div>
								<div class="select-item layui-hide">
									<label class="gs-block">三级活动信息</label>
									<select class="gs-select-box gs-select-level2 Unwanted" lay-ignore placeholder="请输入活动名称">
										<option value="00">请选择活动</option>
									</select>
								</div>
							</div>

						</div>
						<div class="goods-hide {% if data.goodsDataFrom|default('1') == '1' %}goods-visible{% endif %}" data-target="goodsDataFrom-1">
							<div class="layui-form-item" >
								{# <label class="layui-form-label public-data">商品SKU</label> #}
								<label class="gs-label-block gs-label-blank"></label>
								<div class="layui-input-block">
									<textarea placeholder="请输入商品编号（SKU ID），编号与编号间用英文逗号隔开" class="layui-textarea {% if data.goodsDataFrom|default('1') != '1' %}Unwanted{% endif %}" name="goodsSKU" data-skuvalid="true" data-public-tag="true">{{data.goodsSKU}}</textarea>
								</div>
								<span style="margin: 10px 0 10px 110px; display: block; color: #bbb;">"商品SKU"不可重复</span>
							</div>
							<div class="layui-form-item tab-add-btn">
								<span class="el-button el-button--primary el-button--small" id="gs_getList" style="float:right">商品管理</span>
							</div>
						</div>
					</div>

					<div class="view-more-input">
						<label class="gs-label-block">View more链接配置</label>
						<input type="text" placeholder="请输入URL" style="margin-top: 10px" name="base_view_more_url" autocomplete="off" class="layui-input" value="{{ pageData.base_view_more_url }}">
					</div>
				</div>
				<div class="layui-tab-item">
					<div class="layui-carousel" id="form_carousel">
						<div carousel-item>
							<div>
									<fieldset class="layui-elem-field">
										<legend>常用配置</legend>
										{# 剩余秒数,倒计时状态0,1,2 未开始,已开始,已结束 #}
											{# <input type="hidden" name="left_time" value="{{data.left_time}}">
											<input type="hidden" name="serverTime" value="{{serverTime}}" data-public-tag="true"> #}
											<input type="hidden" name="count_textStatus" value="{{data.count_textStatus}}" data-public-tag="true">
										<div class="layui-field-box">

											<div class="layui-form-item">
												<label class="gs-lable-block">组件上边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="base_magin_top" autocomplete="off" class="layui-input" value="{{ pageData.base_magin_top }}">
												</div>
											</div>

											<div class="layui-form-item">
												<label class="gs-lable-block">组件下边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="base_magin_bottom" autocomplete="off" class="layui-input" value="{{ pageData.base_magin_bottom }}">
												</div>
											</div>
											{{include ('@app/files/parts/temp/gb/common/default_pc/imgDisposition.twig')}}
										</div>
									</fieldset>


									{# PO:服务标配置 #}
									<fieldset class="layui-elem-field">
										<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">服务标配置</legend>
										<div class="layui-field-box">
											<div class="layui-form-item">
												<label class="gs-lable-block">服务标是否显示</label>
												<div class="layui-input-block">
													<input type="radio" name="server_label_active" data-public-tag="true" value="1" title="是" {% if pageData.server_label_active == '1' %} checked="checked" {% endif %}>
													<input type="radio" name="server_label_active" data-public-tag="true" value="0" title="否" {% if pageData.server_label_active == '0' or pageData.server_label_active is empty %} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
									</fieldset>



									<fieldset class="layui-elem-field">
										<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">限时配置</legend>
										<div class="layui-field-box">
											{# 限时配置 #}
											<div class="layui-form-item">
												<label class="gs-lable-block">背景颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="down_bgc">
															<div style="background-color: {{ pageData.down_bgc }};"></div>
														</div>
														<input type="text" class="layui-input" name="down_bgc" autocomplete="off" value="{{ pageData.down_bgc }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="gs-lable-block">秒杀时间颜色</label>
												<div class="layui-input-block">
														<div class="color-picker-selector" data-hidden-name="down_ftc">
															<div style="background-color: {{ pageData.down_ftc }};"></div>
														</div>
														<input type="text" class="layui-input" name="down_ftc" autocomplete="off" value="{{ pageData.down_ftc }}">
												</div>
											</div>

											{# PO：新增倒计时显示 GMT+8 2018-12-19 10:20:05 #}
											<div class="layui-form-item">
												<label class="gs-lable-block">倒计时是否显示</label>
												<div class="layui-input-block">
													<input type="radio" name="down_active" data-public-tag="true" value="1" title="是" {% if pageData.down_active == '1' or pageData.down_active is empty %} checked="checked" {% endif %}>
													<input type="radio" name="down_active" data-public-tag="true" value="0" title="否" {% if pageData.down_active == '0' %} checked="checked" {% endif %}>
												</div>
											</div>
										</div>
										{# 限时配置 end #}
									</fieldset>
									<fieldset class="layui-elem-field">
										<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">库存显示配置</legend>
										<div class="layui-field-box">
										{# 限时配置 #}
												<div class="layui-form-item">
													<label class="gs-lable-block">已售库存条颜色</label>
													<div class="layui-input-block">
															<div class="color-picker-selector" data-hidden-name="limit_progress_bgc">
																<div style="background-color: {{ pageData.limit_progress_bgc }};"></div>
															</div>
															<input type="text" class="layui-input" name="limit_progress_bgc" autocomplete="off" value="{{ pageData.limit_progress_bgc }}">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="gs-lable-block">剩余库存颜色</label>
													<div class="layui-input-block">
															<div class="color-picker-selector" data-hidden-name="limit_left_color">
																<div style="background-color: {{ pageData.limit_left_color }};"></div>
															</div>
															<input type="text" class="layui-input" name="limit_left_color" autocomplete="off" value="{{ pageData.limit_left_color }}">
													</div>
												</div>

												{# PO: 进度条是否显示 #}
												<div class="layui-form-item">
													<label class="gs-lable-block">进度条是否显示</label>
													<div class="layui-input-block">
														<input type="radio" name="limit_stock_active" data-public-tag="true" value="1" title="是" {% if pageData.limit_stock_active == '1' or pageData.limit_stock_active is empty %} checked="checked" {% endif %}>
														<input type="radio" name="limit_stock_active" data-public-tag="true" value="0" title="否" {% if pageData.limit_stock_active == '0' %} checked="checked" {% endif %}>
													</div>
												</div>

												<div class="layui-form-item">
													<label class="gs-lable-block">剩余库存数量显示方式</label>
													<div class="layui-input-block">
														<input type="radio" name="limit_type" data-public-tag="true" value="1" title="显示剩余数量" {% if data.limit_type == '1' or data.limit_type is empty %} checked="checked" {% endif %}>
														<input type="radio" name="limit_type" data-public-tag="true" value="0" title="显示剩余数量百分比" {% if data.limit_type == '0' %} checked="checked" {% endif %}>
													</div>
												</div>
											</div>
										{# 购物车配置 end #}
									</fieldset>

									<fieldset class="layui-elem-field">
										<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">View more 配置</legend>
										<div class="layui-field-box">

										{# 限时配置 #}
{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣标右偏移(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_right" value="{{pageData.discount_right}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣标上偏移(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_top" value="{{pageData.discount_top}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣标高度(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_height" value="{{pageData.discount_height}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣标宽度(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_width" value="{{pageData.discount_width}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣标背景图</label>#}
													{#<div class="layui-input-block">#}
														{#<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>#}
														{#<input class="layui-input" type="text" name="discount_bgImage" value="{{data.discount_bgImage}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">折扣字体大小(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_fts" value="{{pageData.discount_fts}}">#}
													{#</div>#}
												{#</div>#}
												{#<div class="layui-form-item">#}
													{#<label class="gs-lable-block">off字体大小(px)</label>#}
													{#<div class="layui-input-block"><input class="layui-input" type="text" name="discount_off_fts" value="{{pageData.discount_off_fts}}">#}
													{#</div>#}
												{#</div>#}
												<div class="layui-form-item">
													<label class="gs-lable-block">文字是否加粗</label>
													<div class="layui-input-block">
														<input type="radio" name="base_view_more_fontW" data-public-tag="true" value="1" title="是" {% if data.base_view_more_fontW == '1' or data.base_view_more_fontW is empty %} checked="checked" {% endif %}>
														<input type="radio" name="base_view_more_fontW" data-public-tag="true" value="0" title="否" {% if data.base_view_more_fontW == '0' %} checked="checked" {% endif %}>
													</div>
												</div>
											</div>
										{# 购物车配置 end #}
									</fieldset>

									<div class="text-right">
										<button type="button" id="js_moreConfig" class="layui-btn layui-btn-normal layui-btn-sm">更多配置</button>
									</div>

							</div>

							<div>
									<div class="layui-tab layui-tab-vertical">
										<ul class="layui-tab-title">
											<li class="layui-this">基础信息配置</li>
											<li>折扣标内容配置</li>
											<li>购买按钮配置</li>
											<li>限时配置</li>
										</ul>
										<div class="layui-tab-content">
											<div class="layui-tab-item layui-show">
												{# 商品信息配置 start #}

												<div class="layui-form-item">
													<label class="layui-form-label">本店售价是否显示</label>
													<div class="layui-input-block">
														<input type="radio" name="market_active" data-public-tag="true" value="1" title="是" {% if data.market_active == '1' or data.market_active is empty %} checked="checked" {% endif %}>
														<input type="radio" name="market_active" data-public-tag="true" value="0" title="否" {% if data.market_active == '0' %} checked="checked" {% endif %}>
													</div>
												</div>

											</div>
											<div class="layui-tab-item">
												{# 折扣标内容配置 #}
												<div class="layui-form-item">
													<label class="layui-form-label">折扣标是否显示</label>
													<div class="layui-input-block">
														<input type="radio" name="discount_active" data-public-tag="true" value="1" title="是" {% if data.discount_active == '1' or data.discount_active is empty %} checked="checked" {% endif %}>
														<input type="radio" name="discount_active" data-public-tag="true" value="0" title="否" {% if data.discount_active == '0' %} checked="checked" {% endif %}>
													</div>
												</div>
												
												{# 折扣标内容配置 end #}
											</div>
											<div class="layui-tab-item">
												{# 购买按钮配置 #}
												<div class="layui-form-item">
													<label class="layui-form-label">购买文案</label>
													<div class="layui-input-block"><input class="layui-input" type="text" name="buy_text" value="{{pageData.buy_text}}">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">购买文案字体大小(px)</label>
													<div class="layui-input-block"><input class="layui-input" type="text" name="buy_fts" value="{{pageData.buy_fts}}">
													</div>
												</div>
												{# 购买按钮配置 end #}
											</div>

											<div class="layui-tab-item">
												<div class="layui-form-item">
													<label class="layui-form-label">限时时间已结束是否显示</label>
													<div class="layui-input-block">
														<input type="radio" name="limit_active" data-public-tag="true" value="1" title="是" {% if data.limit_end_active == '1' or data.limit_end_active is empty %} checked="checked" {% endif %}>
														<input type="radio" name="limit_active" data-public-tag="true" value="0" title="否" {% if data.limit_end_active == '0' %} checked="checked" {% endif %}>
													</div>
												</div>
											</div>
									</div>
									<div class="text-right">
										<button type="button" id="js_baseConfig" class="layui-btn layui-btn-normal layui-btn-sm">基础配置</button>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
  </div>
</div>

<div class="layui-form-item geshop-form-operation">
	<button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
		<span type="button" class="layui-btn layui-btn-normal" id="gs_submit">提交</span>
	<button type="button" class="layui-btn layui-btn-normal js_submitDesignForm layui-hide">提交</button>
</div>
<script>
		$('#gs_submit').on('click',function(){
			var submitValid = GS_OBS.submitValid();
			if(!submitValid) return false;
			$(this).next('button').trigger('click');
		})
</script>
<style>
.sku-valid{
	border-color:red;
}
</style>
