<div class="geshop-layout-box layout-drag geshop-container" data-key="L000034" id="{{pageInstanceId}}" style="
	{% if customData.background_img %}background-image: url({{ customData.background_img }}); background-position: center top; background-repeat: no-repeat;{% endif %}
    {% if customData.background_repeat_position %}background-position: {{ customData.background_repeat_position }};{% endif %}
	{% if customData.background_repeat %}background-repeat: {{ customData.background_repeat }};{% endif %}
    {% if customData.background_layout_color %}background-color: {{ customData.background_layout_color }};{% endif %}
">
    <div class="geshop-row" style="
        margin: 0 auto;
        width: {{ layoutData.width }};
        {% if customData.background_color %}background-color: {{ customData.background_color }};{% endif %}
    ">
        {% for item in layoutData.columns %}
        <div class="geshop-col-12" style="width: {{ item.width }}" data-position="{{ loop.index }}">
            <div class="component-drop">{{ data[loop.index] }}</div>
        </div>
        {% endfor %}
    </div>
</div>
