<div class="geshop-col-4" style="text-align: left;">
  {% if data.img1Src %}
  <a href="{{ data.img1Href }}" style="display: block; width: {{ data.img1Width }}px; height: {{ data.img1Height }}px;">
    <img alt="{{ data.img1Alt }}" src="{{ data.img1Src }}" style="display: block; vertical-align: top;" width="{{ data.img1Width }}" height="{{ data.img1Height }}">
  </a>
  {% else %}
  <p style="border: 1px solid #dddddd; height: 130px; line-height: 130px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">
    图一(图片宽度限为386px)
  </p>
  {% endif %}
</div>
<div class="geshop-col-4" style="text-align: center;">
  <div class="geshop-row">
    <div class="geshop-col-12">
      {% if data.img2Src %}
      <a href="{{ data.img2Href }}" style="display: block; padding-bottom: 10px; width: {{ data.img2Width }}px; height: {{ data.img2Height }}px;">
        <img alt="{{ data.img2Alt }}" src="{{ data.img2Src }}" style="display: block; vertical-align: top;" width="{{ data.img2Width }}" height="{{ data.img2Height }}">
      </a>
      {% else %}
      <p style="border: 1px solid #dddddd; height: 64px; line-height: 64px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">
        图二(图片宽度限为386px)
      </p>
      {% endif %}
    </div>
    <div class="geshop-col-12">
      {% if data.img4Src %}
      <a href="{{ data.img4Href }}" style="display: block; padding-top: 10px; width: {{ data.img4Width }}px; height: {{ data.img4Height }}px;">
        <img alt="{{ data.img4Alt }}" src="{{ data.img4Src }}" style="display: block; vertical-align: top;" width="{{ data.img4Width }}" height="{{ data.img4Height }}">
      </a>
      {% else %}
      <p style="border: 1px solid #dddddd; height: 64px; line-height: 64px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">
        图四(图片宽度限为386px)
      </p>
      {% endif %}
    </div>
  </div>
</div>
<div class="geshop-col-4" style="text-align: right;">
  <div class="geshop-row">
    <div class="geshop-col-12">
      {% if data.img3Src %}
      <a href="{{ data.img3Href }}" style="display: block; padding-bottom: 10px; width: {{ data.img3Width }}px; height: {{ data.img3Height }}px;">
        <img alt="{{ data.img3Alt }}" src="{{ data.img3Src }}" style="display: block; vertical-align: top;" width="{{ data.img3Width }}" height="{{ data.img3Height }}">
      </a>
      {% else %}
      <p style="border: 1px solid #dddddd; height: 64px; line-height: 64px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">
        图三(图片宽度限为386px)
      </p>
      {% endif %}
    </div>
    <div class="geshop-col-12">
      {% if data.img5Src %}
      <a href="{{ data.img5Href }}" style="display: block; padding-top: 10px; width: {{ data.img5Width }}px; height: {{ data.img5Height }}px;">
        <img alt="{{ data.img5Alt }}" src="{{ data.img5Src }}" style="display: block; vertical-align: top;" width="{{ data.img5Width }}" height="{{ data.img5Height }}">
      </a>
      {% else %}
      <p style="border: 1px solid #dddddd; height: 64px; line-height: 64px; text-align: center; font-size: 16px; font-weight: bold; color: #dddddd;">
        图五(图片宽度限为386px)
      </p>
      {% endif %}
    </div>
  </div>
</div>