{{include ('@app/files/parts/temp/goods_manager.twig')}}
<section>
  <div class="component-form-setting-ite component-form-configure-item">
    <div class="layui-form-item">
      <label class="layui-form-label">价格类型</label>
      <div class="layui-input-block">
        <div class="layui-row item-gap">
                <div class="layui-col-xs4">
                    <input type="radio" name="price_type" lay-filter="price_type" value="0" title="普通售价"{% if data.price_type|default('0') == '0' %} checked{% endif %}>
                </div>
                <div class="layui-col-xs4">
                    <input type="radio" name="price_type" lay-filter="price_type" value="1" title="新人价"{% if data.price_type == '1' %} checked{% endif %}>
                </div>
                <div class="layui-col-xs4">
                    <input type="radio" name="price_type" lay-filter="price_type" value="2" title="app专享价"{% if data.price_type == '2' %} checked{% endif %}>
                </div>
        </div>
        
      </div>
    </div>

    <div class="nav-list-setting">
        <input type="hidden" data-public-tag="true" name="navList">
        {% for key, item in data.navList | default([""]) %}
          <div class="nav-item">
           <p class="nav-title">TAB分类{{key+1}}</p>
            <div class="layui-block">
              <div class="layui-form-item">
                  <label class="form-item-label">分类名</label>
                  <div class="layui-input-block">
                      <input type="text" class="layui-input category-name" type="text" value="{{item.categoryName}}">
                  </div>
              </div> 
              </br>
              <div class="layui-form-item">
                <label class="layui-form-label">商品SKU</label>
                <div class="layui-input-block rest-input">
                  <textarea class="layui-textarea Unwanted js-valid-skus" name="goodsSKU" data-public-tag="true" data-from="sku" placeholder="请输入商品编号（sku ID），编号与编号间用英文逗号隔开.">{{item.skus}}</textarea>
                </div>
                <div class="layui-form-item tab-add-btn class-manage" data-from="tabs">
                  <span class="el-button el-button--primary el-button--small">商品管理</span>
                </div>
              </div>
                {% if siteCode == 'dl-web' %}
              <div class="layui-form-item">
                <label class="layui-form-label">See more跳转链接</label>
                <div class="layui-input-block rest-input">
                  <input type="text" autocomplete="off" class="layui-input" value="{{item.link}}" name="link">
                </div>
              </div>
                {% endif %}
            </div>
            
            <div class="geshop-third-value">
              <span class="img-btn"><i class='icon-up'></i><b class="tips">上移</b></span>
              <span class="img-btn"><i class='icon-down'></i><b class="tips">下移</b></span>
              <span class="img-btn"><i class='icon-delete'></i><b class="tips">删除</b></span>
              <span class="img-btn add-class"><i class='icon-add'></i><b class="tips">新增</b></span>
            </div>
          </div>
          
          {% endfor %}
      </div>
    </div>
</section>
