{% set SKU = [
  {
    "label":"aaa",
    "SKU":"237717710,237717709,188075907,174562903"
  },
    {
    "label":"bbb",
    "SKU":"YE0897101,YE0856301,YE0856302,YE0866301"
  }
  ]%}

	{%
	set pageData = {
		tabBgCA:data.tabBgCA is not null?data.tabBgCA:'#d8d8d8',
		tabFtCA:data.tabFtCA is not null?data.tabFtCA:'#333',
		tabBgC:data.tabBgC is not null?data.tabBgC:'#EDEDED',
		tabFtC:data.tabFtC is not null?data.tabFtC:'#333',
		priceC:data.priceC is not null?data.priceC:'#eb1942',
		buyBgC:data.buyBgC is not null?data.buyBgC:'#eb1942',
		discountFtC:data.discountFtC is not null?data.discountFtC:'#ffffff',
		marketPriceC:data.marketPriceC is not null?data.marketPriceC:'#787878',
		buyFtC:data.buyFtC is not null?data.buyFtC:'#ffffff',
	}
%}
{% set SKU_encode = data.goodsSKU?json_encode_no_unicode(data.goodsSKU):''%}

<link rel="stylesheet" href="/resources/template/goods/goodsUnit.css">
<script src="/resources/template/goods/index.js?v={{ serverTime }}"></script>

<div class='design-form design-form-component design-form-visible'>
  <h3 class='component-form-title'>商品列表设置
    <a href="javascript:;" class="design-form-close js_closeDesignForm icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  <blockquote class="component-form-quote">切换模板后，无蓝色标识的配置数据将被重置</blockquote>
  <div class="component-form-setting-item component-form-configure-item activity-component-from-item">
		<div class="layui-tab" id="goods_tab">
			<ul class="layui-tab-title">
				<li class="layui-this">模板选择</li>
				<li>商品数据</li>
				<li>样式设置</li>
			</ul>
			<div class="layui-tab-content layui-tab-content-parent" data-goodsType="tab">
				<div class="layui-tab-item layui-show">
						<style> {{ include('@app/htdocs/resources/stylesheets/form-less-module/theme.css') }} </style>
						{{ include ('@app/files/parts/formTemplate/components/theme.twig') }}
				</div>
				<div class="layui-tab-item">
					<span style="margin: 10px 0; display: block; color: #bbb;">
					<i class="layui-icon" style="margin-right: 5px;color: #e0b571;">&#xe60b;</i>
					注意:请输入商品编号（SKU ID），编号与编号间用英文逗号隔开</span>
					<table class="layui-table goods-form-table">
            			<input type="hidden" name="goodsSKU" data-public-tag="true" value='{{SKU_encode}}'>
						<thead>
							<tr>
								<th style="width:80px;" class="public-data">分类</th>
								<th class="public-data">SKU</th>
								<th>操作</th>
							</tr>
							<tr class="tab-template layui-hide">
								<td><input class="layui-input Unwanted" type="text" value=""></td>
								<td><textarea class="layui-textarea Unwanted" name="goodsSKU" data-public-tag="true"></textarea></td>
								<td>
								<i class="layui-icon class-close">&#x1006;</i>
								<i class="layui-icon class-up">&#xe619;</i>
								<i class="layui-icon class-down">&#xe61a;</i>
								<i class="layui-icon class-manage">&#xe614;</i>
								</td>
							</tr>
						</thead>
						<tbody>
							{% for tabItem in data.goodsSKU|default(0..2) %}
							<tr>
								<td><input class="layui-input Unwanted" type="text" value="{{tabItem.label}}"></td>
								<td><textarea class="layui-textarea Unwanted" name="goodsSKU" data-public-tag="true">{{tabItem.lists}}</textarea></td>
								<td>
								<i class="layui-icon class-close">&#x1006;</i>
								<i class="layui-icon class-up">&#xe619;</i>
								<i class="layui-icon class-down">&#xe61a;</i>
								<i class="layui-icon class-manage">&#xe614;</i>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="layui-form-item tab-add-btn">
						<span class="el-button el-button--primary el-button--small" id="gs_tab_add">新增</span>
					</div>
				</div>
				<div class="layui-tab-item">
					<div class="layui-carousel" id="form_carousel">
						<div carousel-item>
							<div>
								<fieldset class="layui-elem-field">
									<legend>常用配置</legend>
									<div class="layui-field-box">
										<div class="layui-form-item">
											<label class="layui-form-label">tab选中背颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="tabBgCA">
													<div style="background-color: {{ pageData.tabBgCA }};"></div>
												</div>
												<input type="text" class="layui-input" name="tabBgCA" autocomplete="off" value="{{ pageData.tabBgCA }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">tab选中文字颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="tabFtCA">
													<div style="background-color: {{ pageData.tabFtCA }};"></div>
												</div>
												<input type="text" class="layui-input" name="tabFtCA" autocomplete="off" value="{{ pageData.tabFtCA }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">tab默认背景色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="tabBgC">
													<div style="background-color: {{ pageData.tabBgC }};"></div>
												</div>
												<input type="text" class="layui-input" name="tabBgC" autocomplete="off" value="{{ pageData.tabBgC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">tab默认文字色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="tabFtC">
													<div style="background-color: {{ pageData.tabFtC }};"></div>
												</div>
												<input type="text" class="layui-input" name="tabFtC" autocomplete="off" value="{{ pageData.tabFtC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">折扣标显示方式</label>
											<div class="layui-input-block">
												<input type="radio" name="discountType" data-public-tag="true" value="1" title="***%OFF" {% if data.discountType == '1' or data.discountType is empty %} checked="checked" {% endif %}>
												<input type="radio" name="discountType" data-public-tag="true" value="0" title="-***%" {% if data.discountType == '0' %} checked="checked" {% endif %}>
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label public-data">折扣背景图片</label>
											<div class="layui-input-block">
												<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
												<input class="layui-input" type="text" name="discountBgImg" value="{{data.discountBgImg}}" data-public-tag="true">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">折扣文字颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="discountFtC">
													<div style="background-color: {{ pageData.discountFtC }};"></div>
												</div>
												<input type="text" class="layui-input" name="discountFtC" autocomplete="off" value="{{ pageData.discountFtC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">销售价颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="priceC">
													<div style="background-color: {{ pageData.priceC }};"></div>
												</div>
												<input type="text" class="layui-input" name="priceC" autocomplete="off" value="{{ pageData.priceC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">按钮字体颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="buyFtC">
													<div style="background-color: {{ pageData.buyFtC }};"></div>
												</div>
												<input type="text" class="layui-input" name="buyFtC" autocomplete="off" value="{{ pageData.buyFtC }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">按钮背景颜色</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="buyBgC">
													<div style="background-color: {{ pageData.buyBgC }};"></div>
												</div>
												<input type="text" class="layui-input" name="buyBgC" autocomplete="off" value="{{ pageData.buyBgC }}">
											</div>
										</div>
									</div>
								</fieldset>
								<div class="text-right">
									<button type="button" id="js_moreConfig" class="layui-btn layui-btn-normal layui-btn-sm">更多配置</button>
								</div>
							</div>
							<div>
								<div class="layui-tab layui-tab-vertical">
									<ul class="layui-tab-title">
										<li class="layui-this">Tab 设置</li>
										<li>折扣标</li>
										<li>购买按钮</li>
									</ul>
									<div class="layui-tab-content">
										<div class="layui-tab-item layui-show">
											<div class="layui-form-item">
												<label class="layui-form-label">字体大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="tabFtS" value="{{data.tabFtS|default(21)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">高度(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="tabHeight" value="{{data.tabHeight|default(70)}}">
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">上偏移(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="discountOffsetT" value="{{data.discountOffsetT|default(3)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">右偏移(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="discountOffsetR" value="{{data.discountOffsetR|default(4)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">背景颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="discountBgc">
														<div style="background-color: {{ data.discountBgc | default('#333') }};"></div>
													</div>
													<input type="text" class="layui-input" name="discountBgc" autocomplete="off" value="{{ data.discountBgc }}">
												</div>
											</div>
										</div>
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">背景图片</label>
												<div class="layui-input-block">
													<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
													<input class="layui-input" type="text" name="buyBgImg" value="{{data.buyBgImg}}">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="text-right">
									<button type="button" id="js_baseConfig" class="layui-btn layui-btn-normal layui-btn-sm">基础配置</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>

<div class="layui-form-item geshop-form-operation">
	<button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
	<span type="button" class="layui-btn layui-btn-normal" id="gs_submit">提交</span>
	<button type="button" class="layui-btn js_submitDesignForm" style="display:none">提交</button>
</div>

<style>
.goods-form-table .layui-icon{
	cursor: pointer;	display: block; margin: 2px 0;
}
.layui-tab-item{
	position: relative;
}
#goods_tab .tab-add-btn{
	/*position: absolute;	bottom: -77px; */
	left: 20px;
}

#goods_layer_wrap + .layui-form{
	display:none !important;
}

#goods_layer .layui-icon{
	cursor: pointer; margin: 2px 5px; display: inline-block;
}

#goods_layer .layui-icon-prev,#goods_layer .layui-icon-next{
	transform:rotate(90deg); -webkit-transform:rotate(90deg);
}
</style>

<script>
var $goodsTable = $('.goods-form-table');
{# 删除分类 #}
$("#component_form").on('click','.goods-form-table .class-close',function(){
	var $this = $('this');
	var $tr = $(this).parents('tr:eq(0)');
	layer.confirm('是否删除该分类?',{icon:3,title:'提示'},function(index){
		$tr.remove();
		layer.close(index);
	})

});
{# 新增分类 #}
$('#gs_tab_add').on('click',function(){
	var clone = $('.tab-template',$goodsTable).clone();
	clone.removeClass('tab-template layui-hide');
	$('tbody',$goodsTable).append(clone);
});
{# 移动分类 #}
$("#component_form").on('click','.goods-form-table .class-down',function(){
	var $this = $('this'),
	$tr = $(this).parents('tr:eq(0)'),
	$trNext = $tr.next();
	if(0 != $trNext.length){
		var $clone = $tr.clone();
		$tr.remove();
		$trNext.after($clone);
	}
});
$("#component_form").on('click','.goods-form-table .class-up',function(){
	var $this = $('this'),
	$tr = $(this).parents('tr:eq(0)'),
	$trPrev = $tr.prev();
	if(0 != $trPrev.length){
		var $clone = $tr.clone();
		$tr.remove();
		$trPrev.before($clone);
	}

});

$('#gs_submit').on('click',function(){
	var goodsArr = [];
	$('.goods-form-table textarea[name=goodsSKU]').each(function(index,element){
		var $val = $(this).val();
		var $label = $(this).parents('tr:eq(0)').find('input.Unwanted').val();
		if($val && $label){
			goodsArr.push({
				"label":$label,
				"lists":$val
			})
		}
	});
	$('.goods-form-table input[name=goodsSKU]').val(JSON.stringify(goodsArr));
		var tab_ips_statu = validIpsSKU(goodsArr);
	if(validIpsSKU && !tab_ips_statu){return false;}

	$(this).next('button').trigger('click');
});
</script>

