<li class="{{colClass}} goods-item-black">
    <div class="component-self-goodBox">
        <div class="component-self-goodWrap">
            <div class="gs-img">
                <a href="{{item.url_title|default('javascript:;')}}">
                    {% include geshop.default.pc.image_goods with { params: { src: item.goods_img }} %}
                </a>
                
                {# 折扣标 #}
                {%
                    include geshop.default.pc.discount_float with { params: {
                        type: data.discountType,
                        value: item.discount
                    }}
                %}

                {# 上架状态 #}
                {% if data.goodsLimitActive == '1' and item.activity_number == activity_volume_number %}
                    <span class="goodStatus">SOLD OUT</span>
                {% endif %}

                {# 库存 #}
                {% if data.goodsLimitActive|default(0) == '1' %}
                    {{include ('@app/files/parts/temp/goods_limit.twig')}}
                {% endif %}
            </div>
            <div class="gs-desc">
                {% if data.goodsActive|default(1) == '1' %}
                    <a href="{{item.url_title|default('javascript:;')}}">
                        <span class="item-name">{{item.goods_title|default('这里输入商品名称这里输入商品名称')}}</span>
                    </a>
                {% endif %}
                <div class="item-price">
                    {% include geshop.default.pc.shop_price with { params: { value: item.shop_price }} %}
                    {% include geshop.default.pc.market_price with { params: { value: item.market_price }} %}
                </div>
            </div>
            {% include geshop.default.pc.button_buy_animate with { params: { href: item.url_title }} %}
        </div>
    </div>
</li>