<style>
.layui-form-select .layui-edge{
	right:20px;
}
</style>

{% set buyBorderSArr = [
	{name:'无',value:'none'},
	{name:'实线',value:'solid'},
	{name:'虚线',value:'dashed'},
	{name:'点状',value:'dotted'},
	{name:'双线',value:'double'},
	{name:'继承上级',value:'inherit'},
]%}

{% set fontFamily = [
	{name:'OpenSans-Semibold (zaful)',value:'OpenSans-Semibold'},
  {name:'OpenSans-Bold (zaful)',value:'OpenSans-Bold'},
  {name:'OpenSans-Regular (zaful)',value:'OpenSans-Regular'},
  {name:'Trebuchet MS (RG)',value:'Trebuchet MS'},
  {name:'Tahoma (RW)',value:'Tahoma'},
  {name:'Arial (RW)',value:'Arial'},
  {name:'Helvetica (RW)',value:'Helvetica'},
  {name:'sans-serif (RW)',value:'sans-serif'},
  {name:'AvenirLTStd_Book (RW)',value:'AvenirLTStd_Book'},
  {name:'Georgia (RW)',value:'Georgia'},
  {name:'Times New Roman (RW)',value:'Times New Roman'},
  {name:'Verdana (RW)',value:'Verdana'},
]%}

{% set siteCodeOp = {
	baseWidthDefault: siteCode == 'zf-pc'?1260:1200,

}%}

{%
	set pageData = {
				price_ft_weight:data.price_ft_weight|default(1),
			base_bg_shadow:data.base_bg_shadow|default(0),
			defaultGoodsCount:data.defaultGoodsCount|default(''),
			base_magin_bottom:data.base_magin_bottom|default(32),
			base_bgc:data.base_bgc is not null ? data.base_bgc:'#FFFFFF',
		
			price_color:data.price_color is not null ? data.price_color:'#f30240',
			price_fts:data.price_fts|default(22),
			
			buy_ftc:data.buy_ftc is not null ? data.buy_ftc:'#FFFFFF',
			buy_bgc:data.buy_bgc is not null ? data.buy_bgc:'#CC0000',
			
			view_more_ftc:data.view_more_ftc is not null ? data.view_more_ftc:'#333333',
			view_more_bdc:data.view_more_bdc is not null ? data.view_more_bdc:'#333333',

			discount_bgc:data.discount_bgc is not null ? data.discount_bgc:'#FF8A00',
			discount_ftc:data.discount_ftc is not null ? data.discount_ftc:'#FFFFFF',
			discount_height:data.discount_height|default(70),
			discount_width:data.discount_width|default(70),
			discount_fts:data.discount_fts|default(16),
			discount_off_fts:data.discount_off_fts|default(12),
			discount_right:data.discount_right|default(10),
			discount_top:data.discount_top|default(10),
			discount_bgImage:data.discount_bgImage,

			buy_text:data.buy_text,
			buy_fts:data.buy_fts|default(18),
			view_more_text:data.view_more_text,
			base_magin_top:data.base_magin_top|default(0),
			service_tag:data.service_tag|default(0),
			discount_active:data.discount_active|default(0)
	}
%}

<style>
.gs-lable-block{
	margin:0 0 5px 20px;
}
.gs-lable-block+.layui-input-block,.class-manage{
	margin-left:20px
}

#goods_tab .tab-add-btn{
	    margin: 15px 0;
    height: 32px;
    line-height: 36px;
}
.text-explain{
	margin-bottom:24px;
	font-size:14px;
	font-weight:400;
	color:rgba(158,158,158,1);
	line-height:20px;
}
</style>
{{include ('@app/files/parts/temp/goods_manager.twig')}}

<div class='design-form design-form-component design-form-visible'>
  <h3 class='component-form-title'>广告-普通商品 配置
    <a href="javascript:;" class="design-form-close js_closeDesignForm gb-icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  <blockquote class="component-form-quote">切换模板后，无蓝色标识的配置数据将被重置</blockquote>
  <div class="component-form-setting-item component-form-configure-item activity-component-from-item">
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this">模板选择</li>
				<li>商品数据</li>
				<li>样式设置</li>
			</ul>
			<div class="layui-tab-content layui-tab-content-parent" data-goodsType="">
				<div class="layui-tab-item layui-show">
						<style> {{ include('@app/htdocs/resources/stylesheets/form-less-module/theme.css') }} </style>
						{{ include ('@app/files/parts/formTemplate/components/theme.twig') }}
				</div>
				<div class="layui-tab-item radio-tab-true">
					<label class="gs-lable-block">商品数据</label>
					<div class="layui-table goods-form-table" id="component_form">
						<div class="layui-form-item">
							<label class="gs-lable-block">默认显示商品个数</label>
							<div class="layui-input-block">
								<input type="text" name="defaultGoodsCount" autocomplete="off" placeholder="建议输入2的倍数，如配置的商品不足输入的值，按实际商品数量显示" class="layui-input" value="{{ pageData.defaultGoodsCount }}">
								<p class="text-explain">建议输入2的倍数，如配置的商品不足输入的值，按实际商品数量显示</p>
							</div>
						</div>
						<div class="layui-form-item" >
							<label class="gs-label-block">商品SKU</label>
							<div class="layui-input-block">
								<textarea placeholder="请输入商品编号（SKU ID），编号与编号间用英文逗号隔开" class="layui-textarea" name="goodsSKU" data-public-tag="true"  data-skuvalid="true" data-confirm="true">{{data.goodsSKU}}</textarea>
							</div>
							<span style="margin: 10px 0 10px 110px; display: block; color: #bbb;">商品SKU"不可重复</span>
						</div>
						<div class="layui-form-item tab-add-btn">
							<span class="el-button el-button--primary el-button--small" id="gs_getList" style="float:right">商品管理</span>
						</div>
					</div>
				</div>
				<div class="layui-tab-item">
					<div class="layui-carousel" id="form_carousel">
						<div carousel-item>
							<div>
								<fieldset class="layui-elem-field">
									<legend>常用配置</legend>
									<div class="layui-field-box">
										<div class="layui-form-item">
											<label class="gs-lable-block">组件上边距(px)</label>
											<div class="layui-input-block">
												<input type="text" name="base_magin_top" autocomplete="off" class="layui-input" value="{{ pageData.base_magin_top }}">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="gs-lable-block">下边距(px)</label>
											<div class="layui-input-block">
												<input type="text" name="base_magin_bottom" autocomplete="off" class="layui-input" value="{{ pageData.base_magin_bottom }}">
											</div>
										</div>
										{{include ('@app/files/parts/temp/gb/common/default_pc/imgDisposition.twig')}}

									</div>
								</fieldset>
								<fieldset class="layui-elem-field">
									<legend>商品信息设置</legend>
									<div class="layui-field-box">
										<div class="layui-form-item">
											<label class="gs-lable-block">划线价是否显示</label>
											<div class="layui-input-block">
												<input type="radio" name="market_active" data-public-tag="true" value="1" title="是" {% if data.market_active == '1' or data.market_active is empty %} checked="checked" {% endif %}>
												<input type="radio" name="market_active" data-public-tag="true" value="0" title="否" {% if data.market_active == '0' %} checked="checked" {% endif %}>
											</div>
										</div>
										<div class="layui-form-item">
											<label class="gs-lable-block">服务标是否显示</label>
											<div class="layui-input-block">
												<input type="radio" name="service_tag" data-public-tag="true" value="1" title="是" {% if data.service_tag ==  '1'%} checked="checked" {% endif %}>
												<input type="radio" name="service_tag" data-public-tag="true" value="0" title="否" {% if data.service_tag == '0'  or data.service_tag is empty %} checked="checked" {% endif %}>
											</div>
										</div>
									
									</div>
								</fieldset>
								
								<div class="text-right">
									<button type="button" id="js_moreConfig" class="layui-btn layui-btn-normal layui-btn-sm">更多配置</button>
								</div>

							</div>

							<div>
									<div class="layui-tab layui-tab-vertical">
										<ul class="layui-tab-title">
											<li class="layui-this">商品信息设置</li>
											<li>折扣标内容设置</li>
											<li>购买按钮设置</li>
											<li>View more按钮</li>
										</ul>
										<div class="layui-tab-content">
											<div class="layui-tab-item layui-show">
												{# 商品信息设置 start #}

												{# 基础商品信息设置 end #}
											</div>
											<div class="layui-tab-item">
												{# 折扣标内容设置 #}
												<div class="layui-form-item">
													<label class="gs-lable-block">折扣标是否显示</label>
													<div class="layui-input-block">
														<input type="radio" name="discount_active" data-public-tag="true" value="1" title="是" {% if pageData.discount_active ==  '1' %} checked="checked" {% endif %}>
														<input type="radio" name="discount_active" data-public-tag="true" value="0" title="否" {% if pageData.discount_active == '0' or pageData.discount_active is empty %} checked="checked" {% endif %}>
													</div>
												</div>
												
												{# 折扣标内容设置 end #}
											</div>
											<div class="layui-tab-item">
												{# 购买按钮设置 #}
												<div class="layui-form-item">
													<label class="gs-lable-block">购买文案</label>
													<div class="layui-input-block"><input class="layui-input" type="text" name="buy_text" value="{{pageData.buy_text}}">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="gs-lable-block">购买文案字体大小(px)</label>
													<div class="layui-input-block"><input class="layui-input" type="text" name="buy_fts" value="{{pageData.buy_fts}}">
													</div>
												</div>
												{# 购买按钮设置 end #}
											</div>
											<div class="layui-tab-item">
												{# View More按钮设置 #}
												<div class="layui-form-item">
													<label class="gs-lable-block">查看更多文案</label>
													<div class="layui-input-block"><input class="layui-input" type="text" name="view_more_text" value="{{pageData.view_more_text}}">
													</div>
												</div>
												{# View More按钮设置 end #}
											</div>
										</div>
									
								</div>
								<div class="text-right">
										<button type="button" id="js_baseConfig" class="layui-btn layui-btn-normal layui-btn-sm">基础配置</button>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
  </div>
</div>

<div class="layui-form-item geshop-form-operation">
	<button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
		<span type="button" class="layui-btn layui-btn-normal" id="gs_submit">提交</span>
	<button type="button" class="layui-btn layui-btn-normal js_submitDesignForm layui-hide">提交</button>
</div>

<style>
	.class-add{
		display:none;
	}
	.goods-tab-lists .goods-tab-item:last-child .class-add{
		display:inline-block;
	}
</style>

<script>

	$('#gs_submit').on('click',function(){
		
		/* */$(this).next('button').trigger('click');
	});

	$('.layui-textarea').on('blur',function(){
	if ($(this).val() != '') {
		var res = /(\\s{5,20000})/g;
		var skuList = $(this).val().trim().replace(res, ',');
		var skuArr = skuList.split(',');
		var newArr = [];
		for(var i=0;i<skuArr.length;i++){
			if(newArr.indexOf(skuArr[i]) == -1){
				newArr.push(skuArr[i]);
			}
		};
		skuArr = newArr;
		skuList = newArr.toString();
		$(this).val(skuList);
	};
});

</script>

