{% set liCol = ['geshop-col-12','geshop-col-6','geshop-col-4','geshop-col-3','geshop-col-2','geshop-col-1']%}
{% set suffix ='rem'%}
{% set remUnit = 75 %}

{% if data.colNum == '1'%}
    {% set colClass = liCol[0] %}
{% elseif data.colNum == '2' %}
    {% set colClass = liCol[1] %}
{% elseif data.colNum == '3' %}
    {% set colClass = liCol[2] %}
{% elseif data.colNum == '4' %}
    {% set colClass = liCol[3] %}
{% elseif data.colNum == '5' %}
    {% set colClass = liCol[4] %}
{% else %}
    {% set colClass = liCol[3] %}
{% endif %}

{%
    set pageData = {
		price_ft_weight:data.price_ft_weight|default(1),
		base_bg_shadow:data.base_bg_shadow|default(0),
		lang:data.lang|default('en'),
		page_point_type:'landPage',
		base_magin_bottom:data.base_magin_bottom|default(32)/remUnit~suffix,
		base_bgc:data.base_bgc is not null ? data.base_bgc:'#FFFFFF',

		price_color:data.price_color is not null ? data.price_color:'#f30240',
		price_fts:(data.price_fts|default(50)/remUnit)|number_format(3, '.')~suffix,

		buy_ftc:data.buy_ftc is not null ? data.buy_ftc:'#FFFFFF',
		buy_bgc:data.buy_bgc is not null ? data.buy_bgc:'#CC0000',

		view_more_bdc:data.view_more_bdc is not null ? data.view_more_bdc:'#333333',
		view_more_ftc:data.view_more_ftc is not null ? data.view_more_ftc:'#333333',


		discount_bgc:data.discount_bgc is not null ? data.discount_bgc:'#FF8A00',
		discount_ftc:data.discount_ftc is not null ? data.discount_ftc:'#FFFFFF',
		discount_height:(data.discount_height|default(70)/remUnit)|number_format(3, '.')~suffix,
		discount_width:(data.discount_width|default(70)/remUnit)|number_format(3, '.')~suffix,
		discount_fts:(data.discount_fts|default(24)/remUnit)|number_format(3, '.')~suffix,
		discount_off_fts:(data.discount_off_fts|default(12)/remUnit)|number_format(3, '.')~suffix,
		discount_right:(data.discount_right|default(10)/remUnit)|number_format(3, '.')~suffix,
		discount_top:(data.discount_top|default(10)/remUnit)|number_format(3, '.')~suffix,
		discount_bgImage:data.discount_bgImage,

		buy_text:data.buy_text,
		buy_fts:(data.buy_fts|default(18)/remUnit)|number_format(3, '.')~suffix,
		view_more_text:data.view_more_text,
		view_less_text:data.view_less_text,

		discount_active:data.discount_active|default(1),
		goods_title_active:data.goods_title_active|default(1),
		market_active:data.market_active|default(1),
		down_active:down_active|default(0),
		base_magin_top:data.base_magin_top|default(0)/remUnit~suffix,
		server_label_active:data.server_label_active|default(0),
		star_level: data.star_level|default(0),
		star_level_color: data.star_level_color|default('#FF8A00'),
		view_all_link: data.view_all_link|default(''),
		view_all_fts:(data.view_more_fts|default(24)/remUnit)|number_format(3, '.'),
    }
%}

<div class="geshop-component-box geshop-component-goods component-drag component-sync clearfix geshop-gb-component ui-{{ pageInstanceId }}" data-gid="U000160_model2" data-key="U000160" data-id="{{ pageInstanceId }}"
	data-editenv="{{data.isEditEnv}}" data-static-domain="{{staticDomain}}" data-vis="{{liLength}}" data-lang="{{lang}}"
	style="margin-bottom: {{ pageData.base_magin_bottom }}px;margin-top:{{pageData.base_magin_top}}">
	{# 专题页/落地页 埋点 pagePoint #}
	{{ include('style.twig') }}
	{% if pageData.page_point_type|default('activityPage') ==  'activityPage' %}
		{% set pagePoint = {
			wrapLink: 'track-goodsItem',
			goodLink: 'track-goodsLink',
			prodLink:''
		}%}

	{% elseif pageData.page_point_type ==  'landPage' %}
			{% set pagePoint = {
			wrapLink: 'subjectGoodItem',
			goodLink: 'js-link',
			prodLink:'showProd'
		}%}
	{% else %}
		{% set pagePoint = {
			wrapLink: 'track-goodsItem',
			goodLink: 'track-goodsLink',
			prodLink:''
		}%}

	{% endif %}

    <div class="geshop-col-12">

		<div class="gb_goodsWrap gb_wrapper_common" data-skus="{{data.goodsSKUList}}" data-isEditEnv="{{data.isEditEnv}}"
			style="
		 	{% if data.baseFtFa %}font-family:{{data.baseFtFa}};{% endif %}">
			{# felix #}
			<ul data-p="{{data.goodsInfo|length}}"  class="clearfix gb-list-default gb-lists-default" data-shownum = "{{data.show_num}}">
			{% for key,item in data.goodsInfo|default(0..3)%}
				{# css属性单位 #}
				{% set left_number =  (item.stock_num - item.activity_stock) > 0 ? (item.stock_num - item.activity_stock) : 0 %}
				{% set goodsStatus =  left_number == 0 and data.goodsInfo and pageData.limit_active!='1'? 'good_soldOut' :'goodsBuyPro'%}
				{% set isLimitGoods = pageData.down_active == '1' ? 'is_goods_limit' : 'not_goods_limit'%}
				{% set isPriceEqual =  item.market_price == item.shop_price? 'visible-hide':''%}
				{% set isHide = (key >= data.show_num and data.show_num > 0) ? 'isHide' : "" %}
					<li class="gs-list-item_tag gs-list-item--m subjectGoodItem {{goodsStatus}} {{isLimitGoods}} 
					{{ isHide }}" data-track-key="{{item.goods_sn}}">
					{# 倒计时 #}
					{{include ('@app/files/parts/temp/gb/common/default_m/goodDown.twig')}}
					<div class="item-content">
						<div class="gs-goods-wrap--m">
							{% set img_src =  data.goodsImgObj[item.goods_sn]?data.goodsImgObj[item.goods_sn]:item.goods_img %}
							{% set img_common_width = (312/remUnit)~suffix %}
							{% set img_common_height = data.goods_img_one == '0'?(312/remUnit)~suffix:(312/0.75/remUnit)~suffix %}
							{% set img_common_default = pageData.goods_img_one == '0'?'https://geshoptest.s3.amazonaws.com/uploads/RWc8f9wXKHO0qoangENDdjTiJ6QZzktY.png   ':'https://geshoptest.s3.amazonaws.com/uploads/h5D4oJ2kIS1fxyUsrlv6L8zH9tjCE0ug.png'%}
							<figure class="gs-goods-item-thumb {% if img_src|default('') == '' %}has-cloth-not{% endif %} {% if data.goods_img_one == '1' %}gs-goods-item-common{% endif %}">
								<a href="{% if item.url_title %}{{item.url_title}}{% else %}javascript:;{% endif %}">
									{% if data.isEditEnv == '1' and data.goodsInfo %}
										<img class="js-lazyload" src="{{img_src}}" style="width:{{img_common_width}};height:{{img_common_height}};" data-lazy="{{img_src}}" >
									{% elseif data.isEditEnv == '0' and data.goodsInfo %}
										<img class="js-lazyload" src="{{data.default.good_gb}}" style="width:{{img_common_width}};height:{{img_common_height}};" data-lazy="{{img_src}}" title="{{item.goods_title}}" alt="{{item.goods_title}}">
									{% else %}
										<img class="gs-default-clothes" src="{{img_common_default}}" class="gs-default-clothes" style="width:{{img_common_width}};height:{{img_common_height}};">
									{% endif %}
									<i class="gs-goods-status"><span>Sold Out</span></i>
								</a>
							</figure>

							{# 折扣标配置 #}
						{{include ('@app/files/parts/temp/gb/common/default_m/goodDiscount.twig')}}


						</div>
						{# 库存配置 #}
						{{include ('@app/files/parts/temp/gb/common/default_m/goodLimit.twig')}}

						<div class="gs-goods-desc--m">
							{# 商品标题配置 #}
							<a href="{% if item.url_title %}{{item.url_title}}{% else %}javascript:;{% endif %}">
								{{include ('@app/files/parts/temp/gb/common/default_m/goodTitle.twig')}}
							</a>

							{# 商品价格配置 #}
							{{include ('@app/files/parts/temp/gb/common/default_m/goodPrice.twig')}}
						</div>
						<div class="star-box">
							{% set stars_num = item.pass_avg_score + pageData.star_level %}
							<div class="gs-rating" data-value="{{stars_num|round(2, 'common')}}"></div>
							<p>{% if stars_num >= 5 %}5{% else %}{{stars_num|round(2, 'common')}}{% endif %}</p>
						</div>
					</div>
				</li>
			{% endfor %}
			</ul>
			{% if pageData.view_all_link or (data.show_num < data.goodsInfo|length and data.show_num > 0) %}
				<div class="view-more" style="min-height: 0.746rem;">
					{% if data.show_num < data.goodsInfo|length and data.show_num > 0 %}
						<p class="view-more-btn" style="line-height:.5595rem" data-moretext="{{pageData.view_more_text|default(gb_component_trans(lang , 'view_more'))}}" data-lesstext="{{pageData.view_less_text|default(gb_component_trans(lang , 'view_less'))}}">
							<span style="display: inline-block;max-width: 3rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;vertical-align: middle;">{{pageData.view_more_text|default(gb_component_trans(lang , 'view_more'))}}</span>
							<i class="gs-iconfont gs-icon-down1"></i>
						</p>
					{% endif %}
					{% if pageData.view_all_link  %}
						<a  href="{{pageData.view_all_link}}"  class="view-all-btn" style="position:absolute;right:0;top:.02666rem;margin-right:.1rem">
							<span style="display: inline-block;white-space: nowrap;padding:0 0.2rem;max-width: 2.3rem;overflow: hidden;vertical-align: top;text-overflow: ellipsis">{{pageData.view_all_text|default(gb_component_trans(lang, 'view_all' ))}}</span>>
						</a>
					{% endif %}
				</div>
			{% endif %}
			{# {{include ('@app/files/parts/temp/gb/common/default_m/goodMoreBtn.twig')}} #}
		</div>
    </div>
</div>

