{% set viewBorderSArr = [
	{name:'无',value:'none'},
	{name:'实线',value:'solid'},
	{name:'虚线',value:'dashed'},
	{name:'点状',value:'dotted'},
	{name:'双线',value:'double'},
	{name:'继承上级',value:'inherit'},
]%}

{%
	set pageData = {
		height:data.height is not null?data.height:100,
		titleWidth:data.titleWidth is not null?data.titleWidth:400,
		titleHeight:data.titleHeight is not null?data.titleHeight:60,
		viewBorderC:data.viewBorderC is not null?data.viewBorderC:'#FD9E62',



	}
%}
<style>
.layui-form-select dl {
    top: -230px;
  }
.gs-lable-block{
	margin:0 0 5px 20px;
}
.gs-lable-block+.layui-input-block,.class-manage{
	margin-left:20px;
}

.font14{
	font-size:14px;
}
</style>

<div class='design-form design-form-component design-form-visible'>
  <h3 class='component-form-title'>加价购组件配置
    <a href="javascript:;" class="design-form-close js_closeDesignForm icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  <blockquote class="component-form-quote">切换模板后，无蓝色标识的配置数据将被重置</blockquote>
  <div class="component-form-setting-item component-form-configure-item activity-component-from-item">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">模板选择</li>
        <li>样式设置</li>
      </ul>
      <div class="layui-tab-content layui-tab-content-parent">
        <div class="layui-tab-item layui-show">
						<style> {{ include('@app/htdocs/resources/stylesheets/form-less-module/theme.css') }} </style>
						{{ include ('@app/files/parts/formTemplate/components/theme.twig') }}
				</div>
        <div class="layui-tab-item">
          <div class="layui-carousel" id="form_carousel">
            <div carousel-item>
              <div>
                <fieldset class="layui-elem-field">
                  <legend>常用配置</legend>
                  <div class="layui-field-box">
                    <div class="layui-form-item">
                      <div class="gs-lable-block">下边距(px)</div>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="bgColor"><div style="background-color: #EDEDED;"></div></div>
                        <input class="layui-input" type="text" name="viewMarginB" value="{{data.viewMarginB | default('32')}}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <div class="gs-lable-block">背景颜色</div>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="bgColor"><div style="background-color: #EDEDED;"></div></div>
                        <input type="text" class="layui-input" name="bgColor" autocomplete="off" value="{{ data.bgColor | default('#EDEDED')}}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <div class="gs-lable-block">Tab分类数据</div>
                      <div class="gs-lable-block font14">每个tab显示商品数量  <span style="color:#999999">(最多显示100个商品)</span></div>
                      <div class="layui-input-block">
                        <input class="layui-input Unwanted" name="goodsNum" data-public-tag="true" value="">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <div class="gs-lable-block">Banner图片设置  <span class="font14" style="color:#999999">(建议上传高度为150px)</span></div>
                      <div class="gs-lable-block font14">Banner图片 </div>
                      <div class="layui-input-block">
                        <a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
										    <input class="layui-input" type="text" name="tab_headerBgImg" value="{{data.tab_headerBgImg}}">
                      </div>
                    </div>
                    <div class="layui-form-item">
									<label class="layui-form-label">秒杀背景图片</label>
									<div class="layui-input-block">
										<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
										<input class="layui-input" type="text" name="tab_headerBgImg" value="{{data.tab_headerBgImg}}">
									</div>
								</div>
                    <div class="layui-form-item">
                      <label class="layui-form-label public-data">标题文案</label>
                      <div class="layui-input-block">
                        <input type="text" name="titleText" autocomplete="off" class="layui-input" value="{{ data.titleText }}" data-public-tag="true">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">标题颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="titleColor"><div style="background-color: {{ data.titleColor | default('#333333') }};"></div></div>
                        <input type="text" class="layui-input" name="titleColor" autocomplete="off" value="{{ data.titleColor | default('#333333') }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">链接颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="viewColor"><div style="background-color: {{ data.viewColor | default('#333333') }};"></div></div>
                        <input type="text" class="layui-input" name="viewColor" autocomplete="off" value="{{ data.viewColor | default('#333333') }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">链接边框颜色</label>
                      <div class="layui-input-block">
                        <div class="color-picker-selector" data-hidden-name="viewBorderC">
                          <div style="background-color: {{ pageData.viewBorderC }};"></div>
                        </div>
                        <input type="text" class="layui-input" name="viewBorderC" autocomplete="off" value="{{ pageData.viewBorderC }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">链接文案</label>
                      <div class="layui-input-block">
                        <input type="text" name="viewText" autocomplete="off" class="layui-input" value="{{ data.viewText|default('View More') }}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label public-data">链接URL</label>
                      <div class="layui-input-block">
                        <input type="text" name="viewHref" autocomplete="off" class="layui-input" value="{{ data.viewHref }}" data-public-tag="true">
                      </div>
                    </div>
                  <div>
                </fieldset>
                <div class="text-right">
                  <button type="button" id="js_moreConfig" class="layui-btn layui-btn-normal layui-btn-sm">更多配置</button>
                </div>
              </div>
              <div>
                <div class="layui-tab layui-tab-vertical">
                  <ul class="layui-tab-title">
                    <li class="layui-this">基础设置</li>
                    <li>标题</li>
                    <li>链接</li>
                  </ul>
                  <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                      <div class="layui-form-item">
                        <label class="layui-form-label">上外边距(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="boxMarginTop" autocomplete="off" class="layui-input" value="{{ data.boxMarginTop }}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">下外边距(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="boxMarginBottom" autocomplete="off" class="layui-input" value="{{ data.boxMarginBottom }}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">上内边距(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="boxPaddingTop" autocomplete="off" class="layui-input" value="{{ data.boxPaddingTop | default(30) }}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">下内边距(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="boxPaddingBottom" autocomplete="off" class="layui-input" value="{{ data.boxPaddingBottom | default(30) }}">
                        </div>
                      </div>
                      {# <div class="layui-form-item">
                        <label class="layui-form-label">高度(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="height" autocomplete="off" class="layui-input" value="{{ pageData.height}}">
                        </div>
                      </div> #}
                      <div class="layui-form-item">
                        <label class="layui-form-label">背景图片</label>
                        <div class="layui-input-block">
                          <a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
                          <input type="text" name="imgSrc" autocomplete="off" class="layui-input" value="{{ data.imgSrc }}">
                        </div>
                      </div>
                    </div>
                    <div class="layui-tab-item">
                      <div class="layui-form-item">
                        <label class="layui-form-label">宽度(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="titleWidth" autocomplete="off" class="layui-input" value="{{ pageData.titleWidth}}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">高度(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="titleHeight" autocomplete="off" class="layui-input" value="{{ pageData.titleHeight}}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">大小(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="titleFont" autocomplete="off" class="layui-input" value="{{ data.titleFont }}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">粗细</label>
                        <div class="layui-input-block">
                          <input type="radio" name="titleWeight" value="bold" title="加粗"{% if data.titleWeight|default('bold') == 'bold' %} checked{% endif %}>
                          <input type="radio" name="titleWeight" value="normal" title="正常"{% if data.titleWeight|default('bold') != 'bold' %} checked{% endif %}>
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">背景图片</label>
                        <div class="layui-input-block">
                          <a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
                          <input type="text" name="titleBgI" autocomplete="off" class="layui-input" value="{{ data.titleBgI }}">
                        </div>
                      </div>
                    </div>
                    <div class="layui-tab-item">
                      <div class="layui-form-item">
                        <label class="layui-form-label">大小(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="viewFont" autocomplete="off" class="layui-input" value="{{ data.viewFont }}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">粗细</label>
                        <div class="layui-input-block">
                          <input type="radio" name="viewWeight" value="bold" title="加粗"{% if data.viewWeight == 'bold' %} checked{% endif %}>
                          <input type="radio" name="viewWeight" value="normal" title="正常"{% if data.viewWeight != 'bold' %} checked{% endif %}>
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">背景色</label>
                        <div class="layui-input-block">
                          <div class="color-picker-selector" data-hidden-name="viewBgColor"><div style="background-color: {{ data.viewBgColor }};"></div></div>
                          <input type="text" class="layui-input" name="viewBgColor" autocomplete="off" value="{{ data.viewBgColor }}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">圆角(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="viewRadius" autocomplete="off" class="layui-input" value="{{ data.viewRadius }}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">上边距(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="viewMarginT" autocomplete="off" class="layui-input" value="{{ data.viewMarginT }}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">上下内边距(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="viewPaddingTB" autocomplete="off" class="layui-input" value="{{ data.viewPaddingTB }}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">左右内边距(px)</label>
                        <div class="layui-input-block">
                          <input type="text" name="viewPaddingLR" autocomplete="off" class="layui-input" value="{{ data.viewPaddingLR }}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">边框大小(px)</label>
                        <div class="layui-input-block"><input class="layui-input" type="text" name="viewBorderW" value="{{data.viewBorderW|default(0)}}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">边框类型</label>
                        <div class="layui-input-block">
                          <select name="viewBorderS" lay-verify="required" value="{{data.viewBorderS|default('solid')}}">
                          {% for item in viewBorderSArr%}
                            <option value="{{item.value}}" {% if item.value == data.viewBorderS|default('solid')%}selected{% endif %}>{{item.name}}</option>
                          {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">是否显示</label>
                        <div class="layui-input-block">
                            <input type="radio" name="isShow" value="1" title="是"{% if data.isShow == '1' or data.isShow is empty %} checked="checked"{% endif %}>
                            <input type="radio" name="isShow" value="0" title="否"{% if data.isShow == '0' %} checked="checked" {% endif %}>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right">
                  <button type="button" id="js_baseConfig" class="layui-btn layui-btn-normal layui-btn-sm">基础配置</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="layui-form-item geshop-form-operation">
  <button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
  <button type="button" class="layui-btn layui-btn-normal js_submitDesignForm">提交</button>
</div>
