{# M元Y件 - 商品列表 #}

{# css属性单位 #}
{% set suffix='px'%}

{#
    set pageData = {
        imgSrc:'',// 图片地址
				baseWidth:1100,//容器宽度
				col:4,//容器分栏
				marginRight:12//容器右间距
				page_point_type:'landPage,activityPage' //页面类型
    }
#}


{# {% set liWidth = (pageData.baseWidth-3*pageData.marginRight)/pageData.col %} #}

{# 限时限量商品 #}
{# {% if pageData.limit_active == '1' %}
	{% set left_number =  (item.stock_num|number_format - item.activity_stock|number_format)>0?(item.stock_num|number_format - item.activity_stock|number_format):0 %}
	{% set goodsStatus =  left_number==0 and data.goodsInfo? 'good_soldOut' :'goodsBuyPro'%}
{% endif %} #}
{# 普通商品才可直接获取sold out 倒计时商品需要动态判断sold out#}

	{% set left_number =  (item.stock_num- item.activity_stock)>0?(item.stock_num - item.activity_stock):0 %}
	{% set goodsStatus =  left_number == 0 and data.goodsInfo and pageData.limit_active!='1'? 'good_soldOut' :'goodsBuyPro'%}
	{% set isLimitGoods = pageData.down_active == '1' ? 'is_goods_limit' : 'not_goods_limit'%}
	{% set isPriceEqual =  item.market_price == item.shop_price? 'visible-hide':''%}

	{# Comming Soon和Deal Ended 状态 #}
	{% set current_time_stamp = 'now'|date('U') %}
	{% set comming_soon_status = data.startTime and data.startTime > current_time_stamp ? true : false %}
	{% set deal_ended_status = data.endTime and data.endTime < current_time_stamp ? true : false %}

	{# 专题页/落地页 埋点 pagePoint #}

	{% if pageData.page_point_type|default('activityPage') ==  'activityPage' %}
		{% set pagePoint = {
			wrapLink: 'track-goodsItem',
			goodLink: 'track-goodsLink',
			prodLink:''
		}%}

	{% elseif pageData.page_point_type ==  'landPage' %}
			{% set pagePoint = {
			wrapLink: 'subjectGoodItem',
			goodLink: 'js-link',
			prodLink:'showProd'
		}%}
	{% else %}
		{% set pagePoint = {
			wrapLink: 'track-goodsItem',
			goodLink: 'track-goodsLink',
			prodLink:''
		}%}

	{% endif %}





    {# felix #}
			<li class="gs-list-item gs-subjectGoodItem {{pagePoint.wrapLink}} {{goodsStatus}} {{isLimitGoods}}" data-track-key="{{item.goods_sn}}"
			style="width:{{liWidth}}px;
			">
				<div class="item-content">
					<div class="gs-goods-wrap pr">
						{# 商品图片配置 #}
							{{include ('@app/files/parts/temp/gb/common/default_pc/goodImg.twig')}}
						{# 折扣标配置 #}
							{{include ('@app/files/parts/temp/gb/common/default_pc/goodDiscount.twig')}}
						{# 服务标 #}
							{{include ('@app/files/parts/temp/gb/common/default_pc/goodLabel.twig')}}	
					</div>

					<div class="gs-goods-desc">
						{# 商品标题配置 #}
							{{include ('@app/files/parts/temp/gb/common/default_pc/goodTitle.twig')}}

						{# 商品价格配置 #}
							{{include ('@app/files/parts/temp/gb/common/default_pc/goodPrice.twig')}}
					</div>
				</div>
					{# M元Y件 - 购买模块 #}
					{{include ('@app/files/parts/temp/gb/common/goods_tmp_pc/goodBuy.twig')}}
			</li>
