{% set static = {
    discountFtS:data.discountFtS|default(16)
} %}
<div class="gs-goodsWrap"
     data-gid="gs-goods-prePromotion"
     style="{% if data.baseBgC%}background-color:{{data.baseBgC}};{% endif %}"
>
    <ul class="clearfix">
        {# {% if data.prePromotionGoodsInfo|default('') == '' %}
        {% for key,item in data.prePromotionGoodsInfo|default(0..3) %} #}
        {#{% if data.goodsInfo|default('') == '' %}#}
            {% for key,item in (0..3) %}

                <li class="goods-item goods-pre-promotion-item" data-test="{{ data.gsPadding }}">
                    <div class="component-self-goodBox">
                        <div class="component-self-goodWrap"
                             style="{% if goodsData.goodsBgc %}background-color:{{ goodsData.goodsBgc }}{% endif %};
                                     {% if data.gsRadius%}border-radius:{{data.gsRadius}}px;{% endif %}">
                            <div class="gs-img" data-editEnv="{{ data.isEditEnv }}" style="background-color: #EDEDED;">

                                <a href="{{ item.url_title|default('javascript:;') }}">
                                    {% if data.isEditEnv == '1' and data.goodsInfo %}
                                        <img src="{{ data.default.clothes }}"
                                             style="width:2.6667rem;height:2.37333rem;">
                                    {% elseif  data.isEditEnv == '0' and data.goodsInfo %}
                                        <img src="{{ data.default.clothes }}" data-original="{{ data.default.clothes }}"
                                             style="max-width: 100%;height:100%;"
                                             class="js_gdexp_lazy js-geshopImg-lazyload js_gbexp_lazy"
                                             data-logsss-browser-value="{ 'pm':'mp','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','sku':'{{ item.goods_sn }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }"
                                        >
                                    {% else %}
                                        <img src="{{ data.default.clothes }}"
                                             style="width:2.6667rem;height:2.37333rem;">
                                    {% endif %}
                                    {# 上架状态 #}
                                    {% if data.goodsLimitActive == '1' and item.activity_number and item.activity_number == activity_volume_number %}
                                        {# <span class="goodStatus">SOLD OUT</span> #}
                                        <span class="goodStatus">{{ get_component_trans(lang,'sold_out') }}</span>
                                    {% endif %}
                                </a>
                                {% if 'rg' in siteCode %}
                                    {% if (data.discount_type ?? 0) == 1 %}
                                        <span class="discount-off site-font-bold">{{ item.discount ?? 50 }}% OFF</span>
                                    {% else %}
                                        <span class="discount-off site-font-bold">-{{ item.discount ?? 50 }}%</span>
                                    {% endif %}
                                {% else %}
                                    {% if data.discountActive|default(1) == '1' %}
                                        <div class="discont-wrap discont-curtoff google-sprite text-center"
                                             style="{% if data.discountBgImg %}background:url({{data.discountBgImg}}) no-repeat 0 0/100% 100%;{% endif %}
                                            {% if goodsData.discountTextC %}color:{{ goodsData.discountTextC }};{% endif %}
                                            {% if goodsData.discountBgColor %}background-color:{{ goodsData.discountBgColor }};{% endif %}
                                                     width:{{ goodsData.discountWidth }}rem;
                                                     height:{{ goodsData.discountHeight }}rem;
                                             {% if goodsData.discountOffsetT %}top:{{goodsData.discountOffsetT}}rem;{% endif %}
                                                     right:{{ goodsData.discountOffsetL }}rem;
                                             {% if data.discountBgImg %}border-radius:0;{% else %}border-radius:50%;{% endif %}
                                                     ">
                                            <div class="gs-curtoff-wrap">
                                                {# 折扣方式 #}
                                                <div class="curtoff-box"
                                                     style="top:{{ goodsData.discountTop }}rem;left:{{ goodsData.discountLeft }}rem;
                                                     {% if goodsData.discountType|default(1) == '0' %}
                                                             height:{{goodsData.discountFtS }}rem;
                                                             line-height:{{goodsData.discountFtS }}rem;
                                                     {% endif %}
                                                             ">
                                                    {% if data.discountType|default(1) == '1' %}
                                                        <strong style="display:block;font-size:{{ goodsData.discountFtS }}rem;">{{ item.discount|default(0) }}
                                                            %</strong>
                                                        {% if data.discountSuffix|default(1) == '1' %}<span
                                                            style="display:block;font-size:{{ goodsData.discountSymbolFts }}rem">{{ get_component_trans(lang,'off') }}</span>{% endif %}
                                                    {% else %}
                                                        <strong style="font-size:{{ goodsData.discountFtS }}rem">-{{ item.discount }}
                                                            %</strong>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="gs-desc">
                                {% if data.goodsActive|default(1) == '1' %}
                                    <a href="{{ item.url_title|default('javascript:;') }}" class="logsss_event"
                                       data-logsss-event-value="{ 'pm':'mp','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','sku':'{{ item.goods_sn }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'},'skuinfo':{'sku':'{{ item.goods_sn }}','pam':'0','pc':'{{ item.catid }}','k':'{{ item.warecode }}'} }"
                                    >
                                        <span class="item-name rg-ellipsis-1"
                                              style="{% if goodsData.goodsTitleC %}color:{{ goodsData.goodsTitleC }};{% endif %}{% if data.goodsFtS %}font-size:{{data.goodsFtS}}px;{% endif %}">{{ item.goods_title|default('Floral Print Mini Wrap Tea Dress - … ') }}</span>
                                    </a>
                                {% endif %}
                            </div>
                            {% if data.buyActive|default(1) == '1' %}
                                <div class="gs-btn-area text-center">
                                    <a href="{{ item.url_title|default('javascript:;') }}"
                                       class="price-btn surprice-price" style="border-bottom-left-radius:0.16rem;">
                                        <span class="price-title">Now</span>
                                        <span class="price-text">
									<strong class="bizhong">USD</strong>
									<span class="bz_icon"></span>
									<span class="my_shop_price" data-orgp="6.99">$6.99</span>
								</span>
                                    </a>
                                    <a href="{{ item.url_title|default('javascript:;') }}"
                                       class="price-btn current-price" style="border-bottom-right-radius:0.16rem;">
                                        <span class="price-title">Upcoming</span>
                                        <span class="price-text">
									<strong class="bizhong">USD</strong>
									<span class="bz_icon"></span>
									<span class="my_shop_price" data-orgp="6.99">$6.99</span>
								</span>
                                    </a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </li>

            {% endfor %}
        {#{% endif %}#}
    </ul>

</div>

<script type="text/html" class="gs_syncDefault" data-tplid="{{ pageInstanceId }}">
    /**
    * { discount } - 折扣（当前折扣百分比数字）
    * { itemDiscountClass } - 折扣标是否显示
    *    { soldClass } - 售出状态类名
    *    { soldStatu } - 售出状态
    * { itemSkuClass } - sku是否已过结束时间类名
    * { itemSkuStatu } - 活动未开始，活动已开始状态
    **/
    <%#
    var result = d;
    for(var i in result){
    var item = result[i];
    item.discount = parseFloat(item.discount).toFixed(0);
    var itemDiscountClass = item.discount > 0 ? '' : 'hide';
    var soldClass = Number(item.goods_number) > 0 ? '' : 'prePromotion_soldout';
    var soldStatu = Number(item.goods_number) > 0 ? true : false;
    var nowTime = Date.parse(new Date()) * 0.001;
    var itemSkuClass = Number(item.promotion_end) > nowTime ? '' : 'hide';
    var itemSkuStatu = Number(item.promotion_start) > nowTime ? true : false;

    %>

    <li class="goods-item goods-pre-promotion-item <% soldClass %> <% itemSkuClass %>" data-test="{{ data.gsPadding }}">

        <div class="component-self-goodBox">
            <div class="component-self-goodWrap"
                 style="{% if goodsData.goodsBgc %}background-color:{{ goodsData.goodsBgc }}{% endif %};
                         {% if data.gsRadius%}border-radius:{{data.gsRadius}}px;{% endif %}">
                <div class="gs-img" data-editEnv="{{ data.isEditEnv }}">
                    {# 上架状态 #}
                    <%#
                    if(!soldStatu){ %>

                    {# {% if get_component_trans(lang,'sold_out')|length > 6 %}
                    <div class="gs-sold-statu"><span class="goodStatus" style="width:110px;height:110px;border-radius:50%;padding:40px 8px;margin-left:-55px;top:30%;">{{ get_component_trans(lang,'sold_out') }}</span></div>
                    {% else %}
                    <div class="gs-sold-statu"><span class="goodStatus">{{ get_component_trans(lang,'sold_out') }}</span></div>
                    {% endif %} #}

                    <div class="gs-sold-statu"><span
                                class="goodStatus">{{ get_component_trans(lang,'sold_out') }}</span></div>

                    <%# }%>

                    <a href="<% geshopUrlToApp(item.url_title, item.goods_id) %>"
                       class="logsss_event"
                       style="{% if pageData.goodsMarginLR == 32 %}height:5.92rem;{% elseif pageData.goodsMarginLR == 24 %}height:6.08rem;{% endif %}"
                       data-logsss-event-value="{ 'pm':'mp','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','sku':'<% item.goods_sn %>','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'},'skuinfo':{'sku':'<% item.goods_sn %>','pam':'0','pc':'<% item.cateid %>','k':'<% item.warehousecode %>'} }"
                    >

                        {% if data.isEditEnv == '1' %}
                            <img src="<% item.goods_img %>" style="width: 100%;height:100%;">
                        {% elseif  data.isEditEnv == '0' %}
                            <img src="{{ data.default.lazyImg }}"
                                 data-original="<% item.goods_img %>"
                                 style="width: 100%;height:100%;"
                                 class="js_gdexp_lazy js-geshopImg-lazyload js_gbexp_lazy"
                                 data-logsss-browser-value="{ 'pm':'mp','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','sku':'<% item.goods_sn %>','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }"
                            >
                        {% else %}
                            <img src="{{ data.default.good }}" style="width: 100%;height:100%;">
                        {% endif %}
                    </a>
                    {% if 'rg' in siteCode %}
                        {% if (data.discount_type ?? 0) == 1 %}
                            <span class="discount-off site-font-bold"><%  item.discount %>% OFF</span>
                        {% else %}
                            <span class="discount-off site-font-bold">-<% item.discount %>%</span>
                        {% endif %}
                    {% else %}
                        {% if data.discountActive|default(1) == '1' %}
                            <div class="discont-wrap discont-curtoff google-sprite text-center <% itemDiscountClass %>"
                                 style="
                                 {% if data.discountBgImg %}background:url({{data.discountBgImg}}) no-repeat 0 0/100% 100%;{% endif %}
                                            {% if goodsData.discountTextC %}color:{{ goodsData.discountTextC }};{% endif %}
                                            {% if goodsData.discountBgColor %}background-color:{{ goodsData.discountBgColor }};{% endif %}
                                         width:{{ goodsData.discountWidth }}rem;
                                         height:{{ goodsData.discountHeight }}rem;
                                 {% if goodsData.discountOffsetT %}top:{{goodsData.discountOffsetT}}rem;{% endif %}
                                         right:{{ goodsData.discountOffsetL }}rem;
                                 {% if data.discountBgImg %}border-radius:0;{% else %}border-radius:50%;{% endif %}
                                         ">
                                <div class="gs-curtoff-wrap">
                                    {# 折扣方式 #}
                                    <div class="curtoff-box"
                                         style="top:{{ goodsData.discountTop }}rem;left:{{ goodsData.discountLeft }}rem;
                                         {% if data.discountType|default(1) == '0' %}
                                                 height:{{goodsData.discountFtS }}rem;
                                                 line-height:{{goodsData.discountFtS }}rem;
                                         {% endif %}
                                                 ">
                                        {% if data.discountType|default(1) == '1' %}
                                            <strong style="display:block;font-size:{{ goodsData.discountFtS }}rem;"><%
                                                item.discount %>%</strong>
                                            {% if data.discountSuffix|default(1) == '1' %}<span
                                                style="display:block;font-size:{{ goodsData.discountSymbolFts }}rem">{{ get_component_trans(lang,'off') }}</span>{% endif %}
                                        {% else %}
                                            <strong style="font-size:{{ goodsData.discountFtS }}rem">-<% item.discount
                                                %>%</strong>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="gs-desc">
                    {% if data.goodsActive|default(1) == '1' %}
                        <a href="<% geshopUrlToApp(item.url_title, item.goods_id) %>">
                            <span class="item-name rg-ellipsis-1"
                                  style="{% if goodsData.goodsTitleC %}color:{{ goodsData.goodsTitleC }};{% endif %}{% if data.goodsFtS %}font-size:{{data.goodsFtS}}px;{% endif %}"><% item.goods_title %></span>
                        </a>
                    {% endif %}
                </div>
                {% if data.buyActive|default(1) == '1' %}
                    <div class="gs-btn-area text-center">

                        <%# if(itemSkuStatu){ %>
                        <a href="<% geshopUrlToApp(item.url_title, item.goods_id) %>" class="price-btn surprice-price"
                           style="
                           {% if goodsData.hasNotStarted_prePriceBgC %}background-color:{{ goodsData.hasNotStarted_prePriceBgC }};{% endif %}
									{% if goodsData.hasNotStarted_prePriceBrC %}border-color:{{ goodsData.hasNotStarted_prePriceBrC }};{% endif %}
									{% if goodsData.hasNotStarted_prePriceTC %}color:{{ goodsData.hasNotStarted_prePriceTC }};{% endif %}
									{% if goodsData.goodsPriceTopRadius %}border-top-left-radius:{{goodsData.goodsPriceTopRadius}}rem;{% endif %}
									{% if goodsData.goodsPriceBottomRadius %}border-bottom-left-radius:{{goodsData.goodsPriceBottomRadius}}rem;{% endif %}
                                   ">
									<span class="price-title" style="
                                    {% if goodsData.goodsPriceTitleFts %}font-size:{{goodsData.goodsPriceTitleFts}}rem;{% endif %}
                                            ">{{ goodsData.hasNotStarted_prePriceTitle }}</span>
                            <span class="price-text"
                                  style="{% if goodsData.goodsPriceFts %}font-size:{{goodsData.goodsPriceFts}}rem;{% endif %}">
										<strong class="bizhong">USD</strong>
										<span class="bz_icon"></span>
										<span class="my_shop_price" data-orgp="<% item.preview_price %>">$<% item.preview_price %></span>
									</span>
                        </a>
                        <a href="<% geshopUrlToApp(item.url_title, item.goods_id) %>" class="price-btn current-price"
                           style="
                           {% if goodsData.hasNotStarted_shopPriceBgC %}background-color:{{ goodsData.hasNotStarted_shopPriceBgC }};{% endif %}
									{% if goodsData.hasNotStarted_shopPriceBrC %}border-color:{{ goodsData.hasNotStarted_shopPriceBrC }};{% endif %}
									{% if goodsData.hasNotStarted_shopPriceTC %}color:{{ goodsData.hasNotStarted_shopPriceTC }};{% endif %}
									{% if goodsData.goodsPriceTopRadius %}border-top-right-radius:{{goodsData.goodsPriceTopRadius}}rem;{% endif %}
									{% if goodsData.goodsPriceBottomRadius %}border-bottom-right-radius:{{goodsData.goodsPriceBottomRadius}}rem;{% endif %}
                                   ">
									<span class="price-title" style="
                                    {% if goodsData.goodsPriceTitleFts %}font-size:{{goodsData.goodsPriceTitleFts}}rem;{% endif %}
                                            ">{{ goodsData.hasNotStarted_shopPriceTitle }}</span>
                            <span class="price-text"
                                  style="{% if goodsData.goodsPriceFts %}font-size:{{goodsData.goodsPriceFts}}rem;{% endif %}">
										<strong class="bizhong">USD</strong>
										<span class="bz_icon"></span>
										<span class="my_shop_price" data-orgp="<% item.shop_price %>">$<% item.shop_price %></span>
									</span>
                        </a>
                        <%# } else { %>
                        <a href="<% geshopUrlToApp(item.url_title, item.goods_id) %>" class="price-btn surprice-price"
                           style="
                           {% if goodsData.hasStarted_shopPriceBgC %}background-color:{{ goodsData.hasStarted_shopPriceBgC }};{% endif %}
									{% if goodsData.hasStarted_shopPriceBrC %}border-color:{{ goodsData.hasStarted_shopPriceBrC }};{% endif %}
									{% if goodsData.hasStarted_shopPriceTC %}color:{{ goodsData.hasStarted_shopPriceTC }};{% endif %}
									{% if goodsData.goodsPriceTopRadius %}border-top-left-radius:{{goodsData.goodsPriceTopRadius}}rem;{% endif %}
									{% if goodsData.goodsPriceBottomRadius %}border-bottom-left-radius:{{goodsData.goodsPriceBottomRadius}}rem;{% endif %}
                                   ">
									<span class="price-title" style="
                                    {% if goodsData.goodsPriceTitleFts %}font-size:{{goodsData.goodsPriceTitleFts}}rem;{% endif %}
                                            ">{{ goodsData.hasStarted_shopPriceTitle }}</span>
                            <span class="price-text"
                                  style="{% if goodsData.goodsPriceFts %}font-size:{{goodsData.goodsPriceFts}}rem;{% endif %}">
										<strong class="bizhong">USD</strong>
										<span class="bz_icon"></span>
										<span class="my_shop_price" data-orgp="<% item.preview_price %>">$<% item.preview_price %></span>
									</span>
                        </a>
                        <a href="<% geshopUrlToApp(item.url_title, item.goods_id) %>" class="price-btn current-price"
                           style="
                           {% if goodsData.hasStarted_marketPriceBgC %}background-color:{{ goodsData.hasStarted_marketPriceBgC }};{% endif %}
									{% if goodsData.hasStarted_marketPriceBrC %}border-color:{{ goodsData.hasStarted_marketPriceBrC }};{% endif %}
									{% if goodsData.hasStarted_marketPriceTC %}color:{{ goodsData.hasStarted_marketPriceTC }};{% endif %}
									{% if goodsData.goodsPriceTopRadius %}border-top-right-radius:{{goodsData.goodsPriceTopRadius}}rem;{% endif %}
									{% if goodsData.goodsPriceBottomRadius %}border-bottom-right-radius:{{goodsData.goodsPriceBottomRadius}}rem;{% endif %}
                                   ">
									<span class="price-title" style="
                                    {% if goodsData.goodsPriceTitleFts %}font-size:{{goodsData.goodsPriceTitleFts}}rem;{% endif %}
                                            ">{{ goodsData.hasStarted_marketPriceTitle }}</span>
                            <span class="price-text"
                                  style="{% if goodsData.goodsPriceFts %}font-size:{{goodsData.goodsPriceFts}}rem;{% endif %}">
										<strong class="bizhong">USD</strong>
										<span class="bz_icon"></span>
										<span class="my_shop_price" data-orgp="<% item.shop_price %>">$<% item.shop_price %></span>
									</span>
                        </a>
                        <%# } %>
                    </div>
                {% endif %}

            </div>
        </div>
    </li>
    <%# } %>
</script>
