<style>
  .geshop-title {
    font-size: 16px;
    color: #333333;
    margin-top: 16px;
  }
  .label-form-item {
    font-size: 14px;
    color: #333333;
  }
  .rest-input {
    margin-left: 0px;
    margin-top: 5px;
  }
  .add-link-item {
    background: #000;
  }
  .add-img-item {
    opacity: 0.6; 
    filter: alpha(opacity=60);
  }
  .hover-item {
    display: block;
    width: 80px;
    line-height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    font-size: 14px;
    color: #FFF;
    font-family: PingFangSC;
  }
  .add-form-button span {
    display: block;
    width: 116px;
    height: 36px;
    background: #34A8FF;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
  }
  .img-btn {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    line-height: 12px;
    padding: 6px 0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    background: rgba(16,93,149,0.4);
    margin: 0 2px;
  }
  .img-btn:hover {
    background: #105D95;
  }
  .img-btn i {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
  }
  .icon-close {
    z-index: 1000;
    right: 21px;
  }
  .time-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -9px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url({{staticDomain}}/resources/images/icon/design-select-time-icon.png);
    background-position: left top;
    background-repeat: no-repeat;
  }

    .gs_text_row .layui-form-label{
      padding:0;
      text-align:left;
    }
    .gs-btn-box{
        height:30px;
        width:100%;
        overflow:hidden;
    }

    .postion-item{
        width:70px;
        height:100%;
        float:left;
    }

    .postion-item .layui-form-radio div{
        width:20px;
        height:20px;
        display:inline-block;
        cursor: pointer;
        color:#333333!important;
        background:red;
    }

    .text-left .layui-form-radio div{
         background: url('../../../resources/images/component/text_left.png') no-repeat 0 0/100% 100%!important;
    }
    .text-right .layui-form-radio div{
         background: url('../../../resources/images/component/text_right.png') no-repeat 0 0/100% 100%!important;
    }
    .text-center .layui-form-radio div{
         background: url('../../../resources/images/component/text_center.png') no-repeat 0 0/100% 100%!important;
    }
    .text-sides .layui-form-radio div{
         background: url('../../../resources/images/component/text_sides.png') no-repeat 0 0/100% 100%!important;
    }

    .add-left .layui-form-radio div{
         background: url('../../../resources/images/component/add_left.png') no-repeat 0 0/100% 100%!important;
    }
    .less-left .layui-form-radio div{
         background: url('../../../resources/images/component/less_left.png') no-repeat 0 0/100% 100%!important;
    }

</style>

<div class="design-form design-form-component design-form-visible">
  <h3 class="component-form-title">纯文本组件配置
    <a href="javascript:;" class="design-form-close js_closeDesignForm icon-close"><i class="el-icon-close"></i></a>
  </h3>
  
  {{include ('@app/htdocs/resources/template/pc/templateList/index.twig')}}

  <div class="component-form-configure-item component-form-setting-item" style="padding:0px 40px 100px 40px !important;">
    <p class="geshop-title" style="margin-top:0;">常用配置</p>
    <div class="layui-form-item">
        <label class="form-label-item"><span class="layui-badge-dot layui-bg-orange"></span> 组件下边距(px)</label>
        <div class="layui-input-block rest-input">
            <input type="text" name="marginBottom" autocomplete="off" class="layui-input" value="{{data.marginBottom|default(32)}}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="form-label-item"> 组件对齐方式</label>
        <div class="layui-input-block rest-input">
            <input type="radio" name="position" data-public-tag="true" value="left" title="左"{% if data.position == 'left' %} checked{% endif %}>
            <input type="radio" name="position" data-public-tag="true" value="center" title="中"{% if data.position|default('center') == 'center' %} checked{% endif %}>
            <input type="radio" name="position" data-public-tag="true" value="right" title="右"{% if data.position == 'right' %} checked{% endif %}>
        </div>
    </div>
    {# config start #}
    <div id="defaultTimeSlotBanbox">
      <input type="hidden" name="defaultTimeSlotImgItem" data-public-tag="true">
      <div class="layui-tab" lay-filter="demo" style="position:relative;width:320px;box-sizing:border-box;">
        <ul class="layui-tab-title"> 
            {% for key, item in data.defaultTimeSlotImgItem | default([""]) %}
            <li lay-id="{{key}}" {% if key == 0 %} class="layui-this init"{% endif %}>
                {% if key == 0 %}
                    <span class="tab-item" style=" width: 100%;">基础</span>
                {% else %}
                    <span class="tab-item">{{item.name}}</span>
                    <i class="layui-icon layui-icon-close"></i>
                {% endif %}
            </li>
            {% endfor %}     
        </ul>
        <div class="li-add" > 
          <a href="javascript:;" class="layui-btn-add" data-type="tabAdd">+</a>
        </div>
        <div class="add-hover-item" style="display:none">添加按时段模块</div>

        <div class="layui-tab-content" >
        {% for key, item in data.defaultTimeSlotImgItem | default([""]) %}
            <div class="layui-tab-item {% if key == 0 %} layui-show {% endif %}">
              <div class="Ban-item-warp"> 
                <div class="layui-form-item ban-item">
                    {% if key != 0 %}
                    <div class="layui-form-item">
                        <p style="margin:8px 0 5px 0;">模板名称</p> 
                        <input
                            type="text"
                            name="modelName"
                            autocomplete="off"
                            class="layui-input Unwanted modelName"
                            maxlength="100"
                            value="{{item.name}}"> 
                    </div>
                    <div class="layui-form-item">
                        <p style="margin:8px 0 5px 0;">时间设置</p>  
                        <div class="dateTime" style="position:relative;width:320px;box-sizing:border-box;">
                        <span class="time-icon"></span>
                        <input type="text" class="layui-input start-time js_start_time Unwanted" style="display:inline;width:165px;border-right:none;padding: 0 10px 0 33px;font-size:12px;" name="" id="add_times{{key}}"  placeholder="开始时间" autocomplete="off" value="{{item.startTime}}">
                        <span class="time-split">至</span>
                        <input type="text" class="layui-input end-time js_end_time Unwanted" style="display:inline;width:130px;border-left:none;margin-left:-1px;padding-left:0;font-size:12px;padding-right:0;" id="add_timeE{{key}}" placeholder="结束时间" name="" autocomplete="off" value="{{item.endTime}}">
                        </div>   
                    </div> 
                    {% endif %} 
                    {# item start #}
                    <div class="img-table">
                        <div class="img-body">
                        <div class="layui-form-item item-flag">
                            <label class="form-label-item public-data" style="text-align:left;color:#333;float:none;">文本文案</label>
                                <div class="layui-input-block">
                                    {# <textarea class="myeditor Unwanted" autofocus name="textContent" value="">{{ item.textContent| default('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.') }}</textarea> #}
                                    <textarea class="textContent" name="textContent" rows="" cols="" style="resize:none">{{ item.textContent| default('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.') }}</textarea>
                                </div>
                            </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" >对齐方式</label>
                            <div class="gs-btn-box">
                                <div class="postion-item text-left" title="左对齐">
                                    <input type="radio"   name="textPosition-{{key}}" data-public-tag="true" value="left" title="" {% if item.textPosition|default('left') == 'left' %} checked{% endif %}>
                                </div>
                                <div class="postion-item text-center" title="居中">
                                    <input type="radio"   name="textPosition-{{key}}" data-public-tag="true" value="center" title="" {% if item.textPosition == 'center' %} checked{% endif %}>
                                </div>
                                <div class="postion-item text-right" title="右对齐">
                                    <input type="radio"   name="textPosition-{{key}}" data-public-tag="true" value="right" title="" {% if item.textPosition == 'right' %} checked{% endif %}>
                                </div>
                                <div class="postion-item text-sides" title="两端对齐">
                                    <input type="radio"   name="textPosition-{{key}}" data-public-tag="true" value="sides" title="" {% if item.textPosition == 'sides' %} checked{% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">首行缩进</label>
                            <div class="gs-btn-box">
                                <div class="postion-item add-left" title="增加缩进">
                                    <input type="radio"   name="firstActive-{{key}}" data-public-tag="true" value="1" title="" {% if item.firstActive|default('1') == '1' %} checked{% endif %}>
                                </div>
                                <div class="postion-item less-left" title="减少缩进">
                                    <input type="radio"   name="firstActive-{{key}}" data-public-tag="true" value="0" title="" {% if item.firstActive == '0' %} checked{% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">文字粗细</label>
                            <div class="layui-input-block">
                                <input type="radio" name="titleWeight-{{key}}" data-for="titleWeight" value="normal" title="正常"{% if item.titleWeight|default('normal') == 'normal' %} checked{% endif %}>
                                <input type="radio" name="titleWeight-{{key}}" data-for="titleWeight" value="bold" title="加粗"{% if item.titleWeight|default("normal") != "normal" %} checked{% endif %}>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="form-label-item"> 组件内边距上下值(px)</label>
                            <div class="layui-input-block rest-input">
                            <input type="text" name="boxPaddingTB" autocomplete="off" class="layui-input Unwanted" value="{{item.boxPaddingTB|default(30)}}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="form-label-item"> 组件内边距左右值(px)</label>
                            <div class="layui-input-block rest-input">
                            <input type="text" name="boxPaddingLR" autocomplete="off" class="layui-input Unwanted" value="{{item.boxPaddingLR|default(30)}}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="form-item-label">文字颜色</label>
                            <div class="layui-input-block">
                            <div class="color-picker-selector" data-hidden-name="textColor">
                                <div style="background-color:{{item.textColor|default('#333333')}};"></div>
                            </div>
                            <input type="text" class="layui-input" name="textColor" autocomplete="off Unwanted" value="{{item.textColor|default('#333333')}}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="form-label-item"> 文字大小(px)</label>
                            <div class="layui-input-block rest-input">
                            <input type="text" name="textSize" autocomplete="off" class="layui-input Unwanted" value="{{item.textSize|default(18)}}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="form-label-item"> 字符间距(px)</label>
                            <div class="layui-input-block rest-input">
                            <input type="text" name="textMargin" autocomplete="off" class="layui-input Unwanted" value="{{item.textMargin|default(0)}}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="form-label-item"> 组件宽度(px)</label>
                            <div class="layui-input-block rest-input">
                            <input type="text" name="boxWidth" autocomplete="off" class="layui-input Unwanted" value="{{item.boxWidth|default(1200)}}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="form-label-item"> 组件高度(px)</label>
                            <div class="layui-input-block rest-input">
                            <input type="text" name="boxHeight" autocomplete="off" class="layui-input Unwanted" value="{{item.boxHeight|default(132)}}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="form-item-label">背景颜色</label>
                            <div class="layui-input-block">
                            <div class="color-picker-selector" data-hidden-name="boxBgC">
                                <div style="background-color: {{item.boxBgC|default('#f8f8f8')}};"></div>
                            </div>
                            <input type="text" class="layui-input Unwanted" name="boxBgC" autocomplete="off" value="{{item.boxBgC|default('#f8f8f8')}}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="form-item-label">背景图片</label>
                            <div class="layui-input-block">
                            <a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
                            <input class="layui-input Unwanted" type="text" name="boxBgImg-{{key}}" value="{{item.boxBgImg}}">
                            </div>
                        </div>
                        </div>
                    </div>
                    {# item end #}
                </div>
              </div>
            </div>   
        {% endfor %} 
        </div>

        <div class="clearfix">
          <a href="javascript:;" id="js_moreConfig" style="color:#1E9FFF">高级配置</a>
        </div>
      </div> 
    </div> 
    {# config end #}
  </div>

  <div class="component-form-setting-item component-form-advanced-item" style="position:relative;">
    <h4 class="title"><i class="layui-icon back" id="js_advanced_baseConfig">&#xe603;</i>高级配置</h4>
    <div class="layui-collapse advanced-setting-container">
      <div class="layui-colla-item">
        <h2 class="layui-colla-title">基础配置</h2>
        <div class="layui-colla-content layui-show">
          <div class="layui-form-item">
            <label class="form-item-label">行间距</label>
            <div class="layui-input-block" id="changeRowSpacing">
                <input type="radio" name="rowSpacing" value="0" title="自动" {% if data.rowSpacing == 0 %} checked{% endif %}>
                <input type="radio" name="rowSpacing" value="1" title="定制" {% if data.rowSpacing == 1 %} checked{% endif %}>
            </div>
          </div>
          <div id="rowSpacingSize"  class="layui-form-item" {% if data.rowSpacing ==  0 %} style="display: none;" {% endif %}>
            <label class="form-item-label">行间距定制(px)</label>
            <div class="layui-input-block">
                <input type="text" name="rowSpacingSize" autocomplete="off" class="layui-input" value="{{ data.rowSpacingSize }}">
            </div>
          </div>
        </div>
  		</div>
    </div>
  </div>
</div>

<div class="layui-form-item geshop-form-operation">
  <button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
  <span type="button" class="layui-btn layui-btn-normal" id="img_submit">提交</span>
  <button type="button" class="layui-btn layui-btn-normal js_submitDesignForm" style="display:none">提交</button>
</div>

{# <link rel="stylesheet" type="text/css" href="../../../resources/javascripts/library/simditor/styles/simditor.css" />
<script type="text/javascript" src="../../../resources/javascripts/library/simditor/module.js"></script>
<script type="text/javascript" src="../../../resources/javascripts/library/simditor/hotkeys.js"></script>
<script type="text/javascript" src="../../../resources/javascripts/library/simditor/uploader.js"></script>
<script type="text/javascript" src="../../../resources/javascripts/library/simditor/simditor.js"></script> #}
<style>
.textContent{
    width:300px;
    border-color:#e6e6e6;
    min-height:200px;
    padding:10px;
    box-sizing:border-box;
}
</style>
<script>
$(function(){
    $(".myeditor").each(function () {
      var target = $(this);
      /*
      var simditor = new Simditor({
        textarea: $(this),
        toolbar: [
          'ol', 'ul', 'link', 'indent', 'outdent', 'alignment'
        ]
      });
      $('.js_submitDesignForm').click(function() {
        var edit = simditor.getValue();
      });
      */
    });

  var laydate=null;
  var itemIndex=$('#defaultTimeSlotBanbox .tab-item').length; 
    
  if(itemIndex == 7){
    $('.layui-btn-add').css('color',"#E6E6E6");
  }

  layui.use('element', function(){
    var $ = layui.jquery ,element = layui.element;  
    var active = {
      tabAdd: function(){  
        element.tabAdd('demo', {
          title: '<span class="tab-item">时段'+itemIndex+'</span ><i class="layui-icon layui-icon-close"></i>'
          ,content: "<div class='layui-form-item ban-item'>" + 
          "<input type='hidden' name='modelName' autocomplete='off' class='layui-input Unwanted modelName' placeholder='' maxlength='100' value='时段" + itemIndex + "'>" +  
          "<div class='layui-form-item'>" +
            "<p style='margin:8px 0 5px 0;'>" +
              "时间设置" +
            "</p>" +
            '<div class="dateTime" style="position:relative;width:320px;box-sizing:border-box;">' +
              '<span class="time-icon"></span>' +
              '<input type="text" class="layui-input start-time js_start_time" style="display:inline;width:165px;border-right:none;padding:0 10px 0 33px;font-size:12px;" name="" id="add_times' + itemIndex + '"  placeholder="开始时间" autocomplete="off" value="">' +
              '<span class="time-split">至</span>' +
              '<input type="text" class="layui-input end-time js_end_time" style="display:inline;width:130px;border-left:none;margin-left:-1px;font-size:12px;padding-right:0;" id="add_timeE' + itemIndex + '" placeholder="结束时间" name="" autocomplete="off" value="">' +
            '</div>' + 
          "</div>" +
          '<div class="img-table">'+
            '<div class="img-body">'+
              '<div class="layui-form-item item-flag">'+
				        '<label class="form-label-item public-data" style="text-align:left;color:#333;float:none;">文本文案</label>'+
				      	'<div class="layui-input-block" style="margin-left:0px;">'+
				          '<textarea class="textContent" name="textContent" rows="" cols="" style="resize:none">{{ item.textContent| default('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.') }}</textarea>'+
				      	'</div>'+
				      '</div>'+
              '<div class="layui-form-item">'+
                    '<label class="layui-form-label">对齐方式</label> '+ 
                    '<div class="gs-btn-box"> '+ 
                        '<div class="postion-item text-left" title="左对齐"> '+ 
                        '    <input type="radio"   name="textPosition-{{itemIndex}}" data-public-tag="true" value="left" title="" {% if item.textPosition|default("left") == "left" %} checked{% endif %}> '+ 
                        '</div> '+ 
                        '<div class="postion-item text-center" title="居中"> '+ 
                        '    <input type="radio"   name="textPosition-{{itemIndex}}" data-public-tag="true" value="center" title="" {% if item.textPosition == "center" %} checked{% endif %}> '+ 
                        '</div> '+ 
                        '<div class="postion-item text-right" title="右对齐"> '+ 
                        '    <input type="radio"   name="textPosition-{{itemIndex}}" data-public-tag="true" value="right" title="" {% if item.textPosition == "right" %} checked{% endif %}> '+ 
                        '</div> '+ 
                        '<div class="postion-item text-sides" title="两端对齐"> '+ 
                        '    <input type="radio"   name="textPosition-{{itemIndex}}" data-public-tag="true" value="sides" title="" {% if item.textPosition == "sides" %} checked{% endif %}> '+ 
                        '</div> '+ 
                    '</div> '+ 
                '</div> '+ 
              '<div class="layui-form-item">'+ 
                    '<label class="layui-form-label">首行缩进</label>'+ 
                    '<div class="gs-btn-box">'+ 
                        '<div class="postion-item add-left" title="增加缩进">'+ 
                            '<input type="radio"   name="firstActive-{{itemIndex}}" data-public-tag="true" value="1" title="" {% if item.firstActive|default('1') == '1' %} checked{% endif %}>'+ 
                        '</div>'+ 
                        '<div class="postion-item less-left" title="减少缩进">'+ 
                            '<input type="radio"   name="firstActive-{{itemIndex}}" data-public-tag="true" value="0" title="" {% if item.firstActive == '0' %} checked{% endif %}>'+ 
                        '</div>'+ 
                    '</div>'+ 
               ' </div>     '+ 
              '<div class="layui-form-item">'+
                '<label class="layui-form-label">文字粗细</label>'+
                '<div class="layui-input-block">'+
                  '<input type="radio" name="titleWeight-{{itemIndex}}" class="Unwanted" value="normal" title="正常"{% if item.titleWeight|default("normal") == "normal" %} checked{% endif %}>'+
                  '<input type="radio" name="titleWeight-{{itemIndex}}" class="Unwanted" value="bold" title="加粗"{% if item.titleWeight|default("normal") != "normal" %} checked{% endif %}>'+
                '</div>'+  
              '</div>'+ 
              '<div class="layui-form-item">'+
                '<label class="form-label-item"> 组件内边距上下值(px)</label>'+
                '<div class="layui-input-block rest-input">'+
                  '<input type="text" name="boxPaddingLR" autocomplete="off" class="layui-input Unwanted" value="{{item.boxPaddingLR|default(30)}}">'+
                '</div>'+
              '</div>'+
              '<div class="layui-form-item">'+
                '<label class="form-label-item"> 组件内边距左右值(px)</label>'+
                '<div class="layui-input-block rest-input">'+
                  '<input type="text" name="boxPaddingTB" autocomplete="off" class="layui-input Unwanted" value="{{item.boxPaddingTB|default(30)}}">'+
                '</div>'+
              '</div>'+
              '<div class="layui-form-item">'+
                '<label class="form-label-item">文字颜色</label>'+
                '<div class="layui-input-block">'+
                  '<div class="color-picker-selector" data-hidden-name="textColor">'+
                    '<div style="background-color:{{item.textColor|default('#333333')}};"></div>'+
                  '</div>'+
                  '<input type="text" class="layui-input Unwanted" name="textColor" autocomplete="off" value="{{ item.textColor|default('#333333') }}">'+
                '</div>'+
              '</div>'+
              '<div class="layui-form-item">'+
                '<label class="form-label-item"> 文字大小(px)</label>'+
                '<div class="layui-input-block rest-input">'+
                  '<input type="text" name="textSize" autocomplete="off" class="layui-input Unwanted" value="{{item.textSize|default(18)}}">'+
                '</div>'+
              '</div>'+
              '<div class="layui-form-item">'+
                '<label class="form-label-item"> 字符间距(px)</label>'+
                '<div class="layui-input-block rest-input">'+
                  '<input type="text" name="textMargin" autocomplete="off" class="layui-input Unwanted" value="{{item.textMargin|default(0)}}">'+
                '</div>'+
              '</div>'+
              '<div class="layui-form-item">'+
                '<label class="form-label-item"> 组件宽度(px)</label>'+
                '<div class="layui-input-block rest-input">'+
                  '<input type="text" name="boxWidth" autocomplete="off" class="layui-input Unwanted" value="{{item.boxWidth|default(1200)}}">'+
                '</div>'+
              '</div>'+
              '<div class="layui-form-item">'+
                '<label class="form-label-item"> 组件高度(px)</label>'+
                '<div class="layui-input-block rest-input">'+
                  '<input type="text" name="boxHeight" autocomplete="off" class="layui-input Unwanted" value="{{item.boxHeight|default(132)}}">'+
                '</div>'+
              '</div>'+
              '<div class="layui-form-item">'+
                '<label class="form-label-item">背景颜色</label>'+
                '<div class="layui-input-block">'+
                  '<div class="color-picker-selector" data-hidden-name="boxBgC">'+
                    '<div style="background-color: {{item.boxBgC|default('#f8f8f8')}};"></div>'+
                  '</div>'+
                  '<input type="text" class="layui-input Unwanted" name="boxBgC" autocomplete="off" value="{{item.boxBgC|default('#f8f8f8')}}">'+
                '</div>'+
              '</div>'+
              '<div class="layui-form-item">'+
                '<label class="form-label-item">背景图片</label>'+
                '<div class="layui-input-block">'+
                  '<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>'+
                  '<input class="layui-input Unwanted" type="text" name="boxBgImg-{{itemIndex}}" value="{{item.boxBgImg}}">'+
                '</div>'+
              '</div>'+
            '</div>'+
          '</div>'+
        '</div>'
        ,id: itemIndex 
        }) 
      } 
      ,tabDelete: function(layid){ 
        element.tabDelete('demo', layid);   
      }
    };

    /*
        添加新tab
        修改：Cullen
        时间：2018.10.22    
    */
    $('.layui-btn-add').on('click', function() {
        var tabs = $('#defaultTimeSlotBanbox .layui-tab-title li');
        if (tabs.length >= 6) {
            $(this).css('color', '#E6E6E6');  
        }
        if( tabs.length > 6) {
            layui.layer.msg('当前最多添加6个模板！');
            return;
        } 
        var othis = $(this),
            type = othis.data('type');

        active[type] ? active[type].call(this, othis) : '';
        var layid = itemIndex; 

        element.tabChange('demo', layid);
        var cheaedIndex = itemIndex;
        laydate.render({
            elem: '#add_times' + itemIndex,
            min: 0,
            type: 'datetime',
            done: function (value) { 
            var start_time = Date.parse(new Date(value));
            var end_time = Date.parse(new Date($('#add_timeE'+cheaedIndex).val()));
            if (start_time >= end_time) {
                layer.msg('开始时间不能大于结束时间', { time: 5000 });
                return false;
            }
            }
        });
        laydate.render({
            elem: '#add_timeE' + itemIndex,
            min: 0,
            type: 'datetime', 
            done: function (value) { 
            var end_time = Date.parse(new Date(value));
            var start_time = Date.parse(new Date($('#add_times'+cheaedIndex).val()));
            if (start_time >= end_time) {
                layer.msg('开始时间不能大于结束时间', { time: 5000 });
                return false;
            }
            }
        });
        

        layui.use('form', function () {
            layui.form.render();
        });
        GlobalColorInit();
        function GlobalColorInit(){
            $('.color-picker-selector + input').each(function () {
                if ($(this).val() == '') {
                    $(this).prevAll('.color-picker-selector').find('div').addClass('transparent');
                } else {
                    $(this).prevAll('.color-picker-selector').find('div').removeClass('transparent');
                }
            });

            $('.color-picker-selector + input').change(function () {
                var val = $.trim($(this).val());

                if (val.length == 0) {
                    $(this).val('transparent');
                    $(this).prevAll('.color-picker-selector').find('div').addClass('transparent');
                } else {
                    $(this).prevAll('.color-picker-selector').find('div').css('backgroundColor', val).removeClass('transparent');
                    $(this).prevAll('.color-picker-selector').ColorPickerSetColor(val);
                }
            });

            $('.color-picker-selector').ColorPicker({
                onBeforeShow: function () {
                    $(this).ColorPickerSetColor($(this).next('[name=' + $(this).data('hiddenName') + ']').val());
                },
                onShow: function (colpkr) {
                    $(colpkr).fadeIn(500);
                    return false;
                },
                onHide: function (colpkr) {
                    $(colpkr).fadeOut(500);
                    return false;
                },
                onSubmit: function (hsb, hex, rgb, el) {
                    $(el).find('div').css('backgroundColor', '#' + hex).removeClass('transparent');
                    $(el).next('[name=' + $(el).data('hiddenName') + ']').val('#' + hex);
                    $(el).ColorPickerHide();
                }
            });
        }
        var editorClassName = ".myeditor"+itemIndex;
        /*
        var editor = new Simditor({
            textarea: $(editorClassName),
            toolbar: [
            'ol', 'ul', 'link', 'indent', 'outdent','alignment'
            ]
        });
        */

        itemIndex++;
    });
    
    $('#defaultTimeSlotBanbox .layui-tab-title').on('click', function(e){ 
      if(e.target.localName == 'i'){
        layer.confirm('亲。你删除该样式，样式将无法恢复哦？', {
          btn: ['取消','确认']  ,
          icon: 3,
          skin: 'element-ui-dialog-class'
        }, function(){ 
          layer.closeAll();
        }, function(){ 
          var layId= $(e.target).parent().attr('lay-id');
          active.tabDelete( layId);
          $('.layui-btn-add').css('color',"#1E9FFF");
        });
      };
    });
  });

  /* 日期选择初始化 */
  var initArr=[];
  for(let i=0;i<itemIndex;i++){
    initArr.push(i)
  }
  initArr.length=itemIndex;
  layui.use('laydate', function(){
    laydate = layui.laydate; 
    initArr.forEach(function(item,index){
      var cheaedIndex = index;
      if (cheaedIndex == 0) return;
      laydate.render({
        elem: '#add_times' + cheaedIndex,
        min: 0,
        type: 'datetime',
        done: function (value,data) {  
          var start_time = Date.parse(new Date(value));
          var end_time = Date.parse(new Date($('#add_timeE'+cheaedIndex).val()));
          if (start_time >= end_time) {
            layer.msg('开始时间不能大于结束时间', { time: 5000 });
            return false;
          }
        }
      });
      laydate.render({
        elem: '#add_timeE' + cheaedIndex,
        min: 0,
        type: 'datetime', 
        done: function (value) { 
          var end_time = Date.parse(new Date(value));
          var start_time = Date.parse(new Date($('#add_times'+cheaedIndex).val()));
          if (start_time >= end_time) {
            layer.msg('开始时间不能大于结束时间', { time: 5000 });
            return false;
          }
        }
      }); 

    }) ;
     
  });

  function swapItems(arr, index1, index2) {
    arr[index1] = arr.splice(index2,1,arr[index1])[0];
    return arr;
  }
  function upData(arr, index) {
  　if (arr.length > 1 && index !== 0) {
      newArr = swapItems(arr, index, index - 1);
      return newArr;
  　}
  }
  function downData(arr, index) {
    if (arr.length > 1 && index !== (this.arr.length - 1)) {
      newArr = swapItems(arr, index, index + 1);
      return newArr;
　　}
  }

    $('#changeRowSpacing > div').click(function() {
        var value = $(this).index() == 1 ? 0 : 1;
        switch(value) {
            case 0:
                $('#rowSpacingSize').hide();
                break;
            case 1:
                $('#rowSpacingSize').show();
                break;
        }
    });

  /* 提交验证 */
$('#img_submit').on('click',function(){
    var startTimeArr = [];
    var endTimeArr = [];
    var timeE = '',timeS = ''; 
    for(let i = 0,len =  $('.ban-item').find('.dateTime').length; i < len ; i++){
        if($('.ban-item').find('.dateTime').eq(i).find('.js_start_time').val() == "" || $('.ban-item').find('.dateTime').eq(i).find('.js_end_time').val() == ""){
            layui.layer.msg('请设置时间段');
            return false;
        }
        timeS =  $('.ban-item').find('.dateTime').eq(i).find('.js_start_time').val();
        timeE =  $('.ban-item').find('.dateTime').eq(i).find('.js_end_time').val();

        var start_time = Date.parse(new Date(timeS));
        var end_time = Date.parse(new Date(timeE));
        if (start_time >= end_time) {
            layer.msg('开始时间不能大于结束时间', { time: 5000 });
            return false; 
        }  
        startTimeArr.push(start_time);
        endTimeArr.push(end_time);
    }
    var begin = startTimeArr.sort();
    var over = endTimeArr.sort();
    for(var k=1;k<begin.length;k++){
        if (begin[k] <= over[k-1]){
            layui.layer.msg('此时间段已设置样式，请更换其他时间段');
            return false;
        }
    }

    var imgSrcArr = [];
    $('.ban-item').each(function(index, element) {
      var target = $(this);
      var $modelName = target.find('input[name=modelName]').val();
      var $startTime = target.find('.js_start_time').val();
      var $endTime = target.find('.js_end_time').val();
      var textContent = target.find('textarea[name=textContent]').val();
      var boxPaddingLR = target.find('input[name=boxPaddingLR]').val();
      var boxPaddingTB = target.find('input[name="boxPaddingTB"]').val();
      var titleWeight = target.find('input[name="titleWeight-'+index+'"]input[type="radio"]:checked').val();
      var textColor = target.find('input[name="textColor"]').val();
      var textSize = target.find('input[name="textSize"]').val();
      var textMargin = target.find('input[name="textMargin"]').val();
      var boxWidth = target.find('input[name="boxWidth"]').val();
      var boxHeight = target.find('input[name="boxHeight"]').val();
      var boxBgC = target.find('input[name="boxBgC"]').val();
      var boxBgImg = target.find('input[name="boxBgImg-'+index+'"]').val();  
      var textPosition = target.find('input[name="textPosition-'+index+'"]input[type="radio"]:checked').val();
      var firstActive = target.find('input[name="firstActive-'+index+'"]input[type="radio"]:checked').val();

      imgSrcArr.push({
        name: $modelName,
        startTime: $startTime,
        startTimeStamp: Date.parse(new Date($startTime))/1000,
        endTime: $endTime,
        endTimeStamp: Date.parse(new Date($endTime))/1000,
        textContent: textContent,
        boxPaddingLR: boxPaddingLR,
        boxPaddingTB: boxPaddingTB,
        titleWeight: titleWeight,
        textColor: textColor,
        textSize: textSize,
        textMargin: textMargin,
        boxWidth: boxWidth,
        boxHeight: boxHeight,
        boxBgC: boxBgC,
        boxBgImg: boxBgImg,
        textPosition:textPosition,
        firstActive:firstActive
      });
    });

    $('[name=defaultTimeSlotImgItem]').val(JSON.stringify(imgSrcArr));
    $(this).next('button').trigger('click');
  });
})
</script>