{% set buyBorderSArr = [
	{name:'无',value:'none'},
	{name:'实线',value:'solid'},
	{name:'虚线',value:'dashed'},
	{name:'点状',value:'dotted'},
	{name:'双线',value:'double'},
	{name:'继承上级',value:'inherit'},
]%}

{%
	set pageData = {
		goodsBgc:data.goodsBgc is not null?data.goodsBgc:'#ffffff',
		goodsBdC:data.goodsBdC is not null?data.goodsBdC:'transparent',
		goodsBShadowdC:data.goodsBShadowdC is not null?data.goodsBShadowdC:'#CCCCCC',
		goodsFtS:data.goodsFtS|default(14),
		discountBgc:data.discountBgc is not null?data.discountBgc:'#333333',
		goodsFtC:data.goodsFtC is not null?data.goodsFtC:'#333',
		priceC:data.priceC is not null?data.priceC:'#FA386A',
		marketPriceFt:marketPriceFt|default(13),
		buyBgC:data.buyBgC is not null?data.buyBgC:'#333333',
		buyBorderC:data.buyBorderC is not null?data.buyBorderC:'transparent',
		marketPriceC:data.marketPriceC is not null?data.marketPriceC:'#999999',
		buyFtC:data.buyFtC is not null?data.buyFtC:'#ffffff',

		goodsLimitsTextColor:data.goodsLimitsTextColor is not null?data.goodsLimitsTextColor:'#333333',
		goodsLimitsTotalBgColor:data.goodsLimitsTotalBgColor is not null?data.goodsLimitsTotalBgColor:'#D8D8D8',
		goodsLimitsSoldBgColor:data.goodsLimitsSoldBgColor is not null?data.goodsLimitsSoldBgColor:'#333333',
		goodsLimitsRemainBgColor:data.goodsLimitsRemainBgColor is not null?data.goodsLimitsRemainBgColor:'#333333',
		goodsLimitsTextType:data.goodsLimitsTextType is not null?data.goodsLimitsTextType:'1',
		fs_titleFtSize:data.fs_titleFtSize is not null?data.fs_titleFtSize:40,
		soldTextC:data.soldTextC is not null?data.soldTextC:'#333333',

		tab_selectBgc:data.tab_selectBgc|default('#E33194'),
		tab_bothBdType:data.tab_bothBdType|default('1'),
		tab_endBgc:data.tab_endBgc|default('#F6F6F6'),
		tab_endTextC:data.tab_endTextC|default('#999999'),
		tab_endBdC:data.tab_endBdC|default(''),
		tab_ingBgc:data.tab_ingBgc|default('#E33194'),
		tab_ingTextC:data.tab_ingTextC|default('#FFFFFF'),
		tab_ingBdC:data.tab_ingBdC|default(''),
		tab_soonBgc:data.tab_soonBgc|default('#F6F6F6'),
		tab_soonTextC:data.tab_soonTextC|default('#999999'),
		tab_soonBdC:data.tab_soonBdC|default(''),

		downFtS:data.downFtS|default(16),
		downTextC:data.downTextC|default('#333333'),
		downBgc:data.downBgC,
		downBdRadius:data.downBdRadius|default('100%'),
		downTimeBgC:data.downTimeBgC
	}
%}

{% set tabColorOption = [
	{
		key:'tab_selectBgc',
		value:data.tab_selectBgc|default('#999999'),
		title:'选中状态背景颜色'
	},
	{
		key:'tab_unselectBgc',
		value:data.tab_unselectBgc|default('#D8D8D8'),
		title:'未选中状态背景颜色'
	},
	{
		key:'tab_selectTextC',
		value:data.tab_selectTextC|default('#FFFFFF'),
		title:'选中状态文字颜色'
	},
	{
		key:'tab_unselectTextC',
		value:data.tab_unselectTextC|default('#FFFFFF'),
		title:'未选中状态文字颜色'
	},
	{
		key:'tab_selectBdC',
		value:data.tab_selectBdC|default('transparent'),
		title:'选中状态边框颜色'
	},
	{
		key:'tab_unselectBdC',
		value:data.tab_unselectBdC|default('transparent'),
		title:'未选中状态边框颜色'
	}
]
%}

<style>
.gs-lable-block{
	margin:0 0 5px 20px;
}
.gs-lable-block+.layui-input-block,.class-manage{
	margin-left:20px
}
#killTabWrap{
    margin: 15px 0 30px;
}

#goods_tab .tab-add-btn{
	    margin: 15px 0;
    height: 32px;
    line-height: 36px;
}

</style>
{{include ('@app/files/parts/temp/goods_manager.twig')}}

<div class='design-form design-form-component design-form-visible'>
  <h3 class='component-form-title'>多时段秒杀设置
    <a href="javascript:;" class="design-form-close js_closeDesignForm icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  <blockquote class="component-form-quote">切换模板后，无蓝色标识的配置数据将被重置</blockquote>
  <div class="component-form-setting-item component-form-configure-item activity-component-from-item">
		<div class="layui-tab" id="goods_tab">
			<ul class="layui-tab-title">
				<li class="layui-this">模板选择</li>
				{# <li>商品数据</li> #}
				<li>样式设置</li>
			</ul>
			<div class="layui-tab-content layui-tab-content-parent" data-goodsType="tab">
				<div class="layui-tab-item layui-show">
						<style> {{ include('@app/htdocs/resources/stylesheets/form-less-module/theme.css') }} </style>
						{{ include ('@app/files/parts/formTemplate/components/theme.twig') }}
				</div>
				{# <div class="layui-tab-item">
					<div class="layui-form-item">
						<label class="layui-form-label public-data">商品SKU</label>
						<div class="layui-input-block">
							<textarea placeholder="请输入商品编号（SKU ID），编号与编号间用英文逗号隔开" class="layui-textarea" name="goodsSKU" data-public-tag="true">{{data.goodsSKU}}</textarea>
						</div>
						<span style="margin: 10px 0 10px 110px; display: block; color: #bbb;">"商品SKU"不可重复</span>
					</div>
					<div class="layui-form-item tab-add-btn">
						<span class="el-button el-button--primary el-button--small" id="gs_getList" style="float:right">商品管理</span>
					</div>
				</div> #}
				<div class="layui-tab-item">
					<div class="layui-carousel" id="form_carousel">
						<div carousel-item>
							<div>

								<fieldset class="layui-elem-field">
									<legend>数据添加</legend>
									{# 剩余秒数,倒计时状态0,1,2 未开始,已开始,已结束 #}
										{# <input type="hidden" name="left_time" value="{{data.left_time}}">
										<input type="hidden" name="serverTime" value="{{serverTime}}" data-public-tag="true"> #}
										<input type="hidden" name="count_textStatus" value="{{data.count_textStatus}}" data-public-tag="true">
									<div class="layui-field-box">
									{# 秒杀内容设置 #}
											<div id="killTabWrap">
											{# 	<input type="hidden" name="goodsSKU" data-public-tag="true"> #}
                        <input type="hidden" name="goodsSKUSort" value='{{json_encode_no_unicode(data.goodsSKUSort)}}'>
                        <input type="hidden" name="goodsSKUTab" value='{{json_encode_no_unicode(data.goodsSKUTab)}}' >
												<ul class="layui-hide tab-template">
													<li>
														<div class="layui-form-item">
															<div class="gs-lable-block">秒杀模块<span class="loop-index"></span>设置</div>
														</div>
														<div class="layui-form-item">
															<div class="gs-lable-block">秒杀时间段(请选择北京时间)</div>
															<div class="layui-input-block">
																<input class="layui-input down-timestamp Unwanted" readonly="readonly" type="text" value="" data-public-tag="true">
															</div>
														</div>

														<div class="layui-form-item">
															<div class="gs-lable-block">商品sku</div>
															<div class="layui-input-block">
																<input class="layui-input goods-sku Unwanted" name="goodsSKU" data-public-tag="true" value="">
															</div>
														</div>
														{# <div class="layui-form-item tab-add-btn">

														</div> #}
														<div class="geshop-third-value tab-add-btn">
																<span class="el-button el-button--primary el-button--small class-manage" style="float:left;">商品管理</span>
																<span class="img-btn delete-datetime-item">
																	<i class='icon-delete'></i>
																	<b class="tips">删除</b>
																</span>
														</div>
													</li>
												</ul>
												<ul class="tab-lists-wrap">
														{% for tabItem in data.goodsSKUTab|default(0..0) %}
															<li>
																<div class="layui-form-item">
																	<div class="gs-lable-block">秒杀模块<span class="loop-index">{{loop.index}}</span>设置</div>
																</div>

																<div class="layui-form-item">
																	<div class="gs-lable-block">秒杀时间段(请选择北京时间)</div>
																	<div class="layui-input-block">
																		<input class="layui-input down-timestamp Unwanted" readonly="readonly" type="text" value="{{tabItem.timeRange}}" data-public-tag="true" data-start="{{tabItem.dataStartTime}}" data-end="{{tabItem.dataEndTime}}">
																	</div>
																</div>

																<div class="layui-form-item">
																	<div class="gs-lable-block">商品sku</div>
																	<div class="layui-input-block">
																		<input class="layui-input goods-sku Unwanted" name="goodsSKU" data-public-tag="true" value="{{tabItem.lists}}">
																	</div>
																</div>
																{# <div class="layui-form-item tab-add-btn">

																</div> #}
																<div class="geshop-third-value tab-add-btn">
																	<span class="el-button el-button--primary el-button--small class-manage" style="float:left;">商品管理</span>
																		<span class="img-btn delete-datetime-item">
																			<i class='icon-delete'></i>
																			<b class="tips">删除</b>
																		</span>
																</div>
															</li>
														{% endfor %}
												</ul>
												<div class="layui-form-item tab-add-btn" style="margin-left:20px;">
													<span class="el-button el-button--primary el-button--small" id="gs_tab_add">新增秒杀模块</span>
												</div>
											</div>
									{# 秒杀内容设置 end #}
									</div>
								</fieldset>
								<fieldset class="layui-elem-field">
									{# 秒杀模块设置 start#}
									<legend style="margin-bottom: 20px;">常用设置</legend>
									<div class="layui-form-item">
										<label class="layui-form-label">下边距(px)</label>
										<div class="layui-input-block"><input class="layui-input" type="text" name="boxMarginBottom" value="{{data.boxMarginBottom|default('32')}}">
										</div>
									</div>
								</fieldset>
								<fieldset class="layui-elem-field">
									<legend style="margin-bottom: 20px;">Flash Sale 标题配置</legend>
									<div class="layui-form-item">
										<label class="layui-form-label">背景颜色</label>
										<div class="layui-input-block">
											<div class="color-picker-selector" data-hidden-name="fs_titleBgC">
												<div style="background-color: {{ data.fs_titleBgC|default('#FFFFFF') }};"></div>
											</div>
											<input type="text" class="layui-input" name="fs_titleBgC" autocomplete="off" value="{{ data.fs_titleBgC|default('#FFFFFF') }}">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">高度</label>
										<div class="layui-input-block"><input class="layui-input" type="text" name="fs_titleHeight" value="{{data.fs_titleHeight|default(100)}}">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">背景图片</label>
										<div class="layui-input-block">
											<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
											<input class="layui-input" type="text" name="fs_titleBgImg" value="{{data.fs_titleBgImg}}">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">文案</label>
										<div class="layui-input-block">
											{# <input class="layui-input" type="text" name="fs_titleTitle" value="{{data.fs_titleTitle|default('Flash Sale')}}"> #}
											<input type="text" name="titleNavText" autocomplete="off" class="layui-input" value="{{ data.titleNavText|default('Flash Sale') }}" data-public-tag="true">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">文本颜色</label>
										<div class="layui-input-block">
											<div class="color-picker-selector" data-hidden-name="fs_titleFtC">
												<div style="background-color: {{ data.fs_titleFtC|default('#333333') }};"></div>
											</div>
											<input type="text" class="layui-input" name="fs_titleFtC" autocomplete="off" value="{{ data.fs_titleFtC|default('#333333') }}">
										</div>
									</div>
								</fieldset>
								<fieldset class="layui-elem-field">
									<legend style="margin-bottom: 20px;">时间轴配置</legend>
									<div class="layui-form-item">
										<label class="gs-lable-block">是否显示已结束时段的秒杀内容</label>
										<div class="layui-input-block">
											<input type="radio" name="tab_endShowActive" value="1" title="是" {% if data.tab_endShowActive == '1' or data.tab_endShowActive is empty %} checked="checked" {% endif %}>
											<input type="radio" name="tab_endShowActive" value="0" title="否" {% if data.tab_endShowActive == '0'%} checked="checked" {% endif %}>
										</div>
									</div>
									{% for key,item in tabColorOption %}
										<div class="layui-form-item">
											<label class="layui-form-label">{{item.title}}</label>
											<div class="layui-input-block">
												<div class="color-picker-selector" data-hidden-name="{{item.key}}">
													<div style="background-color: {{ item.value }};"></div>
												</div>
												<input type="text" class="layui-input" name="{{item.key}}" autocomplete="off" value="{{ item.value }}">
											</div>
										</div>
									{% endfor %}

									{# 秒杀模块设置 end #}
								</fieldset>
								{% set components = [
									{
										label: '折扣标显示方式',
										type: 'radio',
										default: 0,
										name: 'discount_type',
										options: [
										{ label: '-**%', value: 0 },
										{ label: '**%OFF', value: 1 },
									]
									},
									{
										label: '折扣背景颜色',
										name: 'discount_bg_color',
										type: 'colorPicker',
										default: '#FA386A',
									},
									{
										label: '折扣文本颜色',
										name: 'discount_font_color',
										type: 'colorPicker',
										default: '#FFFFFF',
									},
									{
										label: '背景图片',
										name: 'discount_bg_image',
										type: 'image',
										default: '' ,
									},
								]%}

								{# 合并当前端的配置项 #}
								<fieldset class="layui-elem-field">
									<legend>折扣标配置</legend>
									<div class="layui-field-box">
										{{ include ('@app/files/parts/formTemplate/componentRender.twig', components) }}
									</div>
								</fieldset>
								<fieldset class="layui-elem-field">
									<legend style="margin-bottom: 20px;">商品内容配置</legend>
									<div class="layui-form-item">
										<label class="layui-form-label">鼠标划过边框颜色</label>
										<div class="layui-input-block">
											<div class="color-picker-selector" data-hidden-name="goodsBdC">
												<div style="background-color: {{ pageData.goodsBdC }};"></div>
											</div>
											<input type="text" class="layui-input" name="goodsBdC" autocomplete="off" value="{{ pageData.goodsBdC }}">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">销售价颜色</label>
										<div class="layui-input-block">
											<div class="color-picker-selector" data-hidden-name="priceC">
												<div style="background-color: {{ pageData.priceC }};"></div>
											</div>
											<input type="text" class="layui-input" name="priceC" autocomplete="off" value="{{ pageData.priceC }}" >
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">购买按钮背景颜色</label>
										<div class="layui-input-block">
											<div class="color-picker-selector" data-hidden-name="buyBgC">
												<div style="background-color: {{ pageData.buyBgC }};"></div>
											</div>
											<input type="text" class="layui-input" name="buyBgC" autocomplete="off" value="{{ pageData.buyBgC }}">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">购买按钮文本颜色</label>
										<div class="layui-input-block">
											<div class="color-picker-selector" data-hidden-name="buyFtC">
												<div style="background-color: {{ pageData.buyFtC }};"></div>
											</div>
											<input type="text" class="layui-input" name="buyFtC" autocomplete="off" value="{{ pageData.buyFtC }}">
										</div>
									</div>

									<div class="layui-form-item">
										<label class="layui-form-label">库存提示文本颜色</label>
										<div class="layui-input-block">
											<div class="color-picker-selector" data-hidden-name="goodsLimitsTextColor">
												<div style="background-color: {{ pageData.goodsLimitsTextColor }};"></div>
											</div>
											<input type="text" class="layui-input" name="goodsLimitsTextColor" autocomplete="off" value="{{ pageData.goodsLimitsTextColor }}">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">总库存条颜色</label>
										<div class="layui-input-block">
											<div class="color-picker-selector" data-hidden-name="goodsLimitsTotalBgColor">
												<div style="background-color: {{ pageData.goodsLimitsTotalBgColor }};"></div>
											</div>
											<input type="text" class="layui-input" name="goodsLimitsTotalBgColor" autocomplete="off" value="{{ pageData.goodsLimitsTotalBgColor }}">
										</div>
									</div>
									<div class="layui-form-item goodsLimitsSoldItem" style="{% if pageData.goodsLimitsTextType == '0' %}display:block;{% else %}display:none;{% endif %}">
										<label class="layui-form-label">已卖库存条颜色</label>
										<div class="layui-input-block">
											<div class="color-picker-selector" data-hidden-name="goodsLimitsSoldBgColor">
												<div style="background-color: {{ pageData.goodsLimitsSoldBgColor }};"></div>
											</div>
											<input type="text" class="layui-input" name="goodsLimitsSoldBgColor" autocomplete="off" value="{{ pageData.goodsLimitsSoldBgColor }}">
										</div>
									</div>
									<div class="layui-form-item goodsLimitsRemainItem" style="{% if pageData.goodsLimitsTextType == '1' %}display:block;{% else %}display:none;{% endif %}">
										<label class="layui-form-label">剩余库存条颜色</label>
										<div class="layui-input-block">
											<div class="color-picker-selector" data-hidden-name="goodsLimitsRemainBgColor">
												<div style="background-color: {{ pageData.goodsLimitsRemainBgColor }};"></div>
											</div>
											<input type="text" class="layui-input" name="goodsLimitsRemainBgColor" autocomplete="off" value="{{ pageData.goodsLimitsRemainBgColor }}">
										</div>
									</div>

								</fieldset>

								<div class="text-right">
									<button type="button" id="js_moreConfig" class="layui-btn layui-btn-normal layui-btn-sm">更多配置</button>
								</div>
							</div>
							<div>
								<div class="layui-tab layui-tab-vertical">
									<ul class="layui-tab-title">
										<li class="layui-this">基础配置</li>
										<li>Flash Sale标题</li>
										<li>商品基础配置</li>
										<li>购买按钮配置</li>
										<li>已卖完提示配置</li>
										<li>左右箭头配置</li>
									</ul>
									<div class="layui-tab-content">

										{# 基础配置 start #}
										<div class="layui-tab-item layui-show">
											<div class="layui-form-item">
												<label class="layui-form-label">整体背景颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="baseBgC">
														<div style="background-color: {{ data.baseBgC }};"></div>
													</div>
													<input type="text" class="layui-input" name="baseBgC" autocomplete="off" value="{{ data.baseBgC|default('#F8F8F8') }}">
												</div>
											</div>
										</div>
										{# 基础配置 end #}

										{# Flash Sale标题配置 start #}
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">下边距（px）</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="fs_titleMarginBottom" value="{{data.fs_titleMarginBottom|default(0)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">字体大小（px）</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="fs_titleFtSize" value="{{pageData.fs_titleFtSize}}">
												</div>
											</div>
										</div>
										{# Flash Sale标题配置 end #}

										{# 商品基础配置 start #}
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">上边距（px）</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="goodsMarginTop" value="{{data.goodsMarginTop|default(0)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">下边距（px）</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="goodsMarginBottom" value="{{data.goodsMarginBottom|default(20)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">鼠标滑过商品背景投影颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="goodsBShadowdC">
														<div style="background-color: {{ pageData.goodsBShadowdC }};"></div>
													</div>
													<input type="text" class="layui-input" name="goodsBShadowdC" autocomplete="off" value="{{ pageData.goodsBShadowdC }}">
												</div>
											</div>
										</div>
										{# 商品基础配置 end #}

										{# 折扣标配置 start #}



										{# 折扣标配置 end #}

										{# 购买按钮配置 start #}
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label public-data">文案</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyText" value="{{data.buyText|default(get_component_trans(lang,'buy_now'))}}" data-public-tag="true">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">字体大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyFtS" value="{{data.buyFtS|default(16)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">边框颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="buyBorderC">
														<div style="background-color: {{ pageData.buyBorderC }};"></div>
													</div>
													<input type="text" class="layui-input" name="buyBorderC" autocomplete="off" value="{{ pageData.buyBorderC }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">宽度(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyWidth" value="{{data.buyWidth|default(233)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">高度(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyHeight" value="{{data.buyHeight|default(40)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">圆角大小(px)</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="buyRadius" value="{{data.buyRadius|default('2')}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">背景图片</label>
												<div class="layui-input-block">
													<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
													<input class="layui-input" type="text" name="buyBgImg" value="{{data.buyBgImg}}">
												</div>
											</div>
										</div>
										{# 购买按钮配置 end #}

										{# 已卖完提示配置 start #}
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">文字大小（px）</label>
												<div class="layui-input-block"><input class="layui-input" type="text" name="soldFtS" value="{{data.soldFtS|default(12)}}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">文本颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="soldTextC">
														<div style="background-color: {{ pageData.soldTextC }};"></div>
													</div>
													<input type="text" class="layui-input" name="soldTextC" autocomplete="off" value="{{ pageData.soldTextC }}">
												</div>
											</div>
										</div>
										{# 已卖完提示配置 end #}

										{# 左右箭头配置 start #}
										<div class="layui-tab-item">
											<div class="layui-form-item">
												<label class="layui-form-label">背景颜色</label>
												<div class="layui-input-block">
													<div class="color-picker-selector" data-hidden-name="arrowBgC">
														<div style="background-color: {{ data.arrowBgC|default('#333333') }};"></div>
													</div>
													<input type="text" class="layui-input" name="arrowBgC" autocomplete="off" value="{{ data.arrowBgC|default('#333333') }}">
												</div>
											</div>
											<input type="hidden" name="ImgWidth" placeholder="请输入图片宽度" autocomplete="off" class="layui-input" value="{{ data.ImgWidth | default(24) }}">
											<input type="hidden" name="ImgHeight" placeholder="请输入图片宽度" autocomplete="off" class="layui-input" value="{{ data.ImgHeight | default(60) }}">
											<div class="layui-form-item">
												<label class="layui-form-label">左箭头图片（请上传宽为24px，高为60px图片）</label>
												<div class="layui-input-block">
													<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
													<input class="layui-input select-img-activity" type="text" name="arrowLBgImg" value="{{data.arrowLBgImg}}" data-valid-width="ImgWidth" data-valid-height="ImgHeight">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">右箭头图片（请上传宽为24px，高为60px图片）</label>
												<div class="layui-input-block">
													<a href="javascript:;" class="js_openResource design-open-resource"><i class="layui-icon">&#xe64a;</i></a>
													<input class="layui-input" type="text" name="arrowRBgImg" value="{{data.arrowRBgImg}}" data-valid-width="ImgWidth" data-valid-height="ImgHeight">
												</div>
											</div>
										</div>
										{# 左右箭头配置 end #}

									</div>
								</div>
								<div class="text-right">
									<button type="button" id="js_baseConfig" class="layui-btn layui-btn-normal layui-btn-sm">基础配置</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>

<div class="layui-form-item geshop-form-operation">
	<button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
		<span type="button" class="layui-btn layui-btn-normal" id="gs_submit">提交</span>
	<button type="button" class="layui-btn layui-btn-normal js_submitDesignForm layui-hide">提交</button>
</div>
<script>

/* 时间 */
function downDateInit (min, max) {
	var laydate = layui.laydate;
	var $tabTarget = $('#goods_tab');
	$('.tab-lists-wrap .down-timestamp').each(function(){
		var _this = $(this);
		laydate.render({
			elem: this
			, type: 'datetime'
			, range: true
			, done: function (value, date, endDate) {
				var dateStrArr = value.split(' - '),
					dataStartTime,
					dataEndTime;
				if (dateStrArr) {
					dataStartTime = new Date(dateStrArr[0]).getTime();
					dataEndTime = new Date(dateStrArr[1]).getTime();
					/* var serverTime = $('#gs_component_countdown').find('input[name=serverTime]').val() ||new Date().getTime(); */
					var serverTime = new Date().getTime();

					/*校验是否已存在时间*/
					var hasSameStartTime = false;
					$('.down-timestamp').each(function(){
						var dataStartItem = $(this).attr('data-start');
						if(dataStartItem == dataStartTime ){
							hasSameStartTime = true;
							layer.msg('该开始时间已有秒杀');
							setTimeout(function(){
							_this.val('');
							},500);
							return false
						}
					});
					if(hasSameStartTime){
						return false;
					}
					/*状态*/
					var status = 0,
						leftTime = 0,
						textCont = "",
						textArr = ['未开始', '已开始', '已结束'];
					if (dataStartTime > serverTime) {
						leftTime = dataStartTime - serverTime;
					} else if (dataStartTime <= serverTime && dataEndTime > serverTime) {
						status = 1;
						leftTime = dataEndTime - serverTime;
					} else if (dataEndTime < serverTime) {
						status = 2;
						leftTime = 0;
					}
					textCont = textArr[status];
					/*
					leftTime = Math.round(leftTime / 1000);
					$('#gs_component_countdown').find('input[name=left_time]').val(leftTime);
					*/
					_this.attr({"data-start":dataStartTime,"data-end":dataEndTime});
					$tabTarget.find('input[name=count_textStatus]').val(status);
				}
			}
		})
	})

};

function compareTime(property){
	return function(a,b){
		var value1 = a[property],
		value2 = b[property];
		return value1-value2
	}
}

downDateInit();

var $goodsTable = $('#form_carousel');

{# 新增秒杀模块 #}
$('#gs_tab_add').on('click',function(){
	var clone = $('.tab-template li',$goodsTable).clone();
	$('.tab-lists-wrap',$goodsTable).append(clone);
	initIndex();
	downDateInit();
});

/* 删除活动模块 */
$('body').on('click', '.delete-datetime-item', function () {
	var target = $(this).closest('li'),
		timeRange = target.find('.down-timestamp').val(),
		goodsSku = target.find('.goods-sku').val();

	if (timeRange || goodsSku) {
		layui.layer.confirm('删除当前数据不可恢复，确定是否删除？', {
			btn: ['否', '是'],
			area: '420px',
			icon: 3,
			skin: 'element-ui-dialog-class'
		}, function (index) {
			layui.layer.close(index)
		}, function (index) {
			target.remove();
			initIndex();
		});
	} else {
		target.remove();
		initIndex();
	}
});

$('#gs_submit').on('click',function(){
	var goodsArr = [];
	var goodsSortArr = [];
	var skuValidArr = 0;
	/*是否显示已结束秒杀*/
	var currentTime= new Date().getTime();
	var tab_endShowActive = $(".design-form  [name=tab_endShowActive]:checked").val();
	var timeStatusArr = [];

	$('#form_carousel input[name=goodsSKU].Unwanted').each(function(index,element){
		var $val = $(this).val();
		var $time = $(this).closest('li').find('.down-timestamp');
		var $timeRange = $time.val();
		/*sku数量校验*/
		var skuArr = $val.split(',');
		if(skuArr.length>100){
			skuValidArr++;
			$(this).addClass('sku-valid');
			return false;
		}else{
			$(this).removeClass('sku-valid');
		}

		/*开始时间不能大于结束时间*/
		if ($time.attr('data-start') > $time.attr('data-end')) {
			timeStatusArr.push(false);
		} else {
			timeStatusArr.push(true);
		}

		if($val && $timeRange){
			var startTime = $time.attr('data-start');
			var endTime = $time.attr('data-end');
			goodsArr.push({
				"timeRange":$timeRange,
				"lists":$val,
				"dataStartTime":$time.attr('data-start'),
				"dataEndTime":$time.attr('data-end')
			});
			if(tab_endShowActive == '0'  && endTime>currentTime){
				goodsSortArr.push({
					"timeRange":$timeRange,
					"lists":$val,
					"dataStartTime":$time.attr('data-start'),
					"dataEndTime":$time.attr('data-end')
				})
			}
		}
	});

	if(skuValidArr>0){
		layui.layer.msg('每个模块商品sku数量不得多于100');
		return false;
	}

	if(goodsArr.length<1){
		layui.layer.msg('秒杀时间及商品sku为必填');
		return false;
	}
{# 		debugger;
		/*开始时间不可一致*/
		var hasSameSKU = false;
		for(var i in goodsArr){
			for(var u in goodsArr){
				if(i!=u && goodsArr[i].dataStartTime == goodsArr[u].dataStartTime){
					hasSameSKU = true
				}
			}
		}

		if(hasSameSKU){
			layui.layer.msg('请勿添加开始时间相同的的秒杀');
			return false;
		}
 #}

	$('#form_carousel input[name=goodsSKUTab]:eq(0)').val(JSON.stringify(goodsArr));

	/* 排序显示*/
	if(tab_endShowActive == '1'){
		goodsSortArr = goodsArr
	}
	var goodsSkuSort = goodsSortArr.sort(compareTime('dataStartTime'));
	$('#form_carousel input[name=goodsSKUSort]:eq(0)').val(JSON.stringify(goodsSkuSort));

	function isTimeAvailable (value) {
		return value == true;
	}
	if (!timeStatusArr.every(isTimeAvailable)) {
		layui.layer.msg('开始时间不能大于结束时间！');
		return false;
	} else {
		$(this).next('button').trigger('click');
	}

});

function initIndex() {
	$('.tab-lists-wrap li').each(function(){
		var index = parseInt($(this).index()) + 1;
		$(this).find('.loop-index').text(index)
	})
}

{# 是否秒杀sku校验 #}
$(function(){
		$('body').on('change', 'input[name=goodsSKU].Unwanted', function(){
			var $this = $(this);
			var skuList = $(this).val();
			var skuArr = skuList.split(',');
		var newArr = [];
		for(var i=0;i<skuArr.length;i++){
			if(newArr.indexOf(skuArr[i]) == -1){
				newArr.push(skuArr[i]);
			}
		}
		skuArr = newArr;
		skuList = newArr.toString();
		$(this).val(skuList);

		var params = {
			lang: '{{lang}}',
			goodsSn: skuList,
			pipeline: (typeof GESHOP_PIPELINE != 'undefined' ? GESHOP_PIPELINE : '')
		};
		var url = '{{interfaceDomain}}'+'/geshop/goods/isseckill';
		var content = {content: JSON.stringify(params)};

		$.ajax({
			url: url,
			type: 'get',
			dataType: 'jsonp',
			data: content,
			success: function (res) {
				if(res.code == 0 && res.data.nokillgoogs){
					layer.confirm(''+res.data.nokillgoogs+'不存在,是否清空?', {
					title: '提示',
					btn: ['否', '是'],
					area: '420px',
					icon: 3,
					skin: 'element-ui-dialog-class'
					}, function (index) {layui.layer.close(index)}, function (index) {
					var delSkuArr = res.data.nokillgoogs.split(','),
							skuListArr = skuList.split(','),
							newSku = '';
							delSkuArr.forEach(function(delItem){
								skuListArr.forEach(function(skuItem, skuIndex){
									if (delItem == skuItem) {
										skuListArr.splice(skuIndex, 1)
									}
								})
							});
							newSku = skuListArr.toString();
							$this.val(newSku);
							layer.close(index);
					})
				}
			}
		});


		if(skuArr.length>100){
				layui.layer.msg('每个模块商品sku数量不得多于100');
				$(this).addClass('sku-valid')
		}else{
			$(this).removeClass('sku-valid')
		}
	})
});

</script>
<style>
.sku-valid{
	border-color:red;
}
</style>
