
{% 
	set pageData = {
		defaultBannerData: data.imgItem|slice(0,1)
	} 
%}

{% 
	set imageData = ""
%}


<div data-key="U000058" data-id="{{ pageInstanceId }}" data-isedit={{data.isEditEnv}} data-gid="U000058_default_timeslot_fullscreen" data-static-domain="{{staticDomain}}" class="geshop-component-box component-drag gs-index-main gs-banner-container wrap-U000058-default-timesolt_fullscreen wrap-default-timesolt_fullscreen-{{ pageInstanceId }}" style="
	{% if siteCode == 'rw-pc' %}
    height: {{data.ImgHeight | default(535)}}px;
	margin-top: {{ data.marginTop | default(0) }}px;
	margin-bottom: {{ data.marginBottom | default(0) }}px;
    {% elseif siteCode == 'rg-pc' %}
    height: {{data.ImgHeight | default(560)}}px;
	margin-top: {{ data.marginTop | default(0) }}px;
	margin-bottom: {{ data.marginBottom | default(0) }}px;
    {% elseif siteCode == 'zf-pc' %}
    height: {{data.ImgHeight | default(600)}}px;
	margin-top: {{ data.marginTop | default(0) }}px;
	margin-bottom: {{ data.marginBottom | default(0) }}px;
    {% endif %}
">



	<!-- embed stylesheet begin -->
	<style type="text/css">
		{% include 'style.twig' %}
	</style>
   
	<!-- embed stylesheet end -->

	{% if data.imgItem %}

	{# 过滤处于当前时段的banner时段数据 #}
{#	{% for key,item in data.imgItem %}#}
{#		{% if ('now'|date('U')) > item.startTimeStamp and ('now'|date('U')) < item.endTimeStamp %}#}
{#			{% set imageData = item %}#}
{#		{% endif %}#}
{#	{% endfor %}#}

	<div class="geshop swiper-container geshop-index-banner geshop-swiper-container-{{ pageInstanceId }}" data-id="{{ pageInstanceId }}" data-group='{{ json_encode_no_unicode(data.imgItem) }}'>
		<div class="swiper-wrapper">
           
			{# 没有匹配时间段数据 #}
			{% if imageData|length == 0 %}
				{% for key,item in pageData.defaultBannerData %}
					{% for it in item.imgSrc %} 
                       {% if it.imgSource is not empty %}

						<div class="geshop swiper-slide swiper-slide swiper-slide-item "  >
							<a href="{{ it.imgLink }}" class="logsss_event js-geshop-ga-click js-geshop-ga-view" geshop-component-name="{{ it.ga_name }}" style="text-align: center;"
							   {% if data.isOpenNew == 1 %}target="_blank"{% endif %}
							   data-logsss-event-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ it.imgSource }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }">
								<img class="swiper-lazy" data-src="{{ it.imgSource }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAPHx8QAAACwAAAAAAQABAAACAkQBADs=" data-original="{{ it.imgSource }}" style="width:{{data.ImgWidth}}px; height:{{data.ImgHeight}}px;"
									 data-logsss-browser-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ it.imgSource }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }">
							</a>
							<div class="swiper-lazy-preloader"></div>
						</div>
                        {% elseif data.isEditEnv == 1 %}
                        <div class="geshop swiper-slide swiper-slide swiper-slide-item"  style="background-color:#f3f3f3;">
							<div style="padding:100px 40px;font-size:12px; line-height:1.5; text-align:left; font-weight:bold; color:#999">
                               <p>说明：如果没有设置基础图片且此时段没有广告图，装修环境显示说明文字！</p>
                               <p style="color:red; padding-top:20px;">注意：预览环境和发布环境，会根据时间进行判断，若该时段有匹配广告图片优先显示匹配广告图，若没有则取基础图片，若基础图片也没有会隐藏组件</p>

                            </div>
							
						</div>
                       {% endif %}
					{% endfor %}
				{% endfor %}
			{% else %}
				{% for it in imageData.imgSrc %}
					<div class="geshop swiper-slide swiper-slide swiper-slide-item">
						<a href="{{ it.imgLink }}" class="logsss_event js-geshop-ga-click js-geshop-ga-view" geshop-component-name="{{ it.ga_name }}" style="text-align: center;"
						   {% if data.isOpenNew == 1 %}target="_blank"{% endif %}
						   data-logsss-event-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ it.imgSource }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }">
							<img class="swiper-lazy" data-src="{{ it.imgSource }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAPHx8QAAACwAAAAAAQABAAACAkQBADs=" data-original="{{ it.imgSource }}" style="width:{{data.ImgWidth}}px; height:{{data.ImgHeight}}px;"
								 data-logsss-browser-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ it.imgSource }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }">
						</a>
						<div class="swiper-lazy-preloader"></div>
					</div>
				{% endfor %}
			{% endif %}

		</div>
		<div class="geshop swiper-button-prev" style='display: none;'></div>
		<div class="geshop swiper-button-next" style='display: none;'></div>
		<div class="swiper-pagination"></div>
	</div>
	{% else %}
		{% if siteCode == 'rw-pc' %}
		<div class="geshop swiper-container geshop-index-banner"
			 style="height:{{data.ImgHeight | default(535)}}px;{% if data.default.bannerView is not empty %}background-image:url('{{ data.default.bannerView }}');background-position: center center;background-repeat:no-repeat;{% endif %}background-size:350px 270px;background-color:#EDEDED;"></div>
		{% elseif siteCode == 'rg-pc' %}
		<div class="geshop swiper-container geshop-index-banner"
			 style="height:{{data.ImgHeight | default(560)}}px;{% if data.default.bannerView is not empty %}background-image:url('{{ data.default.bannerView }}');background-position: center center;background-repeat:no-repeat;{% endif %}background-size:350px 270px;background-color:#EDEDED;"></div>
		{% elseif siteCode == 'zf-pc' %}
		<div class="geshop swiper-container geshop-index-banner"
			 style="height:{{data.ImgHeight | default(600)}}px;{% if data.default.bannerView is not empty %}background-image:url('{{ data.default.bannerView }}');background-position: center center;background-repeat:no-repeat;{% endif %}background-size:350px 270px;background-color:#EDEDED;"></div>
		{% endif %}
	{% endif %}
</div>
<link rel="stylesheet" href="{{staticDomain}}/resources/javascripts/library/swiper/swiper.min.css" type="text/css" />
	<script type="text/html" class="gs_time_banner">
{# 渲染banner #}
	<%# $.each(d.imgSrc,function(index,it){ %>
		<div class="geshop swiper-slide swiper-slide swiper-slide-item">
			<a href="<% it.imgLink %>" class="logsss_event js-geshop-ga-click js-geshop-ga-view" geshop-component-name="<% it.ga_name %>" style="text-align: center;"
			   {% if data.isOpenNew == 1 %}target="_blank"{% endif %}
			   data-logsss-event-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'<% it.imgSource %>','cporder':'{{ layoutIndex }}','rank':'<% index+1 %>'} }">
				<img class="swiper-lazy" data-src="<% it.imgSource %>" src="data:image/gif;base64,R0lGODlhAQABAIAAAPHx8QAAACwAAAAAAQABAAACAkQBADs=" data-original="<% it.imgSource %>" style="width:{{data.ImgWidth}}px; height:{{data.ImgHeight}}px;"
					 data-logsss-browser-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'<% it.imgSource %>','cporder':'{{ layoutIndex }}','rank':'<% index+1 %>'} }">
			</a>
			<div class="swiper-lazy-preloader"></div>
		</div>
	<%# }); %>
	</script>
