{%

	set pageData = {
		price_ft_weight:data.price_ft_weight|default(0),
		base_bg_shadow:data.base_bg_shadow|default(1),
		lang:data.lang|default('en'),

		base_magin_top: data.base_magin_top|default(0),
		base_magin_bottom: data.base_magin_bottom|default(32),
	    base_bgc: data.base_bgc is not null ? data.base_bgc: "#F8F8F8",
	    price_ftc: data.price_ftc is not null ? data.price_ftc: "#f30240",
	    discount_active: data.discount_active|default(1),
	    discount_bgc: data.discount_bgc is not null ? data.discount_bgc: "#FF8A00",
	    discount_ftc: data.discount_ftc is not null ? data.discount_ftc: "#FFFFFF",
	    price_fts: data.price_fts|default(22),
	    discount_right: data.discount_right|default(3),
	    discount_top: data.discount_top|default(3),
	    discount_width: data.discount_width|default(44),
	    discount_height: data.discount_height|default(44),
	    discount_bgImage: data.discount_bgImage is not null ? data.discount_bgImage,
	    discount_fts: data.discount_fts|default(16),
	    discount_off_fts: data.discount_off_fts|default(12),
	    app_vip_img: data.app_vip_img is not null ? data.app_vip_img,
	    app_vip_link: data.app_vip_link is not null ? data.app_vip_link,

	    market_active: data.market_active|default(1),

		base_view_more_url: data.base_view_more_url is not null ? data.base_view_more_url : '',
		view_more_ftc: data.view_more_ftc is not null ? data.view_more_ftc: "#333",
    	view_more_hover_ftc: data.view_more_hover_ftc is not null ? data.view_more_hover_ftc: "#333",
    	view_more_fts: data.view_more_fts|default(20),
		view_more_bold: data.view_more_bold|default(1),
		server_label_active: data.server_label_active|default(0),
		goods_img_one: data.goods_img_one|default(0)
	}
%}

<div class="geshop-component-box component-drag geshop-component-goods geshop-gb-component ui-{{ pageInstanceId }}" data-gid="U000099" data-key="U000099" data-id="{{ pageInstanceId }}" data-static-domain="{{staticDomain}}">
	{# embed stylesheet begin #}
    <style type="text/css">

		.geshop-gb-component.ui-{{ pageInstanceId }}{
			margin-top: {{ pageData.base_magin_top }}px;
			margin-bottom: {{ pageData.base_magin_bottom }}px;
		}
        [data-gid="U000099"][data-id="{{ pageInstanceId }}"] .goodsFloor {
        	background-color: {{ pageData.base_bgc }};
        }
		{# View more #}
		[data-gid="U000099"][data-id="{{ pageInstanceId }}"] .goods_viewMoreContainer {
			text-align: right;
			margin: 14px 14px 14px 0;
		}
		[data-gid="U000099"][data-id="{{ pageInstanceId }}"] .goods_viewMoreContainer .goods-view-more {
			color: {{ pageData.view_more_ftc }};
			font-size: {{ pageData.view_more_fts }}px;
		}
		[data-gid="U000099"][data-id="{{ pageInstanceId }}"] .goods_viewMoreContainer .goods-view-more-bold {
			font-family: OpenSans-Bold;
		}
		[data-gid="U000099"][data-id="{{ pageInstanceId }}"] .goods_viewMoreContainer .goods-view-more:hover {
			color: {{ pageData.view_more_hover_ftc }};
			transition: .2s ease-in-out;
		}

		{# 折扣标 #}
		[data-gid=U000099] .goodsFloor .goodsFloor_content .subjectGoodList-appVip .subjectGoodItem .gs-goods-discount{
			color:{{pageData.discount_ftc}};
			width:{{pageData.discount_width}}px;
			height:{{pageData.discount_height}}px;
			top:{{pageData.discount_top}}px;
			right:{{pageData.discount_right}}px;
			{% if pageData.discount_bgImage %}
				background:url({{pageData.discount_bgImage}}) no-repeat center center/100% 100%;
				border-radius:0;
			{% else %}
				background-color:{{pageData.discount_bgc}};
				border-radius: 50%;
			{% endif %}
		}
		[data-gid=U000099] .goodsFloor .goodsFloor_content .subjectGoodList-appVip .subjectGoodItem .gs-goods-discount span{
			font-size:{{pageData.discount_fts}}px;
		}
		[data-gid=U000099] .goodsFloor .goodsFloor_content .subjectGoodList-appVip .subjectGoodItem .gs-goods-discount .curtoff-text{
			font-size:{{pageData.discount_off_fts}}px;
		}
{% if pageData.base_bg_shadow == '0'%}
.geshop-gb-component.ui-{{ pageInstanceId }} .gs-list-item,.geshop-gb-component.ui-{{ pageInstanceId }} .gs-list-item_tag {
	box-shadow: none;
}

{% else %}
.geshop-gb-component.ui-{{ pageInstanceId }} .gs-list-item,.geshop-gb-component.ui-{{ pageInstanceId }} .gs-list-item_tag {
	box-shadow: 0px 0px 10px {{data.base_bg_shadow_color|default('#CCCCCC')}};
	-webkit-box-shadow: 0px 0px 10px {{data.base_bg_shadow_color|default('#CCCCCC')}};
}

{% endif %}
.geshop-gb-component.ui-{{ pageInstanceId }} .view-more-box{
	width:100% !important;
}
</style>
    {# embed stylesheet end #}
	<section class="gb_wrapper_common" style="width:1000px;margin:0 auto;padding: 50px 0 38px;overflow:hidden;">
	<div class="goodsFloor">
		<div class="goodsFloor_content">
	        <ul class="subjectGoodList-appVip">
	        	{# 宣传图片 #}
				<li class="subjectGoodItem gs-list-item" style="{% if pageData.goods_img_one == '1' %}height:425px{% endif %}">
					<a class=""  href="{{ pageData.app_vip_link }}" style="background: url({% if pageData.app_vip_img and pageData.app_vip_img != '' %} {{ pageData.app_vip_img }} {% elseif (pageData.app_vip_img is null or pageData.app_vip_img == '') and pageData.goods_img_one == '0' %} https://geshopimg.logsss.com/uploads/Vs4cd3nI5WEUxYZTFAp9qj6RDurbCmGS.png {% elseif (pageData.app_vip_img is null or pageData.app_vip_img == '') and pageData.goods_img_one == '1' %} https://geshopimg.logsss.com/uploads/J9LyAGDUzCWE2u3BYZrX6Pxhbgal4vIo.png {% endif %}) 0 0 no-repeat;background-size:100% 100%;display: block;height: 100%; position: relative;" target="_special">
					</a>
				</li>
				{% for key,item in data.goodsInfo|default(0..2)%}
					{% set left_number =  item.stock_num == 0 ? 0 : item.stock_num %}
					{% set goodsStatus =  left_number == 0 and data.goodsInfo? 'good_soldOut' :'goodsBuyPro'%}

					<li class="subjectGoodItem gs-list-item {{ goodsStatus }}" data-track-key="{{item.goods_sn}}" style="{% if pageData.goods_img_one == '1' %}height:425px{% endif %}">
						{# 折扣标 #}
						{% if pageData.discount_active == "1" and item.discount > 0 %}
							<div class="gs-goods-discount">
								<div class="inner">
									<span class="curtoff-box">
										<strong>{{item.discount|number_format}}%</strong>
									</span>
									<span class="curtoff-text">OFF {# {{gb_component_trans(lang , 'off' )}} #}</span>
								</div>
							</div>
						{% endif %}

						{% if pageData.discount_active == '1' and data.goodsInfo is null %}
							<div class="gs-goods-discount">
								<div class="inner">
									<span class="curtoff-box">
										<strong>20%</strong>
									</span>
									<span class="curtoff-text">OFF {# {{gb_component_trans(lang , 'off' )}} #}</span>
								</div>
							</div>
						{% endif %}
						{# 商品信息 #}
						<div class="goodInfoContainer gs-good-label-box">
							{% set img_common_height = pageData.goods_img_one == '0'?'212px':'283px'%}
							{# 图片、标题 #}
							<a class="goodInfoLink track-goodsLink" href="{{item.url_title}}" target="_special">
								{% if data.isEditEnv == '1' and data.goodsInfo %}
									<img class="goodImg js-lazyload" src="{{item.goods_img}}" style="width:212px;height:{{img_common_height}};" data-lazy="{{item.goods_img}}" >
								{% elseif data.isEditEnv == '0' and data.goodsInfo %}
									<img class="goodImg js-lazyload" src="{{data.default.good}}" style="width:212px;height:{{img_common_height}};" data-lazy="{{item.goods_img}}" title="{{item.goods_title}}" alt="{{item.goods_title}}">
								{% else %}
									<img class="goodImg" src="{% if pageData.goods_img_one == '0' %}https://geshopimg.logsss.com/uploads/PjO9WvTKw30R14FNfZkbXigxQGUaHrEV.png{% else %} https://geshopimg.logsss.com/uploads/TEcbeMHl3yDpz81UmuLnQ9IkvgjX0aYi.png{% endif %} " style="width:212px;height:{{img_common_height}};">
								{% endif %}
								<span class="goodDescript">{{item.goods_title|default('20 LED Outdoor Wireless Solar Light')}}</span>
								<i class="gs-goods-status"><span>{{gb_component_trans(lang , 'sold_out')}}</span></i>
							</a>

							{# 服务标 #}
							{% set labelBottom = 80 %}
							{% set labelLeft = 12 %}
							{{include ('@app/files/parts/temp/gb/common/default_pc/goodLabel.twig')}}

							<p class="gs-goods-price">
								{% if item.discount > 0 %}
									{% if pageData.market_active == '1' %}
										{% if item.market_price|default('0.00') and item.shop_price|default('0.00') != item.market_price|default('0.00') and item.shop_price|default('0.00') < item.market_price|default('0.00') %}
											<span class="gs-market-price js-currency" data-currency="{{item.market_price}}" data-wrap="0" data-round="2">${{item.market_price}}</span>
										{% endif %}
									{% endif %}
								{% endif %}

								{% if item.shop_price > 0 %}
									<span class="gs-shop-price">
										<strong class="js-currency" data-currency="{{item.shop_price}}" data-wrap="0" data-round="2">${{item.shop_price}}</strong>
									</span>
								{% endif %}

								
								{# 装修价格 #}
								{% if pageData.discount_active == '1' and data.goodsInfo == [] %}
									<span class="gs-market-price js-currency" data-currency="0.00" data-wrap="0" data-round="2">$0.00</span>
									<span class="gs-shop-price">
										<strong class="js-currency" data-currency="0.00" data-wrap="0" data-round="2">$0.00</strong>
									</span>
								{% endif %}
							</p>
						</div>
					</li>
				{% endfor %}
	    	</ul>
	    </div>
	</div>
	{# PO：新增View more链接 GMT+8 2018-12-18 10:20:12 #}
	{% if pageData.base_view_more_url %}
		<div class="goods_viewMoreContainer view-more-box" style="margin: 12px 12px 0 0;">
			<a class="goods-view-more view-more view-more-btn" style="{% if pageData.view_more_bold == "1" %} font-weight: 600 {% endif %}" href="{{ pageData.base_view_more_url }}" target="_blank">{{ gb_component_trans(lang , 'view_more') }} ></a>
		</div>
	{% endif %}
	</section>
</div>
