<div data-key="U000114" data-id="{{ pageInstanceId }}" data-gid="U000114_swiper" data-static-domain="{{staticDomain}}" class="wrap_{{ pageInstanceId }} geshop-component-box component-drag gs-index-main" style="
	width: {{data.ImgWidth | default(1240)}}px;
	height: {{data.ImgHeight | default(600)}}px;
	margin-top: {{ data.marginTop | default(0) }}px;
	margin-bottom: {{ data.marginBottom | default(0) }}px;
">
<style>
[data-gid="U000114_swiper"].wrap_{{ pageInstanceId }} .swiper-pagination-bullet {
  width: 40px;
  height: 2px;
  display: inline-block;
  background:rgba(255,255,255,.4);
  filter: alpha(opacity=85);
  border-radius:0%;
  background-color: #fff;
}
</style>
	{% if data.imgItem %}
	<div class="geshop swiper-container geshop-index-banner">
		<div class="swiper-wrapper">
			{% for item in data.imgItem %}
			<div class="geshop swiper-slide swiper-slide">
				<a href="{{item.url}}" class="logsss_event" style="text-align: center;"
					{% if data.isOpenNew == 1 %}target="_blank"{% endif %}
					data-logsss-event-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ item.img }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }">
					<img class="swiper-lazy" data-src="{{item.img}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAPHx8QAAACwAAAAAAQABAAACAkQBADs=" data-original="{{item.img}}" style="width:{{data.ImgWidth}}px; height:{{data.ImgHeight}}px;"
						data-logsss-browser-value="{ 'pm':'md','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','mdID':'{{ item.img }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }">
				</a>
				<div class="swiper-lazy-preloader"></div>
			</div>
			{% endfor %}
		</div>
		<div class="geshop swiper-button-prev" style='display: none;'></div>
		<div class="geshop swiper-button-next" style='display: none;'></div>
		<div class="swiper-pagination"></div>
	</div>
	{% else %}
	<div class="geshop swiper-container geshop-index-banner" style="height:{{data.ImgHeight | default(600)}}px;background-repeat:no-repeat;background-size:cover;background-position: center center;background-image:url('{{ data.default.banner }}')"></div>
	{% endif %}
</div>
<link rel="stylesheet" href="{{staticDomain}}/resources/javascripts/library/swiper/swiper.min.css" type="text/css" />
