<div class='design-form design-form-component design-form-visible'>
  <h3 class='component-form-title'>M端商品轮播组件设置
    <a href="javascript:;" class="design-form-close js_closeDesignForm icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  
  {{include ('@app/htdocs/resources/template/pc/templateList/index.twig')}}
 
  <div class="component-form-configure-item component-form-setting-item" style="padding-bottom:40px;">
    <p class='geshop-title'>常用配置</p>
    <p class="geshop-alert">请上传格式为:jpeg,jpg,webp的图片,大小小于500k</p>
    <div class="layui-form-item">
      <label class="form-label-item">
        <span class="layui-badge-dot layui-bg-orange"></span> 上边距</label>
      <div class="layui-input-block rest-input">
        <input type="text" name="marginTop" autocomplete="off" class="layui-input" value="{{ data.marginTop | default(15) }}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="form-label-item">
        <span class="layui-badge-dot layui-bg-orange"></span> 下边距</label>
      <div class="layui-input-block rest-input">
        <input type="text" name="marginBottom" autocomplete="off" class="layui-input" value="{{ data.marginBottom | default(15) }}">
      </div>
    </div>
    <div class="layui-form-item" style="display:none">
      <label class="form-label-item">
        <span class="layui-badge-dot layui-bg-orange"></span> 商品图片宽度(px)</label>
      <div class="layui-input-block rest-input">
        <input type="text" name="ImgWidth" placeholder="请输入图片宽度" autocomplete="off" class="layui-input" value="{{data.ImgWidth}}"
        />
      </div>
    </div>
    <div class="layui-form-item" style="display:none">
      <label class="form-label-item">
        <span class="layui-badge-dot layui-bg-orange"></span> 商品图片高度(px)</label>
      <div class="layui-input-block rest-input">
        <input type="text" name="ImgHeight" placeholder="请输入图片高度" autocomplete="off" class="layui-input" value="{{data.ImgHeight}}"
        />
      </div>
    </div>
    <div class="img-table">
      <input type="hidden" name="goodsSKU" data-public-tag="true">
      <div class="layui-form-item img-item layui-hide">
        <div class='layui-input-block rest-input'> 
          <div class="layui-form-item">
                <label class="form-label-item">
                  <span class="layui-badge-dot layui-bg-orange"></span> 商品SKU</label>
                <div class="layui-input-block rest-input">
                  <input type="text"  autocomplete="off"  class="layui-input Unwanted" name='imgLink'/>
                </div>
          </div> 
           <div class="geshop-third-value">  
            <span class="img-btn">
              <i class='icon-up'></i>
            </span>
            <span class="img-btn">
              <i class='icon-down'></i>
            </span>
            <span class="img-btn">
              <i class='icon-delete'></i>
            </span>
           </div>
        </div>
      </div>
      <div class='img-body'>
        {% for key, item in data.goodsSKU|default(['']) %}
        <div class="layui-form-item item-flag">
          <div class='layui-input-block rest-input'>
            <div class="layui-form-item">
                <label class="form-label-item">
                  <span class="layui-badge-dot layui-bg-orange"></span> 商品SKU</label>
                <div class="layui-input-block rest-input">
                  <input type="text"  autocomplete="off"  class="layui-input Unwanted" name='imgLink' value="{{item.lists}}"/>
                </div>
            </div>  
             <div class="geshop-third-value"  style="display:none">   
              <span class="img-btn">
                <i class='icon-up'></i>
              </span>
              <span class="img-btn">
                <i class='icon-down'></i>
              </span>
              <span class="img-btn">
                <i class='icon-delete'></i>
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="add-form-button"  style="display:none">
        <span id='img_tab_add'>新增轮播图</span>
      </div>
    </div>
  </div>

</div>
<div class="layui-form-item geshop-form-operation">
  <button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
  <span type="button" class="layui-btn layui-btn-normal" id="img_submit">提交</span>
  <button type="button" class="layui-btn layui-btn-normal js_submitDesignForm" style='display:none'>提交</button>
</div>

<style>
    .geshop-form-content{
            padding-left:20px;
    }
    .geshop-title{
          font-size:16px;
          color:#333333;
          margin-top:16px;
    }
    .label-form-item{
          font-size:14px;
          color:#333333;
    }
    .rest-input{
          margin-left:0px;
          margin-top:5px;
    }
    .img-table{
          max-height:360px;
          overflow-y:auto;
    }
    .add-form-button span{
          display:block;
          width:116px;
          height:36px;
          background:#34A8FF;
          border-radius:4px;
          text-align:center;
          line-height:36px;
          font-size:14px;
          color:#FFFFFF;
          cursor:pointer;
          margin-top:54px;
    }
    .img-btn{
            display: inline-block;
            position: relative;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            border-radius: 50%;
            background: rgba(16,93,149,0.4);
            margin: 0 2px;
    }
    .img-btn:hover{
                background:#105D95;
      }
    .img-btn i{
          display: inline-block;
          width: 12px;
          height: 12px;
          background-repeat: no-repeat;
    }
    .icon-close{
        z-index:1000;
        right:21px;
    }
</style>
<script>
  var swapItems = function(arr, index1, index2){
　　arr[index1] = arr.splice(index2,1,arr[index1])[0];
　　return arr;
  };
  function upData (arr, index) {
  　　if (arr.length > 1 && index !== 0) {
  　　　　newArr = swapItems(arr, index, index - 1);
      return newArr;
  　　}
  };
  function downData (arr, index) {
      if (arr.length > 1 && index !== (this.arr.length - 1)) {
  　　　　newArr = swapItems(arr, index, index + 1);
        return newArr;
  　　}
  };
  var $imgTable = $('.img-table');
  var flagIndex =  $('.img-body .item-flag').length;
    {#新增选择图片栏#}
  $('#img_tab_add').on('click',function(){
        flagIndex++;
        var clone = $('.img-item',$imgTable).clone();
        clone.removeClass('img-item layui-hide');
        clone.find('input[name=imgSrc]').attr('name',flagIndex);
        $('.img-body',$imgTable).append(clone);
    });
  $('#img_submit').on('click',function(){
        var imgSrcArr = [];
         $("input[name=imgLink]").each(function(index,element){
            var $goodsSKU = $(this).val();
            if($goodsSKU){
              imgSrcArr.push({
                lists:$goodsSKU,
              })
            }
          });
        $('.img-table input[name=goodsSKU]').val(JSON.stringify(imgSrcArr));
        $(this).next('button').trigger('click');
  });
  $('#current_template_name').text($('input[name="tpl_id"]').attr('title'));
  $('body').on('click','.icon-up',function(){
    var target = $(this).closest('.layui-form-item');
    
    if (target.prev('.layui-form-item').length > 0) {
      target.prev('.layui-form-item').before(target.clone());
      target.remove();
    }
  });
  $('body').on('click','.icon-up',function(){
    var target = $(this).closest('.layui-form-item');
    
    if (target.prev('.layui-form-item').length > 0) {
      target.prev('.layui-form-item').before(target.clone());
      target.remove();
    }
  });
  $('body').on('click','.icon-down',function(){
    var target = $(this).closest('.layui-form-item');
    
    if (target.next('.layui-form-item').length > 0) {
      target.next('.layui-form-item').after(target.clone());
      target.remove();
    }
  });
  $('body').on('click','.icon-delete',function(){
    var target = $(this).closest('.layui-form-item');
    target.remove();
  
  });
   </script>