{# 
    立即购买按钮 - 动画版
    @params href              商品详情链接
    @params icon              图标
    @style color              文字颜色
    @style background-color   背景颜色
    @style background-image   背景图片
    @style border-radius      圆角大小
    
 #}


{# 输出HTMl段落 #}
{% if params is not empty %}
    <div class="geshop-components-default-button-buy-animate button-buy-animate-{{ pageInstanceId }}">
        <a href="{{ params.href }}">
            <img src="{{ params.icon | default('https://geshopimg.logsss.com/uploads/sRV7tqvraM8uTbGWJkwZCjUI3FfyYxHc.png') }}" />
            <label>{{ get_component_trans(lang, 'btn_buy_now') }}</label>
        </a>
    </div>
{% endif %}


{# 输出定制化 stylesheet #}
{% if style is not empty %}

    .button-buy-animate-{{ pageInstanceId }} a {
        color: {{ style.color | default('#ffffff') }};
        {% if style['background-image'] is not empty %}
            background-image: url('{{ style['background-image'] }}');
        {% else %}
            background-color: {{ style['background-color'] | default('#333') }};
        {% endif %}
    }

{% endif %}
