<div 
	class="geshop-component-box component-drag geshop-U000203-default geshop-U000203-default-{{ pageInstanceId }}" id="U000203_{{ pageInstanceId }}" data-key="U000203" data-id="{{ pageInstanceId }}">
	{{ include('style.twig') }}
	<input type="hidden" name="editEnv" value="{{data.isEditEnv}}"/>
	<input type="hidden" name="page_show_goods_number" value="{{ data.page_show_goods_number|default(20) }}">
	<input type="hidden" name="view_more_text" value="{{ languages.view_more[lang]|default('View More') }}">
	<input type="hidden" name="view_less_text" value="{{ languages.view_less[lang]|default('View Less') }}">
	<div class="nav-container">
		<ul class="nav-list">
			{% if data.goodsInfo %}
			{% for key,item in data.goodsInfo|default(0..3) %}
				<li><span>{{item.categoryName}}</span></li>
			{% endfor %}
			{% else %}
				<li class="active"><span>Tops</span></li>
				<li><span>Dress</span></li>
				<li><span>Bottoms</span></li>
				<li><span>Swimwear</span></li>
			{% endif %}
		</ul>
		{% if data.goodsInfo %}
		{% for key,navs in data.goodsInfo %}
		<div class="goods-list clearfix" data-len="{{ navs.lists|length }}">
				<input type="hidden" name="editEnv" value="{{data.isEditEnv}}"/>
				<input type="hidden" name="platform" value=""/>
				<div class="clearfix">
						<ul class="goods-list-ul">
						{% for key,item in navs.lists %}

							<li>
								<div class="goods-items js_logsss_browser js_logsss_event_ps"
									 data-logsss-browser-value="{ 'pm':'mp','p':'gs-{{ pageId }}-{{ pageInstanceId }}','bv':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','sku':'{{ item.goods_sn }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'} }"
									 data-logsss-event-value="{ 'pm':'mp','p':'gs-{{ pageId }}-{{ pageInstanceId }}','ubcta':{'cpID':'{{ pageInstanceId }}','cpnum':'{{ compKey }}','cplocation':'{{ uiIndex }}','sku':'{{ item.goods_sn }}','cporder':'{{ layoutIndex }}','rank':'{{ loop.index }}'},'skuinfo':{'sku':'{{ item.goods_sn }}','pam':'0','pc':'{{ item.catid }}','k':'{{ item.warecode }}'} }">

                                    {{ include ('@app/files/parts/twigs/indexs/basics/goods-picture.twig',
                                        { options: {
                                            goodsImg: item.goods_img|default(data.default.good),
                                            urlTitle: item.url_title,
                                            goodsSku: item.goods_sn,
                                            goodsNum: item.goods_number | default(1),
                                            isOnSale: item.is_on_sale | default(1),
                                            lang:{
                                                soldout: get_component_trans(lang,'btn_sold_out'),
                                                shopnow:  get_component_trans(lang,'shop_now')
                                            }
                                        }
                                        }
                                    ) }}

                                    {{ include ('@app/files/parts/twigs/indexs/basics/goods-title.twig',
                                        { options: {
                                            goodsTitle: item.goods_title | default('Plus Size Mesh Panel Snowflake amPlu…'),
                                            urlTitle: item.url_title
                                        }
                                        }
                                    ) }}
									<p class="geshop-goods-item-price">

                                        {% if siteCode == 'dl-app' %}
                                            {% set goodsPrice = item.app_price | default(item.shop_price) %}
                                        {% else %}
                                            {% set goodsPrice = item.shop_price %}
                                        {% endif %}

                                        {{ include ('@app/files/parts/twigs/indexs/basics/goods-sale-price.twig',
                                            { options: {
                                                value: goodsPrice | default('0.00')
                                            }
                                            }
                                        ) }}

                                        {% if item.discount > 0 %}
                                            {% if lang == 'fr' %}
												<span class="discount">(-{{item.discount}}%)</span>
                                            {% else %}
												<span class="discount">({{item.discount}}%Off)</span>
                                            {% endif %}
                                        {% endif %}
									</p>

                                    {{ include ('@app/files/parts/twigs/indexs/basics/goods-promotions.twig',
                                        { options: {
                                            value: item.promotions
                                        }
                                        }
                                    ) }}

								</div>
							</li>

						{% endfor %}
						</ul>
				</div>
					{% if navs.link %}
						<a class="btn-seemore" target="_blank" href="{{navs.link}}">{{data.seemore_btnText | default('See More')}}>></a>
					{% endif %}
					{# view_more #}
					<div class="item-more-wrap">
						<div class="item-more-less {% if (navs.lists|length) <= data.page_show_goods_number|default(20) %}none{% endif %}">
							<div class="view_more view_more_btn"><span>{{ languages.view_more[lang]|default('View More') }}</span></div>
						</div>
					</div>
			</div>
			{% endfor %}
		{% else %}
			{% for item in (0..3) %}
			<div class="goods-list clearfix">
			<div class="clearfix">
				<ul class="goods-list-ul">
                    {% for item in (0..3) %}
						<li>
							<div class="goods-items">
								<div class="geshop-goods-img ">
									<a href="" class="js_logsss_click_delegate_ps">
										<img src="https://geshopcss.logsss.com/imagecache/geshop-test/resources/images/default/good.png" style="max-width: 100%;max-height:100%;" data-original="https://geshopcss.logsss.com/imagecache/geshop-test/resources/images/default/good.png"  class="js_gdexp_lazy js-lazy" data-module="product">
										<div class="shop-now-container">
											<div class="inner-wrapper">
												<i class="bag-img"></i>
												<span class="shop-now-text"> shop now </span>
											</div>

										</div>
									</a>
								</div>
								<a href="" class="geshop-goods-title js_logsss_click_delegate_ps" target="_blank">Plus Size Mesh Panel...</a>
								<p class="geshop-goods-item-price">
							<span class="geshop-goods-shopprice my-shop-price" data-orgp="0.00">
								<span class="icon">$</span>0.00
							</span>
									<span class="my-shop-price geshop-goods-market-price dl-has-rrp-tag" data-orgp="0.00">
								<span class="icon">$</span>0.00
							</span>
								</p>
								<p class="geshop-goods-promotions">Buy 1 Get 10% OFF…</p>
							</div>
						</li>
                    {% endfor %}
				</ul>
				</div>
				<a class="btn-seemore" target="_blank" href="">See More>></a>
			</div>
			{% endfor %}
		{% endif %}
		
		
	</div>
</div>
