		{# 倒计时 #}
		{# start wrap #}
{% if count_type == 'banner'%}
	<span class="gs-time-inner site-bold-strict"
	style="position:absolute;
	width:{{pageData.maskWidth}};
	height:{{pageData.maskHeight}}{{suffix}};
	{% if pageData.maskTop|abs > 0 %}
		top:{{pageData.maskTop}}{{suffix}};
	{% else %}
		top:{{pageData.maskTop}};
	{% endif %}
	{% if pageData.maskBottom|abs > 0 %}
		bottom:{{pageData.maskBottom}}{{suffix}};
	{% else %}
		bottom:{{pageData.maskBottom}};
	{% endif %}

	{% if pageData.maskRight|abs > 0 %}
		right:{{pageData.maskRight}}{{suffix}};
	{% else %}
		right:{{pageData.maskRight}};
	{% endif %}

	{% if pageData.maskLeft|abs > 0 %}
		left:{{pageData.maskLeft}}{{suffix}};
	{% else %}
		left:{{pageData.maskLeft}};
	{% endif %}
	{% if pageData.countdownCenter == '1' %} margin:0 auto;{% endif %}
	{% if data.countDownMaskActive|default('1') == '1' %}	background-color:{{data.downBgC|default('#ffffff')}}; {% endif %}
	opacity:{{(data.maskOpacity|default('80')/100)}};
	border-radius:{{pageData.maskRadius}}{{suffix}};
	font-size:{{pageData.maskFtS}}{{suffix}};
	display: table;
	line-height:{{pageData.maskFtS*1.5}}{{suffix}};
	">
{% else %}
	<span class="gs-time-inner site-bold-strict" style="height:auto;line-height:{{pageData.downFtS*1.5}}{{suffix}};color:{{pageData.downC}}">
{% endif %}
		{% if count_type == 'banner'%}
		<div style="display:table-cell;vertical-align: middle;">
		{% else %}
		<div>
		{% endif %}
			{% if data.downClockActive|default(1) == '1' %}
				<i class="icon-clock-black" style="{% if data.downClockImg %} background-image:url({{data.downClockImg}}); {% endif %}"></i>
			{% endif %}
			<div class="gs-down-title"><span style="font-size:{{pageData.headerTitleFtS}}{{suffix}};line-height:1.2;">{{pageData.titleNavText}}</span></div>

					{% if  data.dataStartTime !='' and data.dataEndTime !=''
					or data.goodsSKUList is null or data.goodsSKUList == '' %}

						<div class="gs-down-inner">
							<div class="gs-down-text" style="
							{# color:{{data.downCl|default('#666666')}}; #}
							font-size:{{pageData.downFtS}}{{suffix}};
							vertical-align: middle;
							color:{{pageData.downStatusC}};

							{% if count_type == 'banner' or device_type == 'mobile'%}margin:0;display:block;{% endif %}">
								{% if pageData.count_textStatus == 0%}
									{{pageData.downBfText}}
								{% elseif pageData.count_textStatus == 1%}
									{{pageData.downIngText}}
								{% else %}
									{{pageData.downAfText}}
								{% endif %}
							</div>
								<input type="hidden" name="serverTime" value="{{serverTime}}" data-start-time="{{data.dataStartTime}}" data-end-time="{{data.dataEndTime}}" data-textObj="{{pageData.downStarts}},{{pageData.downEnds}},{{pageData.downAfText}}"
								>
								<span class="gs_component_countDown" data-left-time="0"
								style="color:{{pageData.downCl}};
								font-size:{{pageData.downFtS}}{{suffix}};
								vertical-align: middle;
								font-weight: bold;
								display:inline-block;
								">
								{# <strong>00 day(S)</strong> #}
								{% if data.siteCode|default('zf-pc') == 'zf-pc' or data.siteCode == 'zf-wap' or data.siteCode == 'zf-app' %}
										<em>00</em>:<em>00</em>:<em>00</em>
								{% else %}
										<em>00</em>:<em>00</em>:<em>00</em>:<em>00</em>
								{% endif %}
								</span>
						</div>


					{% endif %}

		</div>
	</span>
		{# end wrap #}
