<input type="hidden" name="gsSelectLevel0" value="{{tabItem.ips.gsSelectLevel0 | default('')}}" class="Unwanted">
<input type="hidden" name="gsSelectLevel1" value="{{tabItem.ips.gsSelectLevel1 | default('')}}" class="Unwanted">
<input type="hidden" name="gsSelectLevel2" value="{{tabItem.ips.gsSelectLevel2 | default('')}}" class="Unwanted">
<input type="hidden" name="ipsInfo" value='{% if tabItem.ips.ipsInfo is not empty %}{{json_encode_no_unicode(tabItem.ips.ipsInfo) }}{% endif %}'>
<div class="layui-form-item">
    <div class="layui-input-block" style="margin-left:0;">
        <input class="Unwanted tabItemRadio" type="radio" name="skuFrom{{key | default('')}}" lay-filter="skuFrom{{key | default('')}}" value="2" title="选品系统" {% if tabItem.skuFrom == '2' %} checked="checked" {% endif %}>
        <input class="Unwanted tabItemRadio" type="radio" name="skuFrom{{key | default('')}}" lay-filter="skuFrom{{key | default('')}}" value="1" title="商品SKU" {% if tabItem.skuFrom == '1' or tabItem.skuFrom is empty %} checked="checked" {% endif %}>
    </div>
</div>
<div class="goods-hide {% if tabItem.skuFrom|default('1') == '2' %}goods-visible{% endif %}" data-target="skuFrom-2">

    <div class="gs-tab-select-wraper">
        <ul class="gs-tab-title">
            <div class="layui-input-block ips-input-block" style="margin-left:0;">
                <input class="Unwanted ipsItemRadio" type="radio" name="ipsMethods{{key | default('')}}" lay-filter="ipsMethods{{key | default('')}}" value="2" title="手动" {% if tabItem.ipsMethods == '2' or tabItem.ipsMethods is empty %} checked="checked" {% endif %}>
                <input class="Unwanted ipsItemRadio" type="radio" name="ipsMethods{{key | default('')}}" lay-filter="ipsMethods{{key | default('')}}" value="1" title="自动" {% if tabItem.ipsMethods == '1' %} checked="checked" {% endif %}>
            </div>
        </ul>

        {# 手动 #}
        <div class="gs-tab-select-item gs-tab-select-ips goods-hide {% if tabItem.ipsMethods|default('2') == '2' %}goods-visible{% endif %}">
            <div class="select-item">
                <label class="gs-block">一级活动信息</label>

                <select class="gs-select-box gs-select-box-first gs-select-level0" data-istabselect="1" data-activity-id = "{{tabItem.ips.gsSelectLevel0 | default(0)}}" data-level="0" lay-ignore placeholder="请输入活动名称" data-searchplaceholder="搜索分类">
                    <option value="{% if tabItem.ips.ipsInfo.level0.id is not empty %}{{tabItem.ips.ipsInfo.level0.id}}{% else %}{{tabItem.ips.gsSelectLevel0  | default(0)}}{% endif %}">{% if tabItem.ips.ipsInfo.level0.name is not empty %}{{ tabItem.ips.ipsInfo.level0.name }}{% else %}{{ tabItem.ips.gsSelectLevel0 | default('请选择活动')}}{% endif %}</option>
                </select>
            </div>
            <div class="select-item">
                <label class="gs-block">二级活动信息</label>
                <select class="gs-select-box gs-select-box-second gs-select-level1" data-istabselect="1" data-parent-activity-id="{{tabItem.ips.gsSelectLevel0 |default(0)}}"  data-activity-id = "{{tabItem.ips.gsSelectLevel1 | default(0)}}" data-level="1" lay-ignore placeholder="请输入活动名称" data-searchplaceholder="搜索分类">
                    <option value="{% if tabItem.ips.ipsInfo.level1.id is not empty %}{{tabItem.ips.ipsInfo.level1.id}}{% else %}{{tabItem.ips.gsSelectLevel1 | default(0)}}{% endif %}">{% if tabItem.ips.ipsInfo.level1.name is not empty %}{{ tabItem.ips.ipsInfo.level1.name }}{% else %}{{ tabItem.ips.gsSelectLevel1 | default('请选择活动')}}{% endif %}</option>
                </select>
            </div>
            <div class="select-item">
                <label class="gs-block">三级活动信息</label>
                <select class="gs-select-box gs-select-box-third gs-select-level2" data-istabselect="1" data-parent-activity-id="{{tabItem.ips.gsSelectLevel1 |default(0)}}"  data-activity-id = "{{tabItem.ips.gsSelectLevel2 | default(0)}}" data-level="2" lay-ignore placeholder="请输入活动名称" data-searchplaceholder="搜索分类">
                    <option value="{% if tabItem.ips.ipsInfo.level2.id is not empty %}{{tabItem.ips.ipsInfo.level2.id}}{% else %}{{tabItem.ips.gsSelectLevel2 | default(0)}}{% endif %}">{% if tabItem.ips.ipsInfo.level2.name is not empty %}{{ tabItem.ips.ipsInfo.level2.name }}{% else %}{{ tabItem.ips.gsSelectLevel2 | default('请选择活动')}}{% endif %}</option>
                </select>
            </div>
            <input type="hidden" class="goods-sku-data Unwanted" value="{% if tabItem.ips.ipsInfo.ipsSku is not empty %}{{tabItem.ips.ipsInfo.ipsSku}}{% endif %}" name="ipsGoodsSKU" data-from="ips">
        </div>

        {# 自动 #}
        <div class="gs-tab-select-item gs-tab-select-autoIps  goods-hide {% if tabItem.ipsMethods|default('2') == '1' %}goods-visible{% endif %}">
            <div class="layui-form-item ">
                <input type="hidden" class="Unwanted" name="gsSelectAutoLevel" value="1">
                <input type="hidden" name="thirdAutoSelectInfo" data-public-tag="true" value='{{ json_encode_no_unicode(data.thirdAutoSelectInfo) }}'>
                <div class="select-item">
                    <label class="gs-block">一级活动信息</label>


                    <select class="gs-select-box gs-select-box-first gs-select-level-ips-auto" data-istabselect="1" data-level="3" data-activity-id = "{{tabItem.ips.level1.id | default(0)}}" lay-ignore placeholder="请输入活动名称" data-searchplaceholder="搜索分类">
                        <option value="{{tabItem.ips.level1.id | default(0)}}">{{tabItem.ips.level1.name | default('请选择活动')}}</option>
                    </select>
                </div>
                <div class="select-item">
                    <label class="gs-block">二级活动信息</label>

                    <select class="gs-select-box gs-select-box-second gs-select-level2-ips-auto" data-level="4" data-parent-activity-id="{{tabItem.ips.level1.id | default(0)}}" data-activity-id = "{{tabItem.ips.level2.id | default(0)}} " lay-ignore placeholder="请输入活动名称">
                        <option value="{{tabItem.ips.level2.id | default(0)}}">{{tabItem.ips.level2.name | default('请选择活动')}}</option>
                    </select>
                </div>
                <div class="gs-select-item-wraper ">
                    {% if tabItem.ips.level3 %}
                        {% for item in tabItem.ips.level3 %}
                            <div class="gs-select-item">
                                <label class="gs-block act-title-label">活动<span class="title-index">{{ loop.index }}</span></label>
                                <div class="gs-select-level3-wraper">
                                    <div class="select-item">
                                        <label class="gs-block">三级活动信息</label>
                                        {# <select class="gs-select-box gs-select-box-third   gs-select-level3-ips-auto" data-istabselect="1" lay-ignore placeholder="请输入活动名称">
                                            {% if data.thirdAutoSelectInfo %}
                                            {% for it in data.thirdAutoSelectInfo %}
                                            <option value="{{ it.activity_child_id }}">{{ it.activity_child_title }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select> #}
                                        <select class="gs-select-box gs-select-box-third gs-select-level3-ips-auto" data-level="5" data-parent-activity-id="{{tabItem.ips.level2.id | default(0)}}" data-activity-id = "{{item.id | default(0)}} " lay-ignore placeholder="请输入活动名称">
                                            <option value="{{ item.id | default(0)}}">{{ item.name | default('请选择活动')}}</option>

                                        </select>
                                    </div>
                                    <div class="select-item">
                                        <label class="gs-block">SKU显示数量</label>
                                        <input class="layui-input sku-select-input" type="number" name="" value="{{ item.sku_num | default('') }}">
                                    </div>
                                </div>
                                <div class="geshop-third-value mr-10">
                                    <span class="img-btn class-up-ips">
                                        <i class='icon-up'></i>
                                        <b class="tips">上移</b>
                                    </span>
                                    <span class="img-btn class-down-ips">
                                        <i class='icon-down'></i>
                                        <b class="tips">下移</b>
                                    </span>
                                    <span class="img-btn class-close-ips">
                                        <i class='icon-delete' data=""></i>
                                        <b class="tips" >删除</b>
                                    </span>
                                    <span class="img-btn class-add-ips">
                                        <i class='icon-add'></i>
                                        <b class="tips">新增</b>
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="gs-select-item">
                            <label class="gs-block act-title-label">活动<span class="title-index">1</span></label>
                            <div class="gs-select-level3-wraper">
                                <div class="select-item">
                                    <label class="gs-block">三级活动信息</label>

                                    <select class="gs-select-box gs-select-box-third gs-select-level3-ips-auto" data-level="5" data-parent-activity-id="{{tabItem.ips.level2.id | default(0)}}" data-activity-id = "0 " lay-ignore placeholder="请输入活动名称">
                                        <option value="0">请选择活动</option>
                                    </select>

                                </div>
                                <div class="select-item">
                                    <label class="gs-block">SKU显示数量</label>
                                    <input class="layui-input sku-select-input" type="number" name="" value="">
                                </div>
                            </div>
                            <div class="geshop-third-value mr-10">
                                <span class="img-btn class-up-ips">
                                    <i class='icon-up'></i>
                                    <b class="tips">上移</b>
                                </span>
                                <span class="img-btn class-down-ips">
                                    <i class='icon-down'></i>
                                    <b class="tips">下移</b>
                                </span>
                                <span class="img-btn class-close-ips">
                                    <i class='icon-delete' data=""></i>
                                    <b class="tips" >删除</b>
                                </span>
                                <span class="img-btn class-add-ips">
                                    <i class='icon-add'></i>
                                    <b class="tips">新增</b>
                                </span>
                            </div>
                        </div>
                    {% endif %}

                </div>

            </div>
        </div>

    </div>


</div>
<div class="goods-hide {% if tabItem.skuFrom|default('1') == '1' %}goods-visible{% endif %} rest-input" data-target="skuFrom-1">
        <textarea class="layui-textarea Unwanted geshop-msgoods-sku js-valid-skus" name="goodsSKU" data-public-tag="true" data-from="sku">{{tabItem.lists}}</textarea>
</div>
<div class="layui-form-item tab-add-btn class-manage" data-from="tabs">
    <span class="el-button  el-button--small btn-goods">商品管理</span>
</div>
<style>
    .class-manage{
        float:right;
    }
    .btn-goods{
        color: #1E9FFF;
        width:88px;
        height:40px;
        line-height: 40px;
        background:rgba(244,250,255,1);
        border-radius:4px;
        border:1px solid rgba(189,227,255,1);
        margin-top: 8px;
        padding: 0;
    }
</style>
