<style>
.gs-tips{
	font-size: 12px;
	color: #9E9E9E;
}
</style>
<div class='design-form design-form-component design-form-visible'>
  <h3 class='component-form-title'>视频组件(GB) 配置
    <a href="javascript:;" class="design-form-close js_closeDesignForm gb-icon-close">
      <i class="el-icon-close"></i>
    </a>
  </h3>
  <blockquote class="component-form-quote">切换模板后，无蓝色标识的配置数据将被重置</blockquote>
  <div class="component-form-setting-item component-form-configure-item activity-component-from-item">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">模板选择</li>
				<li>视频设置</li>
        <li>样式设置</li>
      </ul>
      <div class="layui-tab-content layui-tab-content-parent">
        <div class="layui-tab-item layui-show">
						<style> {{ include('@app/htdocs/resources/stylesheets/form-less-module/theme.css') }} </style>
						{{ include ('@app/files/parts/formTemplate/components/theme.twig') }}
				</div>
				<div class="layui-tab-item">
					<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">商品数据</legend>
					<div class="layui-form-item">
						<label class="gs-label-block">视频内容添加</label>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label public-data">YouTube视频编码</label>
						<div class="layui-input-block">
							<input type="text" name="video_code" autocomplete="off" class="layui-input" value="{{ data.video_code }}" data-public-tag="true">
						</div>
					</div>
				</div>
        <div class="layui-tab-item">
					<div class="layui-carousel" id="form_carousel">
						<div carousel-item>
							<div>
									<fieldset class="layui-elem-field">
										<legend style="margin-bottom: 20px;margin-left:20px;font-size:18px;">常用配置 (此组件只适用于通栏)</legend>
											{# <div class="layui-form-item">
												<label class="layui-form-label">上边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="padding_top" autocomplete="off" class="layui-input" value="{{ data.padding_top | default(0) }}">
												</div>
											</div> #}
											<div class="layui-form-item">
												<label class="layui-form-label">组件下边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="base_magin_bottom" autocomplete="off" class="layui-input" value="{{ data.base_magin_bottom | default(32) }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">组件左边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="padding_left" autocomplete="off" class="layui-input" value="{{ data.padding_left | default(0) }}">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">组件右边距(px)</label>
												<div class="layui-input-block">
													<input type="text" name="padding_right" autocomplete="off" class="layui-input" value="{{ data.padding_right | default(0) }}">
												</div>
											</div>
											{# <div class="layui-form-item">
												<label class="layui-form-label public-data">播放器宽度(px)</label>
												<div class="layui-input-block">
													<input type="text" name="video_width" autocomplete="off" class="layui-input" value="{{ data.video_width | default(640) }}" data-public-tag="true">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label public-data">播放器高度(px)</label>
												<div class="layui-input-block">
													<input type="text" name="video_height" autocomplete="off" class="layui-input" value="{{ data.video_height | default(360) }}" data-public-tag="true">
												</div>
											</div> #}
											<div class="layui-form-item">
												<label class="layui-form-label public-data">组件宽度(px)</label>
												<div class="layui-input-block">
													<input type="text" name="com_video_width" autocomplete="off" class="layui-input" value="{{ data.com_video_width | default(565) }}" data-public-tag="true">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label public-data">组件高度(px)</label>
												<div class="layui-input-block">
													<input type="text" name="com_video_height" autocomplete="off" class="layui-input" value="{{ data.com_video_height | default(455) }}" data-public-tag="true">
												</div>
											</div>
									</fieldset>

							</div>
						</div>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="layui-form-item geshop-form-operation">
  <button type="button" class="layui-btn layui-btn-primary js_closeDesignForm">取消</button>
  <button type="button" class="layui-btn layui-btn-normal js_submitDesignForm">提交</button>
</div>
