{% set remUnit = 37.5 %}

{% set titleData = {
	title_height:(data.title_height|default(80))/remUnit,
	title_titleWidth:(data.title_titleWidth|default(400))/remUnit,
	title_titleFont:(data.title_titleFont|default(16))/remUnit,
}%}

<div data.title_-gid="gs-m-title-nomore" data.title_-key="U000032"  attr="nav_flag">
	<div style="
		{% if data.title_boxMarginTop %}margin-top: {{ data.title_boxMarginTop / 75 | number_format(3, '.') }}rem;{% endif %}
		{% if data.title_boxMarginBottom %}margin-bottom: {{ data.title_boxMarginBottom / 75 | number_format(3, '.') }}rem;{% endif %}
		{# {% if data.title_boxPaddingTop %}padding-top: {{ data.title_boxPaddingTop / 75 | number_format(3, '.') }}rem;{% endif %}
		{% if data.title_boxPaddingBottom %}padding-bottom: {{ data.title_boxPaddingBottom / 75 | number_format(3, '.') }}rem;{% endif %} #}
		padding-top: {{ (data.boxPaddingTop|default(40)) /75 | number_format(3, '.') }}rem;
		padding-bottom: {{ (data.boxPaddingBottom|default(40)) /75 | number_format(3, '.') }}rem;
		{# height:{{titleData.title_height}}rem; #}
		{# line-height:{{titleData.title_height}}rem; #}
		line-height: 1.5;
		background-image: url({% if data.title_imgSrc %}{{ data.title_imgSrc }}{% else %}{% endif %});
		background-position: center;
		background-repeat: no-repeat;
		background-color:{% if data.title_bgColor %}{{ data.title_bgColor }}{% else %} #b2dff2{% endif %};
		background-size: 50%;
		text-align:center;
		width:100%;
		overflow: hidden;
	">
		<a style="
			display:block;cursor: pointer;
			font-size:{{titleData.title_titleFont}}rem;
			color:{% if data.title_titleColor %}{{ data.title_titleColor }}{% else %} #000{% endif %};
			font-weight:{% if data.title_titleWeight %}{{ data.title_titleWeight }}{% else %} bold{% endif %};
			width:{{titleData.title_titleWidth}}rem;
			max-width: 100%;
			margin-left:auto;
			margin-right:auto;
			{% if data.title_titleBgI %}background:url('{{data.title_titleBgI}}') no-repeat center center/100%{% endif %}
		">
			{% if data.titleText %}{{ data.titleText }}{% else %}请设置导航标题{% endif %}
		</a>
	</div>
</div>
