<a href="{{ data.link }}" style="display: block; margin-top: {{ data.marginTop | default(0) }}px; margin-bottom: {{ data.marginBottom | default(0) }}px;text-align: {{ data.imgAlign }};">
  <img width="{{ data.ImgWidth }}" height="{{ data.ImgHeight }}" alt="{{ data.imgAlt }}" src="{{ data.imgSrc }}" style="margin-left: {{ data.marginLeft | default(0) }}px;margin-right: {{ data.marginRight | default(0) }}px;{% if data.imgSrc|length == 0 %}max-width: 100%;{% endif %}vertical-align:top;">
</a>
