<div class="geshop-188d-app-share is-hidden">
  <div class="geshop-188d-dialog-mask"></div>
  <div class="geshop-188d-app-share-icons">
    <div class="share-icon-item">
      <img class="share-icon js_app_share_btn" data-type="facebook" src="{{ data.share_facebook_icon | default(data.default.u000187_default_fb) }}"/>	
      <p>Facebook</p>
    </div>
    <div class="share-icon-item">
      <img class="share-icon js_app_share_btn" data-type="twitter" src="{{ data.share_twitter_icon | default(data.default.u000187_default_twitter) }}"/>
      <p>Twitter</p>
    </div>
    <div class="share-icon-item">
      <img class="share-icon js_app_share_btn" data-type="pinterest" src="{{ data.share_pinterest_icon | default(data.default.u000187_default_pinterest) }}"/>
      <p>Pinterest</p>
    </div>
    {# <div class="share-icon-item">
      <img class="share-icon js_app_share_btn" data-type="google" src="{{ data.share_google_icon | default(data.default.u000187_default_google) }}"/>
      <p>Google +</p>
    </div> #}
    {# <div class="share-icon-item">
      <img class="share-icon js_share_btn" data-type="line" src="{{ data.share_line_icon | default(data.default.u000187_default_line) }}"/>
      <p>Link</p>
    </div> #}
  </div>
  <div class="geshop-188d-app-share-close"><span class="close js_app-share-close-btn"></span></div>
</div>